xsd/pml/pml-viewProperties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.openxmlformats.org/presentationml/2006/main" xmlns="http://schemas.openxmlformats.org/presentationml/2006/main" xmlns:p="http://schemas.openxmlformats.org/presentationml/2006/main" xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/main" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="pml-baseTypes.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="shared-relationshipReference.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/main" schemaLocation="dml-baseTypes.xsd" />
  <xsd:simpleType name="ST_SplitterBarState">
    <xsd:annotation>
      <xsd:documentation>Splitter Bar State</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="minimized">
        <xsd:annotation>
          <xsd:documentation>Min</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="restored">
        <xsd:annotation>
          <xsd:documentation>Restored</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="maximized">
        <xsd:annotation>
          <xsd:documentation>Max</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ViewType">
    <xsd:annotation>
      <xsd:documentation>List of View Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="sldView">
        <xsd:annotation>
          <xsd:documentation>Normal Slide View</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="sldMasterView">
        <xsd:annotation>
          <xsd:documentation>Slide Master View</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="notesView">
        <xsd:annotation>
          <xsd:documentation>Notes View</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="handoutView">
        <xsd:annotation>
          <xsd:documentation>Handout View</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="notesMasterView">
        <xsd:annotation>
          <xsd:documentation>Notes Master View</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="outlineView">
        <xsd:annotation>
          <xsd:documentation>Outline View</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="sldSorterView">
        <xsd:annotation>
          <xsd:documentation>Slide Sorter View</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="sldThumbnailView">
        <xsd:annotation>
          <xsd:documentation>Slide Thumbnail View</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_NormalViewPortion">
    <xsd:attribute name="sz" type="a:ST_PositiveFixedPercentage" use="required">
      <xsd:annotation>
        <xsd:documentation>Normal View Dimension Size</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="autoAdjust" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Auto Adjust Normal View</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_NormalViewProperties">
    <xsd:sequence>
      <xsd:element name="restoredLeft" type="CT_NormalViewPortion" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Normal View Restored Left Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="restoredTop" type="CT_NormalViewPortion" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Normal View Restored Top Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="showOutlineIcons" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Outline Icons in Normal View</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="snapVertSplitter" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Snap Vertical Splitter</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="vertBarState" type="ST_SplitterBarState" use="optional" default="restored">
      <xsd:annotation>
        <xsd:documentation>State of the Vertical Splitter Bar</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="horzBarState" type="ST_SplitterBarState" use="optional" default="restored">
      <xsd:annotation>
        <xsd:documentation>State of the Horizontal Splitter Bar</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="preferSingleView" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Prefer Single View</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_CommonViewProperties">
    <xsd:sequence>
      <xsd:element name="scale" type="a:CT_Scale2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>View Scale</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="origin" type="a:CT_Point2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>View Origin</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="varScale" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Variable Scale</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_NotesTextViewProperties">
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="cViewPr" type="CT_CommonViewProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Base properties for Notes View</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_OutlineViewSlideEntry">
    <xsd:attribute ref="r:id" use="required">
      <xsd:annotation>
        <xsd:documentation>Relationship Identifier</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="collapse" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Collapsed</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_OutlineViewSlideList">
    <xsd:sequence>
      <xsd:element name="sld" type="CT_OutlineViewSlideEntry" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Presentation Slide</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_OutlineViewProperties">
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="cViewPr" type="CT_CommonViewProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Common View Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sldLst" type="CT_OutlineViewSlideList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>List of Presentation Slides</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_SlideSorterViewProperties">
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="cViewPr" type="CT_CommonViewProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Base properties for Slide Sorter View</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="showFormatting" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Formatting</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Guide">
    <xsd:attribute name="orient" type="ST_Direction" use="optional" default="vert">
      <xsd:annotation>
        <xsd:documentation>Guide Orientation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pos" type="a:ST_Coordinate32" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Guide Position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_GuideList">
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <xsd:element name="guide" type="CT_Guide" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A Guide</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_CommonSlideViewProperties">
    <xsd:sequence>
      <xsd:element name="cViewPr" type="CT_CommonViewProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Base properties for Slide View</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="guideLst" type="CT_GuideList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>List of Guides</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="snapToGrid" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Snap Objects to Grid</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="snapToObjects" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Snap Objects to Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showGuides" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Show Guides in View</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_SlideViewProperties">
    <xsd:sequence>
      <xsd:element name="cSldViewPr" type="CT_CommonSlideViewProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_NotesViewProperties">
    <xsd:sequence>
      <xsd:element name="cSldViewPr" type="CT_CommonSlideViewProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Common Slide View Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_ViewProperties">
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <xsd:element name="normalViewPr" type="CT_NormalViewProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Normal View Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="slideViewPr" type="CT_SlideViewProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide View Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="outlineViewPr" type="CT_OutlineViewProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Outline View Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="notesTextViewPr" type="CT_NotesTextViewProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Notes Text View Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sorterViewPr" type="CT_SlideSorterViewProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide Sorter View Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="notesViewPr" type="CT_NotesViewProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Notes View Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gridSpacing" type="a:CT_PositiveSize2D" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Grid Spacing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="lastView" type="ST_ViewType" use="optional" default="sldView">
      <xsd:annotation>
        <xsd:documentation>Last View</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showComments" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Comments</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="viewPr" type="CT_ViewProperties">
    <xsd:annotation>
      <xsd:documentation>Presentation-wide View Properties</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>