xsd/pml/pml-presentationProperties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.openxmlformats.org/presentationml/2006/main" xmlns="http://schemas.openxmlformats.org/presentationml/2006/main" xmlns:p="http://schemas.openxmlformats.org/presentationml/2006/main" xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/main" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="pml-baseTypes.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="shared-relationshipReference.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/main" schemaLocation="dml-baseTypes.xsd" />
  <xsd:simpleType name="ST_HtmlPublishWebBrowserSupport">
    <xsd:annotation>
      <xsd:documentation>Web browsers supported for HTML output</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="v4">
        <xsd:annotation>
          <xsd:documentation>Browser v4</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="v3">
        <xsd:annotation>
          <xsd:documentation>Browser v3</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="v3v4">
        <xsd:annotation>
          <xsd:documentation>Browser v3v4</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_HtmlPublishProperties">
    <xsd:sequence>
      <xsd:group ref="EG_SlideListChoice" minOccurs="1" maxOccurs="1"></xsd:group>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="showSpeakerNotes" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Speaker Notes</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pubBrowser" type="ST_HtmlPublishWebBrowserSupport" use="optional" default="v3v4">
      <xsd:annotation>
        <xsd:documentation>Browser Support Target</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="title" type="xsd:string" use="optional" default="">
      <xsd:annotation>
        <xsd:documentation>HTML Output Title</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="r:id" use="required">
      <xsd:annotation>
        <xsd:documentation>Publish Path</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_WebColorType">
    <xsd:annotation>
      <xsd:documentation>HTML Slide Navigation Control Colors</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>Non-specific Colors</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="browser">
        <xsd:annotation>
          <xsd:documentation>Browser Colors</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="presentationText">
        <xsd:annotation>
          <xsd:documentation>Presentation Text Colors</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="presentationAccent">
        <xsd:annotation>
          <xsd:documentation>Presentation Accent Colors</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="whiteTextOnBlack">
        <xsd:annotation>
          <xsd:documentation>White Text on Black Colors</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="blackTextOnWhite">
        <xsd:annotation>
          <xsd:documentation>Black Text on White Colors</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_WebScreenSize">
    <xsd:annotation>
      <xsd:documentation>HTML/Web Screen Size Target</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="544x376">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 544x376</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="640x480">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 640x480</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="720x512">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 720x515</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="800x600">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 800x600</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1024x768">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 1024x768</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1152x882">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 1152x882</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1152x900">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 1152x900</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1280x1024">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 1280x1024</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1600x1200">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 1600x1200</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1800x1400">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 1800x1400</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1920x1200">
        <xsd:annotation>
          <xsd:documentation>HTML/Web Size Enumeration 1920x1200</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_WebEncoding">
    <xsd:annotation>
      <xsd:documentation>Web Encoding</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"></xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_WebProperties">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="showAnimation" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Show animation in HTML output</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="resizeGraphics" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Resize graphics in HTML output</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="allowPng" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Allow PNG in HTML output</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="relyOnVml" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Rely on VML for HTML output</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="organizeInFolders" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Organize HTML output in folders</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="useLongFilenames" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Use long file names in HTML output</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="imgSz" type="ST_WebScreenSize" use="optional" default="800x600">
      <xsd:annotation>
        <xsd:documentation>Image size for HTML output</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="encoding" type="ST_WebEncoding" use="optional" default="">
      <xsd:annotation>
        <xsd:documentation>Encoding for HTML output</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="clr" type="ST_WebColorType" use="optional" default="whiteTextOnBlack">
      <xsd:annotation>
        <xsd:documentation>Slide Navigation Colors for HTML output</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_PrintWhat">
    <xsd:annotation>
      <xsd:documentation>Default print output</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="slides">
        <xsd:annotation>
          <xsd:documentation>Slides</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="handouts1">
        <xsd:annotation>
          <xsd:documentation>1 Slide / Handout Page</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="handouts2">
        <xsd:annotation>
          <xsd:documentation>2 Slides / Handout Page</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="handouts3">
        <xsd:annotation>
          <xsd:documentation>3 Slides / Handout Page</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="handouts4">
        <xsd:annotation>
          <xsd:documentation>4 Slides / Handout Page</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="handouts6">
        <xsd:annotation>
          <xsd:documentation>6 Slides / Handout Page</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="handouts9">
        <xsd:annotation>
          <xsd:documentation>9 Slides / Handout Page</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="notes">
        <xsd:annotation>
          <xsd:documentation>Notes</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="outline">
        <xsd:annotation>
          <xsd:documentation>Outline</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_PrintColorMode">
    <xsd:annotation>
      <xsd:documentation>Print Color Mode</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="bw">
        <xsd:annotation>
          <xsd:documentation>Black and White Mode</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gray">
        <xsd:annotation>
          <xsd:documentation>Grayscale Mode</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="clr">
        <xsd:annotation>
          <xsd:documentation>Color Mode</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_PrintProperties">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="prnWhat" type="ST_PrintWhat" use="optional" default="slides">
      <xsd:annotation>
        <xsd:documentation>Print Output</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="clrMode" type="ST_PrintColorMode" use="optional" default="clr">
      <xsd:annotation>
        <xsd:documentation>Print Color Mode</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hiddenSlides" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Print Hidden Slides</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="scaleToFitPaper" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Scale to Fit Paper when printing</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="frameSlides" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Frame slides when printing</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_ShowInfoBrowse">
    <xsd:attribute name="showScrollbar" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Scroll Bar in Window</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_ShowInfoKiosk">
    <xsd:attribute name="restart" type="xsd:unsignedInt" use="optional" default="300000">
      <xsd:annotation>
        <xsd:documentation>Restart Show</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:group name="EG_ShowType">
    <xsd:choice>
      <xsd:element name="present" type="CT_Empty">
        <xsd:annotation>
          <xsd:documentation>Presenter Slide Show Mode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="browse" type="CT_ShowInfoBrowse">
        <xsd:annotation>
          <xsd:documentation>Browse Slide Show Mode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kiosk" type="CT_ShowInfoKiosk">
        <xsd:annotation>
          <xsd:documentation>Kiosk Slide Show Mode</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="CT_ShowProperties">
    <xsd:sequence minOccurs="0" maxOccurs="1">
      <xsd:group ref="EG_ShowType" minOccurs="0" maxOccurs="1"></xsd:group>
      <xsd:group ref="EG_SlideListChoice" minOccurs="0" maxOccurs="1"></xsd:group>
      <xsd:element name="penClr" type="a:CT_Color" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Pen Color for Slide Show</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="loop" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Loop Slide Show</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showNarration" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Show Narration in Slide Show</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showAnimation" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Animation in Slide Show</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="useTimings" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Use Timings in Slide Show</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_PresentationProperties">
    <xsd:sequence>
      <xsd:element name="htmlPubPr" type="CT_HtmlPublishProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>HTML Publishing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="webPr" type="CT_WebProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Web Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="prnPr" type="CT_PrintProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Printing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="showPr" type="CT_ShowProperties" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Presentation-wide Show Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="clrMru" type="a:CT_ColorMRU" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color MRU</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="presentationPr" type="CT_PresentationProperties">
    <xsd:annotation>
      <xsd:documentation>Presentation-wide Properties</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>