xsd/pml/pml-slide.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.openxmlformats.org/presentationml/2006/3/main" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/presentationml/2006/3/main" xmlns:p="http://schemas.openxmlformats.org/presentationml/2006/3/main" xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/3/main" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xsd:include schemaLocation="pml-animationinfo.xsd" />
  <xsd:include schemaLocation="pml-ole.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="shared-relationships.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" schemaLocation="dml-docproperties.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" schemaLocation="dml-text.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" schemaLocation="dml-graphicalobject.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" schemaLocation="dml-audiovideo.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" schemaLocation="dml-stylesheet.xsd" />
  <xsd:complexType name="CT_HeaderFooter">
    <xsd:annotation>
      <xsd:documentation>Header/Footer Object</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="sldNum" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Slide Number Placeholder</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hdr" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Header Placeholder</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ftr" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Footer Placeholder</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dt" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Date/Time Placeholder</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_PlaceholderType">
    <xsd:annotation>
      <xsd:documentation>Placeholder IDs</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="title">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Title )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="body">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Body )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ctrTitle">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Center Title )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="subTitle">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( SubTitle )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dt">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Date/Time )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="sldNum">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Slide Number )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ftr">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Footer )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hdr">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Header )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="obj">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Object )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="chart">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Chart )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="tbl">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Table )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="clipArt">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( ClipArt )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dgm">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Diagram )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="media">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Media )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="sldImg">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Slide Image )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="pic">
        <xsd:annotation>
          <xsd:documentation>Placeholder Enumeration ( Picture )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_PlaceholderSize">
    <xsd:annotation>
      <xsd:documentation>Placeholder Size</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="full">
        <xsd:annotation>
          <xsd:documentation>Placeholder Size Enumeration ( Full )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="half">
        <xsd:annotation>
          <xsd:documentation>Placeholder Size Enumeration ( Half )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="quarter">
        <xsd:annotation>
          <xsd:documentation>Placeholder Size Enumeration ( Quarter )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_Placeholder">
    <xsd:annotation>
      <xsd:documentation>Placeholder</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="type" type="ST_PlaceholderType" use="optional" default="obj">
      <xsd:annotation>
        <xsd:documentation>Placeholder Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="orient" type="ST_Direction" use="optional" default="horz">
      <xsd:annotation>
        <xsd:documentation>Placeholder Orientation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sz" type="ST_PlaceholderSize" use="optional" default="full">
      <xsd:annotation>
        <xsd:documentation>Placeholder Size</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="idx" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Placeholder Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hasCustomPrompt" type="xsd:boolean" use="optional" default="false" />
  </xsd:complexType>
  <xsd:complexType name="CT_ApplicationNonVisualDrawingProps">
    <xsd:annotation>
      <xsd:documentation>Application Non-Visual Drawing Properties</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ph" type="CT_Placeholder" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Placeholder</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="a:EG_Media" minOccurs="0" maxOccurs="1" />
      <xsd:element name="custDataLst" type="CT_CustomerDataList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Customer Data List</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="isPhoto" type="xsd:boolean" use="optional" default="false" />
  </xsd:complexType>
  <xsd:complexType name="CT_ShapeNonVisual">
    <xsd:annotation>
      <xsd:documentation>Non-Visual Shape Properties</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cNvPr" type="a:CT_NonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Non-Visual Drawing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cNvSpPr" type="a:CT_NonVisualDrawingShapeProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Non-Visual Drawing Properties for a Shape</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nvPr" type="CT_ApplicationNonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Application Non-Visual Drawing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Shape">
    <xsd:annotation>
      <xsd:documentation>Shape</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="nvSpPr" type="CT_ShapeNonVisual" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>App Non-Visual Drawing Properties for a Shape</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="spPr" type="a:CT_ShapeProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="style" type="a:CT_ShapeStyle" minOccurs="0" maxOccurs="1" />
      <xsd:element name="txBody" type="a:CT_TextBody" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="useBgFill" type="xsd:boolean" use="optional" default="false" />
    <xsd:attribute name="userDrawn" type="xsd:boolean" use="optional" default="false" />
  </xsd:complexType>
  <xsd:complexType name="CT_ConnectorNonVisual">
    <xsd:annotation>
      <xsd:documentation>Non-visual connector properties.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cNvPr" type="a:CT_NonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Non-Visual Drawing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cNvCxnSpPr" type="a:CT_NonVisualConnectorProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Non-Visual Connector Shape Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nvPr" type="CT_ApplicationNonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Application Non-Visual Drawing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Connector">
    <xsd:annotation>
      <xsd:documentation>Connector</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="nvCxnSpPr" type="CT_ConnectorNonVisual" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Non-Visual Connector Shape Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="spPr" type="a:CT_ShapeProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Connector Shape Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="style" type="a:CT_ShapeStyle" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Connector Shape Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_PictureNonVisual">
    <xsd:sequence>
      <xsd:element name="cNvPr" type="a:CT_NonVisualDrawingProps" minOccurs="1" maxOccurs="1" />
      <xsd:element name="cNvPicPr" type="a:CT_NonVisualPictureProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nvPr" type="CT_ApplicationNonVisualDrawingProps" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Picture">
    <xsd:sequence>
      <xsd:element name="nvPicPr" type="CT_PictureNonVisual" minOccurs="1" maxOccurs="1" />
      <xsd:element name="blipFill" type="a:CT_BlipFillProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="spPr" type="a:CT_ShapeProperties" minOccurs="1" maxOccurs="1" />
      <xsd:element name="style" type="a:CT_ShapeStyle" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_GraphicalObjectFrameNonVisual">
    <xsd:annotation>
      <xsd:documentation>Graphic Frame Non-Visual Properties</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cNvPr" type="a:CT_NonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Non-Visual Drawing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cNvGraphicFramePr" type="a:CT_NonVisualGraphicFrameProperties" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Non-Visual Graphic Frame Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nvPr" type="CT_ApplicationNonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Application Non-Visual Drawing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_GraphicalObjectFrame">
    <xsd:annotation>
      <xsd:documentation>Graphic Container</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="nvGraphicFramePr" type="CT_GraphicalObjectFrameNonVisual" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Non-Visual Graphic Frame Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="xfrm" type="a:CT_Transform2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Transform</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="a:graphic" minOccurs="1" maxOccurs="1" />
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_GroupShapeNonVisual">
    <xsd:annotation>
      <xsd:documentation>Non-visual group shape properties</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cNvPr" type="a:CT_NonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Non-visual Drawing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cNvGrpSpPr" type="a:CT_NonVisualGroupDrawingShapeProps" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nvPr" type="CT_ApplicationNonVisualDrawingProps" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Application Non-Visual Drawing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_GroupShape">
    <xsd:annotation>
      <xsd:documentation>Group Shape</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="nvGrpSpPr" type="CT_GroupShapeNonVisual" minOccurs="1" maxOccurs="1" />
      <xsd:element name="grpSpPr" type="a:CT_GroupShapeProperties" minOccurs="1" maxOccurs="1" />
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="sp" type="CT_Shape">
          <xsd:annotation>
            <xsd:documentation>Shape</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="grpSp" type="CT_GroupShape">
          <xsd:annotation>
            <xsd:documentation>Group Shape</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="graphicFrame" type="CT_GraphicalObjectFrame">
          <xsd:annotation>
            <xsd:documentation>Graphic Frame</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="cxnSp" type="CT_Connector">
          <xsd:annotation>
            <xsd:documentation>Connector Shape</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="pic" type="CT_Picture" />
      </xsd:choice>
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="EG_TopLevelSlide">
    <xsd:annotation>
      <xsd:documentation>Top-Level Slide Groups</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clrMap" type="a:CT_ColorMapping" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color Scheme Map</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="EG_ChildSlide">
    <xsd:annotation>
      <xsd:documentation>Child Slide Groups</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="clrMapOvr" type="a:CT_ColorMappingOverride" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color Scheme Map Override</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:attributeGroup name="AG_ChildSlide">
    <xsd:attribute name="showMasterSp" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Master Shapes</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showMasterPhAnim" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Master Placeholder Animations</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:complexType name="CT_BackgroundProperties">
    <xsd:annotation>
      <xsd:documentation>Background Shape Properties</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="a:EG_FillProperties" minOccurs="1" maxOccurs="1" />
      <xsd:group ref="a:EG_EffectProperties" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="shadeToTitle" type="xsd:boolean" use="optional" default="false" />
  </xsd:complexType>
  <xsd:group name="EG_Background">
    <xsd:annotation>
      <xsd:documentation>Background Group</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="bgPr" type="CT_BackgroundProperties">
        <xsd:annotation>
          <xsd:documentation>Background Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bgRef" type="a:CT_StyleMatrixReference">
        <xsd:annotation>
          <xsd:documentation>Background Style Reference</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="CT_CommonSlideData">
    <xsd:annotation>
      <xsd:documentation>Common Slide Data</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="EG_Background" minOccurs="0" maxOccurs="1" />
      <xsd:element name="spTree" type="CT_GroupShape" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Shape Tree</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="custDataLst" type="CT_CustomerDataList" minOccurs="0" maxOccurs="1" />
      <xsd:element name="tagLst" type="CT_PlatformExtension" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>List of Tags</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="controls" type="CT_OcxList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>List of controls</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="optional" default="">
      <xsd:annotation>
        <xsd:documentation>Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Slide">
    <xsd:annotation>
      <xsd:documentation>Slide</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="cSld" type="CT_CommonSlideData" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Common slide data for slides</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="EG_ChildSlide" minOccurs="0" maxOccurs="1" />
      <xsd:element name="transition" type="CT_SlideTransition" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide Transition</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timing" type="CT_SlideTiming" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide Timing Information for a Slide</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attributeGroup ref="AG_ChildSlide" />
    <xsd:attribute name="show" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Slide in Slide Show</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="sld" type="CT_Slide">
    <xsd:annotation>
      <xsd:documentation>Slide</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="ST_SlideLayoutType">
    <xsd:annotation>
      <xsd:documentation>Slide Layout Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="title">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Title )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="tx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Text )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="twoColTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Two Column Text )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="tbl">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Table )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="txAndChart">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Text and Chart )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="chartAndTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Chart and Text )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dgm">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Diagram )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="chart">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Chart )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="txAndClipArt">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Text and ClipArt </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="clipArtAndTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( ClipArt and Text)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="titleOnly">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Title Only )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="blank">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Blank )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="txAndObj">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Text and Object )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="objAndTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Object and Text )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="objOnly">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Object only )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="obj" />
      <xsd:enumeration value="txAndMedia">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Text and Media )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mediaAndTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Media and Text )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="objOverTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Object over Text)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="txOverObj">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Text over Object)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="txAndTwoObj">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Text and 2 Objs )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="twoObjAndTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( 2 obj and text )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="twoObjOverTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( 2 obj over text )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="fourObj">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( 4 objects )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="vertTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Vertical Text )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="clipArtAndVertTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Clipart &amp; V. Txt)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="vertTitleAndTx">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( V. Title and Txt)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="vertTitleAndTxOverChart">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( VTaTOC )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="twoObj">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Two Objects )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="objAndTwoObj">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Obj and 2 Obj )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="twoObjAndObj">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( 2 Obj and Obj )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="cust">
        <xsd:annotation>
          <xsd:documentation>Slide Layout Type Enumeration ( Custom )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="secHead" />
      <xsd:enumeration value="twoTxTwoObj" />
      <xsd:enumeration value="objTx" />
      <xsd:enumeration value="picTx" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_SlideLayout">
    <xsd:annotation>
      <xsd:documentation>Slide Layout</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="cSld" type="CT_CommonSlideData" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Common slide data for slide layouts</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="EG_ChildSlide" minOccurs="0" maxOccurs="1" />
      <xsd:element name="transition" type="CT_SlideTransition" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide Transition for a Slide Layout</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timing" type="CT_SlideTiming" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide Timing Information for a Slide Layout</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hf" type="CT_HeaderFooter" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Header/Footer information for a slide layout</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attributeGroup ref="AG_ChildSlide" />
    <xsd:attribute name="matchingName" type="xsd:string" use="optional" default="">
      <xsd:annotation>
        <xsd:documentation>Matching Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="ST_SlideLayoutType" use="optional" default="cust">
      <xsd:annotation>
        <xsd:documentation>Slide Layout Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="preserve" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Preserve Slide Layout</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="sldLayout" type="CT_SlideLayout">
    <xsd:annotation>
      <xsd:documentation>Slide Layout</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_SlideMasterTextStyles">
    <xsd:annotation>
      <xsd:documentation>Slide Master Text Styles</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="titleStyle" type="a:CT_TextListStyle" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Title Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bodyStyle" type="a:CT_TextListStyle" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Body Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="otherStyle" type="a:CT_TextListStyle" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Other Text Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_SlideLayoutIdListEntry">
    <xsd:annotation>
      <xsd:documentation>Slide Layout List Entry</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute ref="r:id" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_SlideLayoutIdList">
    <xsd:annotation>
      <xsd:documentation>Slide Layout List</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sldLayoutId" type="CT_SlideLayoutIdListEntry" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_SlideMaster">
    <xsd:annotation>
      <xsd:documentation>Slide Master</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="cSld" type="CT_CommonSlideData" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Common slide data for slide masters</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="EG_TopLevelSlide" minOccurs="1" maxOccurs="1" />
      <xsd:element name="sldLayoutIdLst" type="CT_SlideLayoutIdList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>List of Slide Layouts</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="transition" type="CT_SlideTransition" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide Transition for a Slide Master</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="timing" type="CT_SlideTiming" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide Timing Information for Slide Masters</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hf" type="CT_HeaderFooter" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Header/Footer information for a slide master</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="txStyles" type="CT_SlideMasterTextStyles" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide Master Text Styles</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="preserve" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Preserve Slide Master</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="designName" type="xsd:string" use="optional" default="" />
  </xsd:complexType>
  <xsd:element name="sldMaster" type="CT_SlideMaster">
    <xsd:annotation>
      <xsd:documentation>Slide Master</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_HandoutMaster">
    <xsd:annotation>
      <xsd:documentation>Handout Master</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cSld" type="CT_CommonSlideData" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Common slide data for handout master</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="EG_TopLevelSlide" minOccurs="1" maxOccurs="1" />
      <xsd:element name="hf" type="CT_HeaderFooter" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Header/Footer information for a handout master</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="handoutMaster" type="CT_HandoutMaster">
    <xsd:annotation>
      <xsd:documentation>Handout Master</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_NotesMaster">
    <xsd:annotation>
      <xsd:documentation>Notes Master</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cSld" type="CT_CommonSlideData" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Common slide data for notes master</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="EG_TopLevelSlide" minOccurs="1" maxOccurs="1" />
      <xsd:element name="hf" type="CT_HeaderFooter" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Header/Footer Information for a Notes Master</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="notesStyle" type="a:CT_TextListStyle" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Notes Text Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="notesMaster" type="CT_NotesMaster">
    <xsd:annotation>
      <xsd:documentation>Notes Master</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_NotesSlide">
    <xsd:annotation>
      <xsd:documentation>Notes Slide</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence minOccurs="1" maxOccurs="1">
      <xsd:element name="cSld" type="CT_CommonSlideData" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Common slide data for notes slides</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="EG_ChildSlide" minOccurs="0" maxOccurs="1" />
      <xsd:element name="ext" type="CT_ExtensionDirty" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attributeGroup ref="AG_ChildSlide" />
  </xsd:complexType>
  <xsd:element name="notes" type="CT_NotesSlide">
    <xsd:annotation>
      <xsd:documentation>Notes Slide</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>