xsd/pml/pml-presentation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.openxmlformats.org/presentationml/2006/3/main" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/presentationml/2006/3/main" xmlns:p="http://schemas.openxmlformats.org/presentationml/2006/3/main" xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/3/main" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xsd:include schemaLocation="pml-base.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="shared-relationships.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" schemaLocation="dml-basetypes.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/drawingml/2006/3/main" schemaLocation="dml-textchar.xsd" />
  <xsd:simpleType name="ST_SlideId">
    <xsd:annotation>
      <xsd:documentation>Slide Identifier</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedInt">
      <xsd:minInclusive value="256" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_SlideIdListEntry">
    <xsd:annotation>
      <xsd:documentation>Slide List Entry</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="id" type="ST_SlideId" use="required" />
    <xsd:attribute ref="r:id" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_SlideIdList">
    <xsd:annotation>
      <xsd:documentation>List of Slide </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sldId" type="CT_SlideIdListEntry" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_SlideMasterIdListEntry">
    <xsd:annotation>
      <xsd:documentation>Master Slide List Entry</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute ref="r:id" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_SlideMasterIdList">
    <xsd:annotation>
      <xsd:documentation>List of Slide Master IDs</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sldMasterId" type="CT_SlideMasterIdListEntry" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_NotesMasterIdListEntry">
    <xsd:annotation>
      <xsd:documentation>Notes Slide Master List Entry</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute ref="r:id" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_NotesMasterIdList">
    <xsd:annotation>
      <xsd:documentation>List of Notes Slide Master IDs</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="notesMasterId" type="CT_NotesMasterIdListEntry" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_HandoutMasterIdListEntry">
    <xsd:annotation>
      <xsd:documentation>Handout Master Slide List Entry</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute ref="r:id" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_HandoutMasterIdList">
    <xsd:annotation>
      <xsd:documentation>List of Handout Master Slide IDs</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="handoutMasterId" type="CT_HandoutMasterIdListEntry" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_EmbeddedFontDataId">
    <xsd:attribute ref="r:id" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_EmbeddedFontListEntry">
    <xsd:sequence>
      <xsd:element name="font" type="a:CT_TextFont" minOccurs="1" maxOccurs="1" />
      <xsd:element name="regular" type="CT_EmbeddedFontDataId" minOccurs="0" maxOccurs="1" />
      <xsd:element name="bold" type="CT_EmbeddedFontDataId" minOccurs="0" maxOccurs="1" />
      <xsd:element name="italic" type="CT_EmbeddedFontDataId" minOccurs="0" maxOccurs="1" />
      <xsd:element name="boldItalic" type="CT_EmbeddedFontDataId" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_EmbeddedFontList">
    <xsd:sequence>
      <xsd:element name="embeddedFont" type="CT_EmbeddedFontListEntry" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_SmartTags">
    <xsd:attribute ref="r:id" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_CustomShow">
    <xsd:annotation>
      <xsd:documentation>Custom Show</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sldLst" type="CT_SlideRelationshipList" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide List</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="name" type="ST_Name" use="required">
      <xsd:annotation>
        <xsd:documentation>Custom Show Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="id" type="xsd:unsignedInt" use="required" />
  </xsd:complexType>
  <xsd:complexType name="CT_CustomShowList">
    <xsd:annotation>
      <xsd:documentation>List of Custom Shows</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="custShow" type="CT_CustomShow" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Custom Show</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ST_PhotoAlbumLayout">
    <xsd:annotation>
      <xsd:documentation>Photo Albumb Layout Definition</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="fitToSlide" />
      <xsd:enumeration value="1pic">
        <xsd:annotation>
          <xsd:documentation>Photo Album enum for album content ( 1 pic ) </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2pic">
        <xsd:annotation>
          <xsd:documentation>Photo Album enum for album content ( 2 pic ) </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4pic">
        <xsd:annotation>
          <xsd:documentation>Photo Album enum for album content ( 4 pic ) </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1picTitle">
        <xsd:annotation>
          <xsd:documentation>Photo Album enum for album content ( 1 pic + t ) </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2picTitle">
        <xsd:annotation>
          <xsd:documentation>Photo Album enum for album content ( 2 pic + t ) </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4picTitle">
        <xsd:annotation>
          <xsd:documentation>Photo Album enum for album content ( 4 pic + t ) </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_PhotoAlbumFrameShape">
    <xsd:annotation>
      <xsd:documentation>Photo Album Shape for Photo Mask</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="rect">
        <xsd:annotation>
          <xsd:documentation>Photo Album Shape Enum ( rectangle )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="roundRect">
        <xsd:annotation>
          <xsd:documentation>Photo Album Shape Enum ( rounded rectangle )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="bevel">
        <xsd:annotation>
          <xsd:documentation>Photo Album Shape Enum ( beveled rectangle )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="oval">
        <xsd:annotation>
          <xsd:documentation>Photo Album Shape Enum ( oval )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="cornerTabs">
        <xsd:annotation>
          <xsd:documentation>Photo Album Shape Enum ( corner tabs )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="squareTabs">
        <xsd:annotation>
          <xsd:documentation>Photo Album Shape Enum ( square tabs )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="plaqueTabs">
        <xsd:annotation>
          <xsd:documentation>Photo Album Shape Enum ( plaque tabs )</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_PhotoAlbum">
    <xsd:annotation>
      <xsd:documentation>Photo Album Definition</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="bw" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Black and White</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showCaptions" type="xsd:boolean" use="optional" default="false" />
    <xsd:attribute name="layout" type="ST_PhotoAlbumLayout" use="optional" default="fitToSlide">
      <xsd:annotation>
        <xsd:documentation>Photo Album Layout</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="frame" type="ST_PhotoAlbumFrameShape" use="optional" default="rect" />
  </xsd:complexType>
  <xsd:simpleType name="ST_SlideSizeCoordinate">
    <xsd:annotation>
      <xsd:documentation>Slide Size Coordinate</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="a:ST_PositiveCoordinate32">
      <xsd:minInclusive value="914400" />
      <xsd:maxInclusive value="51206400" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_SlideSizeType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="screen4x3" />
      <xsd:enumeration value="letter" />
      <xsd:enumeration value="A4" />
      <xsd:enumeration value="35mm" />
      <xsd:enumeration value="overhead" />
      <xsd:enumeration value="banner" />
      <xsd:enumeration value="custom" />
      <xsd:enumeration value="ledger" />
      <xsd:enumeration value="A3" />
      <xsd:enumeration value="B4ISO" />
      <xsd:enumeration value="B5ISO" />
      <xsd:enumeration value="B4JIS" />
      <xsd:enumeration value="B5JIS" />
      <xsd:enumeration value="hagakiCard" />
      <xsd:enumeration value="screen16x9" />
      <xsd:enumeration value="screen16x10" />
      <xsd:enumeration value="screen" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_SlideSize">
    <xsd:annotation>
      <xsd:documentation>Slide Size</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="cx" type="ST_SlideSizeCoordinate" use="required" />
    <xsd:attribute name="cy" type="ST_SlideSizeCoordinate" use="required" />
    <xsd:attribute name="type" type="ST_SlideSizeType" use="optional" default="custom" />
  </xsd:complexType>
  <xsd:complexType name="CT_Kinsoku">
    <xsd:annotation>
      <xsd:documentation>Kinsoku</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="lang" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Language</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="invalStChars" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Invalid Kinsoku Start Characters</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="invalEndChars" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Invalid Kinsoku End Characters</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Presentation">
    <xsd:annotation>
      <xsd:documentation>Presentation</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="sldMasterIdLst" type="CT_SlideMasterIdList" minOccurs="0" maxOccurs="1" />
      <xsd:element name="notesMasterIdLst" type="CT_NotesMasterIdList" minOccurs="0" maxOccurs="1" />
      <xsd:element name="handoutMasterIdLst" type="CT_HandoutMasterIdList" minOccurs="0" maxOccurs="1" />
      <xsd:element name="sldIdLst" type="CT_SlideIdList" minOccurs="0" maxOccurs="1" />
      <xsd:element name="sldSz" type="CT_SlideSize" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Slide Size</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="notesSz" type="a:CT_PositiveSize2D" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Size</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="smartTags" type="CT_SmartTags" minOccurs="0" maxOccurs="1" />
      <xsd:element name="embeddedFontLst" type="CT_EmbeddedFontList" minOccurs="0" maxOccurs="1" />
      <xsd:element name="custShowLst" type="CT_CustomShowList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>List of Custom Shows</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="photoAlbum" type="CT_PhotoAlbum" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Photo Album Information</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="custDataLst" type="CT_CustomerDataList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>List of Customer Data Buckets</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kinsoku" type="CT_Kinsoku" minOccurs="0" />
      <xsd:element name="ext" type="CT_Extension" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="serverZoom" type="a:ST_Percentage" use="optional" default="50000">
      <xsd:annotation>
        <xsd:documentation>Server Zoom</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="firstSlideNum" type="xsd:int" use="optional" default="1">
      <xsd:annotation>
        <xsd:documentation>First Slide Number</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showSpecialPlsOnTitleSld" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Header and Footer Placeholders on Titles </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rtl" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Right-To-Left Views</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="removePersonalInfoOnSave" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Remove Personal Information on Save</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="compatMode" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Compatibility Mode</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="strictFirstAndLastChars" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Strict First and Last Characters</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="modifyPassword" type="xsd:string" use="optional" default="">
      <xsd:annotation>
        <xsd:documentation>Modify Password</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="embedTrueTypeFonts" type="xsd:boolean" use="optional" default="false" />
    <xsd:attribute name="saveSubsetFonts" type="xsd:boolean" use="optional" default="false" />
    <xsd:attribute name="autoCompressPictures" type="xsd:boolean" use="optional" default="true" />
  </xsd:complexType>
  <xsd:element name="presentation" type="CT_Presentation">
    <xsd:annotation>
      <xsd:documentation>Presentation</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>