xsd/dml/dml-documentProperties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/drawingml/2006/main" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.openxmlformats.org/drawingml/2006/main">
  <xsd:include schemaLocation="dml-baseTypes.xsd" />
  <xsd:include schemaLocation="dml-shapeGeometry.xsd" />
  <xsd:attributeGroup name="AG_Locking">
    <xsd:attribute name="noGrp" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Grouping</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noSelect" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Selection</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noRot" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Rotation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noChangeAspect" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Aspect Ratio Change</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noMove" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Movement</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noResize" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Resize</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noEditPoints" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Point Editing</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noAdjustHandles" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Showing Adjust Handles</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noChangeArrowheads" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Arrowhead Changes</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noChangeShapeType" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Type Change</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:complexType name="CT_ConnectorLocking">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="AG_Locking" />
  </xsd:complexType>
  <xsd:complexType name="CT_ShapeLocking">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="AG_Locking" />
    <xsd:attribute name="noTextEdit" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Text Editing</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_PictureLocking">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="AG_Locking" />
    <xsd:attribute name="noCrop" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Crop Changes</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_GroupLocking">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="noGrp" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Grouping</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noUngrp" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Ungrouping</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noSelect" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Selection</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noRot" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Rotation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noChangeAspect" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Aspect Ratio Change</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noMove" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Moving Shape</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noResize" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Resizing</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_GraphicalObjectFrameLocking">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="noGrp" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Grouping</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noDrilldown" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Selection of Child Shapes</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noSelect" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Selection</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noChangeAspect" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Aspect Ratio Change</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noMove" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Movement</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="noResize" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Disallow Shape Resize</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_NonVisualDrawingProps">
    <xsd:sequence>
      <xsd:element name="hlinkClick" type="CT_Hyperlink" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Drawing Element On Click Hyperlink</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="hlinkHover" type="CT_Hyperlink" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Hyperlink for Hover</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="ST_DrawingElementId" use="required">
      <xsd:annotation>
        <xsd:documentation>Unique Identifier</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="descr" type="xsd:string" use="optional" default="">
      <xsd:annotation>
        <xsd:documentation>Alternative Text for Object</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hidden" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Hidden</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_NonVisualDrawingShapeProps">
    <xsd:sequence>
      <xsd:element name="spLocks" type="CT_ShapeLocking" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Shape Locks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="txBox" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Text Box</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_NonVisualConnectorProperties">
    <xsd:sequence>
      <xsd:element name="cxnSpLocks" type="CT_ConnectorLocking" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Connection Shape Locks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="stCxn" type="CT_Connection" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Connection Start</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="endCxn" type="CT_Connection" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Connection End</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_NonVisualPictureProperties">
    <xsd:sequence>
      <xsd:element name="picLocks" type="CT_PictureLocking" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Picture Locks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="preferRelativeResize" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Relative Resize Preferred</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_NonVisualGroupDrawingShapeProps">
    <xsd:sequence>
      <xsd:element name="grpSpLocks" type="CT_GroupLocking" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Group Shape Locks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_NonVisualGraphicFrameProperties">
    <xsd:sequence>
      <xsd:element name="graphicFrameLocks" type="CT_GraphicalObjectFrameLocking" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Graphic Frame Locks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_OfficeArtExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>