xsd/sml/sml-styles.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/main" elementFormDefault="qualified" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">

  <xsd:include schemaLocation="sml-baseTypes.xsd" />
  <xsd:element name="styleSheet" type="CT_Stylesheet">
    <xsd:annotation>
      <xsd:documentation>Style Sheet</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_Stylesheet">
    <xsd:sequence>
      <xsd:element name="numFmts" type="CT_NumFmts" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Number Formats</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fonts" type="CT_Fonts" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Fonts</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fills" type="CT_Fills" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Fills</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="borders" type="CT_Borders" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Borders</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cellStyleXfs" type="CT_CellStyleXfs" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Formatting Records</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cellXfs" type="CT_CellXfs" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Cell Formats</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cellStyles" type="CT_CellStyles" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Cell Styles</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dxfs" type="CT_Dxfs" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Formats</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tableStyles" type="CT_TableStyles" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Table Styles</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="colors" type="CT_Colors" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Colors</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Future Feature Data Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_CellAlignment">
    <xsd:attribute name="horizontal" type="ST_HorizontalAlignment" use="optional">
      <xsd:annotation>
        <xsd:documentation>Horizontal Alignment</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="vertical" type="ST_VerticalAlignment" use="optional">
      <xsd:annotation>
        <xsd:documentation>Vertical Alignment</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="textRotation" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Text Rotation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="wrapText" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Wrap Text</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="indent" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Indent</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="relativeIndent" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>Relative Indent</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="justifyLastLine" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Justify Last Line</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="shrinkToFit" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shrink To Fit</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="readingOrder" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Reading Order</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_BorderStyle">
    <xsd:annotation>
      <xsd:documentation>Border Line Styles</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>None</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thin">
        <xsd:annotation>
          <xsd:documentation>Thin Border</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="medium">
        <xsd:annotation>
          <xsd:documentation>Medium Border</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dashed">
        <xsd:annotation>
          <xsd:documentation>Dashed</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dotted">
        <xsd:annotation>
          <xsd:documentation>Dotted</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thick">
        <xsd:annotation>
          <xsd:documentation>Thick Line Border</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="double">
        <xsd:annotation>
          <xsd:documentation>Double Line</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hair">
        <xsd:annotation>
          <xsd:documentation>Hairline Border</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mediumDashed">
        <xsd:annotation>
          <xsd:documentation>Medium Dashed</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dashDot">
        <xsd:annotation>
          <xsd:documentation>Dash Dot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mediumDashDot">
        <xsd:annotation>
          <xsd:documentation>Medium Dash Dot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dashDotDot">
        <xsd:annotation>
          <xsd:documentation>Dash Dot Dot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mediumDashDotDot">
        <xsd:annotation>
          <xsd:documentation>Medium Dash Dot Dot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="slantDashDot">
        <xsd:annotation>
          <xsd:documentation>Slant Dash Dot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_Borders">
    <xsd:sequence>
      <xsd:element name="border" type="CT_Border" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Border</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Border Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Border">
    <xsd:sequence>
      <xsd:element name="left" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Left Border</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="right" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Right Border</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="top" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Top Border</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bottom" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Bottom Border</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="diagonal" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Diagonal</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vertical" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Vertical Inner Border</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="horizontal" type="CT_BorderPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Horizontal Inner Borders</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="diagonalUp" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagonal Up</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="diagonalDown" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagonal Down</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="outline" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Outline</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_BorderPr">
    <xsd:sequence>
      <xsd:element name="color" type="CT_Color" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="style" type="ST_BorderStyle" use="optional" default="none">
      <xsd:annotation>
        <xsd:documentation>Line Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_CellProtection">
    <xsd:attribute name="locked" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Cell Locked</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hidden" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Hidden Cell</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Fonts">
    <xsd:sequence>
      <xsd:element name="font" type="CT_Font" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Font</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Font Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Fills">
    <xsd:sequence>
      <xsd:element name="fill" type="CT_Fill" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Fill</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Fill Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Fill">
    <xsd:choice minOccurs="1" maxOccurs="1">
      <xsd:element name="patternFill" type="CT_PatternFill" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Pattern</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gradientFill" type="CT_GradientFill" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Gradient</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="CT_PatternFill">
    <xsd:sequence>
      <xsd:element name="fgColor" type="CT_Color" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Foreground Color</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bgColor" type="CT_Color" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Background Color</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="patternType" type="ST_PatternType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Pattern Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Color">
    <xsd:attribute name="auto" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Automatic</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="indexed" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rgb" type="ST_UnsignedIntHex" use="optional">
      <xsd:annotation>
        <xsd:documentation>Alpha Red Green Blue Color Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="theme" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Theme Color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="tint" type="xsd:double" use="optional" default="0.0">
      <xsd:annotation>
        <xsd:documentation>Tint</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_PatternType">
    <xsd:annotation>
      <xsd:documentation>Pattern Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>None</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="solid">
        <xsd:annotation>
          <xsd:documentation>Solid</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="mediumGray">
        <xsd:annotation>
          <xsd:documentation>Medium Gray</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="darkGray">
        <xsd:annotation>
          <xsd:documentation>Dary Gray</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lightGray">
        <xsd:annotation>
          <xsd:documentation>Light Gray</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="darkHorizontal">
        <xsd:annotation>
          <xsd:documentation>Dark Horizontal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="darkVertical">
        <xsd:annotation>
          <xsd:documentation>Dark Vertical</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="darkDown">
        <xsd:annotation>
          <xsd:documentation>Dark Down</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="darkUp">
        <xsd:annotation>
          <xsd:documentation>Dark Up</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="darkGrid">
        <xsd:annotation>
          <xsd:documentation>Dark Grid</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="darkTrellis">
        <xsd:annotation>
          <xsd:documentation>Dark Trellis</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lightHorizontal">
        <xsd:annotation>
          <xsd:documentation>Light Horizontal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lightVertical">
        <xsd:annotation>
          <xsd:documentation>Light Vertical</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lightDown">
        <xsd:annotation>
          <xsd:documentation>Light Down</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lightUp">
        <xsd:annotation>
          <xsd:documentation>Light Up</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lightGrid">
        <xsd:annotation>
          <xsd:documentation>Light Grid</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lightTrellis">
        <xsd:annotation>
          <xsd:documentation>Light Trellis</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gray125">
        <xsd:annotation>
          <xsd:documentation>Gray 0.125</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gray0625">
        <xsd:annotation>
          <xsd:documentation>Gray 0.0625</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_GradientFill">
    <xsd:sequence>
      <xsd:element name="stop" type="CT_GradientStop" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Gradient Stop</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="type" type="ST_GradientType" use="optional" default="linear">
      <xsd:annotation>
        <xsd:documentation>Gradient Fill Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="degree" type="xsd:double" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Linear Gradient Degree</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="left" type="xsd:double" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Left Convergence</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="right" type="xsd:double" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Right Convergence</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="top" type="xsd:double" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Top Gradient Convergence</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="bottom" type="xsd:double" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Bottom Convergence</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_GradientStop">
    <xsd:sequence>
      <xsd:element name="color" type="CT_Color" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="position" type="xsd:double" use="required">
      <xsd:annotation>
        <xsd:documentation>Gradient Stop Position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_GradientType">
    <xsd:annotation>
      <xsd:documentation>Gradient Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="linear">
        <xsd:annotation>
          <xsd:documentation>Linear Gradient</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="path">
        <xsd:annotation>
          <xsd:documentation>Path</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_HorizontalAlignment">
    <xsd:annotation>
      <xsd:documentation>Horizontal Alignment Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="general">
        <xsd:annotation>
          <xsd:documentation>General Horizontal Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="left">
        <xsd:annotation>
          <xsd:documentation>Left Horizontal Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="center">
        <xsd:annotation>
          <xsd:documentation>Centered Horizontal Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="right">
        <xsd:annotation>
          <xsd:documentation>Right Horizontal Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="fill">
        <xsd:annotation>
          <xsd:documentation>Fill</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="justify">
        <xsd:annotation>
          <xsd:documentation>Justify</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="centerContinuous">
        <xsd:annotation>
          <xsd:documentation>Center Continuous Horizontal Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="distributed">
        <xsd:annotation>
          <xsd:documentation>Distributed Horizontal Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_VerticalAlignment">
    <xsd:annotation>
      <xsd:documentation>Vertical Alignment Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="top">
        <xsd:annotation>
          <xsd:documentation>Align Top</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="center">
        <xsd:annotation>
          <xsd:documentation>Centered Vertical Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="bottom">
        <xsd:annotation>
          <xsd:documentation>Aligned To Bottom</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="justify">
        <xsd:annotation>
          <xsd:documentation>Justified Vertically</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="distributed">
        <xsd:annotation>
          <xsd:documentation>Distributed Vertical Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_NumFmts">
    <xsd:sequence>
      <xsd:element name="numFmt" type="CT_NumFmt" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Number Formats</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Number Format Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_NumFmt">
    <xsd:attribute name="numFmtId" type="ST_NumFmtId" use="required">
      <xsd:annotation>
        <xsd:documentation>Number Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="formatCode" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Number Format Code</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_CellStyleXfs">
    <xsd:sequence>
      <xsd:element name="xf" type="CT_Xf" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Formatting Elements</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Style Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_CellXfs">
    <xsd:sequence>
      <xsd:element name="xf" type="CT_Xf" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Format</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Format Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Xf">
    <xsd:sequence>
      <xsd:element name="alignment" type="CT_CellAlignment" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="protection" type="CT_CellProtection" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Protection</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Future Feature Data Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="numFmtId" type="ST_NumFmtId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Number Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fontId" type="ST_FontId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Font Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fillId" type="ST_FillId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Fill Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="borderId" type="ST_BorderId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Border Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="xfId" type="ST_CellStyleXfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="quotePrefix" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Quote Prefix</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pivotButton" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Pivot Button</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyNumberFormat" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Apply Number Format</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyFont" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Apply Font</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyFill" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Apply Fill</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyBorder" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Apply Border</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyAlignment" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Apply Alignment</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyProtection" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Apply Protection</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_CellStyles">
    <xsd:sequence>
      <xsd:element name="cellStyle" type="CT_CellStyle" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Cell Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Style Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_CellStyle">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Future Feature Data Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>User Defined Cell Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="xfId" type="ST_CellStyleXfId" use="required">
      <xsd:annotation>
        <xsd:documentation>Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="builtinId" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Built-In Style Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iLevel" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Outline Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hidden" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Hidden Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="customBuiltin" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Custom Built In</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Dxfs">
    <xsd:sequence>
      <xsd:element name="dxf" type="CT_Dxf" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Formatting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Format Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Dxf">
    <xsd:sequence>
      <xsd:element name="font" type="CT_Font" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Font Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numFmt" type="CT_NumFmt" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Number Format</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fill" type="CT_Fill" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Fill</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="alignment" type="CT_CellAlignment" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="border" type="CT_Border" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Border Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="protection" type="CT_CellProtection" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Protection Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Future Feature Data Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ST_NumFmtId">
    <xsd:annotation>
      <xsd:documentation>Number Format Id</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedInt" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_FontId">
    <xsd:annotation>
      <xsd:documentation>Font Id</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedInt" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_FillId">
    <xsd:annotation>
      <xsd:documentation>Fill Id</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedInt" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_BorderId">
    <xsd:annotation>
      <xsd:documentation>Border Id</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedInt" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_CellStyleXfId">
    <xsd:annotation>
      <xsd:documentation>Cell Style Format Id</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedInt" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_DxfId">
    <xsd:annotation>
      <xsd:documentation>Format Id</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:unsignedInt" />
  </xsd:simpleType>
  <xsd:complexType name="CT_Colors">
    <xsd:sequence>
      <xsd:element name="indexedColors" type="CT_IndexedColors" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color Indexes</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mruColors" type="CT_MRUColors" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>MRU Colors</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_IndexedColors">
    <xsd:sequence>
      <xsd:element name="rgbColor" type="CT_RgbColor" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>RGB Color</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_MRUColors">
    <xsd:sequence>
      <xsd:element name="color" type="CT_Color" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_RgbColor">
    <xsd:attribute name="rgb" type="ST_UnsignedIntHex" use="optional">
      <xsd:annotation>
        <xsd:documentation>Alpha Red Green Blue</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_TableStyles">
    <xsd:sequence>
      <xsd:element name="tableStyle" type="CT_TableStyle" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Table Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Table Style Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="defaultTableStyle" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Default Table Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="defaultPivotStyle" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Default Pivot Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_TableStyle">
    <xsd:sequence>
      <xsd:element name="tableStyleElement" type="CT_TableStyleElement" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Table Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Table Style Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pivot" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Pivot Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="table" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Table</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Table Style Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_TableStyleElement">
    <xsd:attribute name="type" type="ST_TableStyleType" use="required">
      <xsd:annotation>
        <xsd:documentation>Table Style Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="size" type="xsd:unsignedInt" use="optional" default="1">
      <xsd:annotation>
        <xsd:documentation>Band Size</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Formatting Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_TableStyleType">
    <xsd:annotation>
      <xsd:documentation>Table Style Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="wholeTable">
        <xsd:annotation>
          <xsd:documentation>Whole Table Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="headerRow">
        <xsd:annotation>
          <xsd:documentation>Header Row Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="totalRow">
        <xsd:annotation>
          <xsd:documentation>Total Row Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="firstColumn">
        <xsd:annotation>
          <xsd:documentation>First Column Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lastColumn">
        <xsd:annotation>
          <xsd:documentation>Last Column Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="firstRowStripe">
        <xsd:annotation>
          <xsd:documentation>First Row Stripe Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="secondRowStripe">
        <xsd:annotation>
          <xsd:documentation>Second Row Stripe Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="firstColumnStripe">
        <xsd:annotation>
          <xsd:documentation>First Column Stripe Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="secondColumnStripe">
        <xsd:annotation>
          <xsd:documentation>Second Column Stipe Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="firstHeaderCell">
        <xsd:annotation>
          <xsd:documentation>First Header Row Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lastHeaderCell">
        <xsd:annotation>
          <xsd:documentation>Last Header Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="firstTotalCell">
        <xsd:annotation>
          <xsd:documentation>First Total Row Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lastTotalCell">
        <xsd:annotation>
          <xsd:documentation>Last Total Row Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="firstSubtotalColumn">
        <xsd:annotation>
          <xsd:documentation>First Subtotal Column Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="secondSubtotalColumn">
        <xsd:annotation>
          <xsd:documentation>Second Subtotal Column Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thirdSubtotalColumn">
        <xsd:annotation>
          <xsd:documentation>Third Subtotal Column Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="firstSubtotalRow">
        <xsd:annotation>
          <xsd:documentation>First Subtotal Row Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="secondSubtotalRow">
        <xsd:annotation>
          <xsd:documentation>Second Subtotal Row Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thirdSubtotalRow">
        <xsd:annotation>
          <xsd:documentation>Third Subtotal Row Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="blankRow">
        <xsd:annotation>
          <xsd:documentation>Blank Row Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="firstColumnSubheading">
        <xsd:annotation>
          <xsd:documentation>First Column Subheading Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="secondColumnSubheading">
        <xsd:annotation>
          <xsd:documentation>Second Column Subheading Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thirdColumnSubheading">
        <xsd:annotation>
          <xsd:documentation>Third Column Subheading Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="firstRowSubheading">
        <xsd:annotation>
          <xsd:documentation>First Row Subheading Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="secondRowSubheading">
        <xsd:annotation>
          <xsd:documentation>Second Row Subheading Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thirdRowSubheading">
        <xsd:annotation>
          <xsd:documentation>Third Row Subheading Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="pageFieldLabels">
        <xsd:annotation>
          <xsd:documentation>Page Field Labels Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="pageFieldValues">
        <xsd:annotation>
          <xsd:documentation>Page Field Values Style</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_BooleanProperty">
    <xsd:attribute name="val" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_FontSize">
    <xsd:attribute name="val" type="xsd:double" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_IntProperty">
    <xsd:attribute name="val" type="xsd:int" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_FontName">
    <xsd:attribute name="val" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>String Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_VerticalAlignFontProperty">
    <xsd:attribute name="val" type="ST_VerticalAlignRun" use="required">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_VerticalAlignRun">
    <xsd:annotation>
      <xsd:documentation>Vertical Alignment Run Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="baseline">
        <xsd:annotation>
          <xsd:documentation>Baseline</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="superscript">
        <xsd:annotation>
          <xsd:documentation>Superscript</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="subscript">
        <xsd:annotation>
          <xsd:documentation>Subscript</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_FontScheme">
    <xsd:attribute name="val" type="ST_FontScheme" use="required">
      <xsd:annotation>
        <xsd:documentation>Font Scheme</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_FontScheme">
    <xsd:annotation>
      <xsd:documentation>Font scheme Styles</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>None</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="major">
        <xsd:annotation>
          <xsd:documentation>Major Font</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="minor">
        <xsd:annotation>
          <xsd:documentation>Minor Font</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_UnderlineProperty">
    <xsd:attribute name="val" type="ST_UnderlineValues" use="optional" default="single">
      <xsd:annotation>
        <xsd:documentation>Underline Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_UnderlineValues">
    <xsd:annotation>
      <xsd:documentation>Underline Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="single">
        <xsd:annotation>
          <xsd:documentation>Single Underline</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="double">
        <xsd:annotation>
          <xsd:documentation>Double Underline</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="singleAccounting">
        <xsd:annotation>
          <xsd:documentation>Accounting Single Underline</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="doubleAccounting">
        <xsd:annotation>
          <xsd:documentation>Accounting Double Underline</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>None</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_Font">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="name" type="CT_FontName" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Font Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="charset" type="CT_IntProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Character Set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="family" type="CT_IntProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Font Family</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="b" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Bold</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="i" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Italic</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strike" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Strike Through</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="outline" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Outline</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shadow" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Shadow</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="condense" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Condense</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extend" type="CT_BooleanProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Extend</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="color" type="CT_Color" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Text Color</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sz" type="CT_FontSize" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Font Size</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="u" type="CT_UnderlineProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Underline</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="vertAlign" type="CT_VerticalAlignFontProperty" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Text Vertical Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="scheme" type="CT_FontScheme" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Scheme</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:attributeGroup name="AG_AutoFormat">
    <xsd:attribute name="autoFormatId" type="xsd:unsignedInt">
      <xsd:annotation>
        <xsd:documentation>Auto Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyNumberFormats" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Apply Number Formats</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyBorderFormats" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Apply Border Formats</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyFontFormats" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Apply Font Formats</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyPatternFormats" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Apply Pattern Formats</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyAlignmentFormats" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Apply Alignment Formats</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="applyWidthHeightFormats" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Apply Width / Height Formats</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>
</xsd:schema>