xsd/sml/sml-sheetMetadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/main" elementFormDefault="qualified" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">

  <xsd:include schemaLocation="sml-baseTypes.xsd" />
  <xsd:element name="metadata" type="CT_Metadata">
    <xsd:annotation>
      <xsd:documentation>Metadata</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_Metadata">
    <xsd:sequence>
      <xsd:element name="metadataTypes" type="CT_MetadataTypes" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Metadata Types Collection</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="metadataStrings" type="CT_MetadataStrings" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Metadata String Store</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mdxMetadata" type="CT_MdxMetadata" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>MDX Metadata Information</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="futureMetadata" type="CT_FutureMetadata" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Future Metadata</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cellMetadata" type="CT_MetadataBlocks" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Cell Metadata</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="valueMetadata" type="CT_MetadataBlocks" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Value Metadata</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" minOccurs="0" maxOccurs="1" type="CT_ExtensionList">
        <xsd:annotation>
          <xsd:documentation>Future Feature Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_MetadataTypes">
    <xsd:sequence>
      <xsd:element name="metadataType" type="CT_MetadataType" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Metadata Type Information</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Metadata Type Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_MetadataType">
    <xsd:attribute name="name" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Metadata Type Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minSupportedVersion" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Minimum Supported Version</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ghostRow" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Ghost Row</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ghostCol" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Ghost Column</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="edit" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Edit</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="delete" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Cell Value Delete</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="copy" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Copy</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pasteAll" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Paste All</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pasteFormulas" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Paste Formulas</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pasteValues" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Paste Special Values</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pasteFormats" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Paste Formats</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pasteComments" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Paste Comments</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pasteDataValidation" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Paste Data Validation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pasteBorders" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Paste Borders</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pasteColWidths" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Paste Column Widths</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="pasteNumberFormats" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Paste Number Formats</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="merge" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Merge</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="splitFirst" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Meatadata Split First</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="splitAll" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Split All</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rowColShift" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Insert Delete</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="clearAll" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Clear All</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="clearFormats" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Clear Formats</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="clearContents" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Clear Contents</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="clearComments" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Clear Comments</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="assign" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Formula Assignment</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="coerce" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Metadata Coercion</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="adjust" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Adjust Metadata</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="cellMeta" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Cell Metadata</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_MetadataBlocks">
    <xsd:sequence>
      <xsd:element name="bk" type="CT_MetadataBlock" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Metadata Block</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Metadata Block Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_MetadataBlock">
    <xsd:sequence>
      <xsd:element name="rc" type="CT_MetadataRecord" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Metadata Record</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_MetadataRecord">
    <xsd:attribute name="t" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Metadata Record Type Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="v" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Metadata Record Value Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_FutureMetadata">
    <xsd:sequence>
      <xsd:element name="bk" type="CT_FutureMetadataBlock" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Future Metadata Block</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" minOccurs="0" maxOccurs="1" type="CT_ExtensionList">
        <xsd:annotation>
          <xsd:documentation>Future Feature Data Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Metadata Type Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Future Metadata Block Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_FutureMetadataBlock">
    <xsd:sequence>
      <xsd:element name="extLst" minOccurs="0" maxOccurs="1" type="CT_ExtensionList">
        <xsd:annotation>
          <xsd:documentation>Future Feature Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_MdxMetadata">
    <xsd:sequence>
      <xsd:element name="mdx" type="CT_Mdx" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>MDX Metadata Record</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>MDX Metadata Record Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Mdx">
    <xsd:choice minOccurs="1" maxOccurs="1">
      <xsd:element name="t" type="CT_MdxTuple">
        <xsd:annotation>
          <xsd:documentation>Tuple MDX Metadata</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ms" type="CT_MdxSet">
        <xsd:annotation>
          <xsd:documentation>Set MDX Metadata</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="p" type="CT_MdxMemeberProp">
        <xsd:annotation>
          <xsd:documentation>Member Property MDX Metadata</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="k" type="CT_MdxKPI">
        <xsd:annotation>
          <xsd:documentation>KPI MDX Metadata</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="n" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Connection Name Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="f" type="ST_MdxFunctionType" use="required">
      <xsd:annotation>
        <xsd:documentation>Cube Function Tag</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_MdxFunctionType">
    <xsd:annotation>
      <xsd:documentation>MDX Function Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="m">
        <xsd:annotation>
          <xsd:documentation>Cube Member</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="v">
        <xsd:annotation>
          <xsd:documentation>Cube Value</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="s">
        <xsd:annotation>
          <xsd:documentation>Cube Set</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="c">
        <xsd:annotation>
          <xsd:documentation>Cube Set Count</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="r">
        <xsd:annotation>
          <xsd:documentation>Cube Ranked Member</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="p">
        <xsd:annotation>
          <xsd:documentation>Cube Member Property</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="k">
        <xsd:annotation>
          <xsd:documentation>Cube KPI Member</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_MdxTuple">
    <xsd:sequence>
      <xsd:element name="n" type="CT_MetadataStringIndex" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Member Unique Name Index</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="c" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Member Index Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ct" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Server Formatting Culture Currency</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="si" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Server Formatting String Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fi" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Server Formatting Built-In Number Format Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="bc" type="ST_UnsignedIntHex" use="optional">
      <xsd:annotation>
        <xsd:documentation>Server Formatting Background Color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fc" type="ST_UnsignedIntHex" use="optional">
      <xsd:annotation>
        <xsd:documentation>Server Formatting Foreground Color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="i" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Server Formatting Italic Font</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="u" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Server Formatting Underline Font</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="st" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Server Formatting Strikethrough Font</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="b" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Server Formatting Bold Font</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_MdxSet">
    <xsd:sequence>
      <xsd:element name="n" type="CT_MetadataStringIndex" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Member Unique Name Index</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ns" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Set Definition Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="c" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Sort By Member Index Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="o" type="ST_MdxSetOrder" use="optional" default="u">
      <xsd:annotation>
        <xsd:documentation>Set Sort Order</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_MdxSetOrder">
    <xsd:annotation>
      <xsd:documentation>MDX Set Order</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="u">
        <xsd:annotation>
          <xsd:documentation>Unsorted</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="a">
        <xsd:annotation>
          <xsd:documentation>Ascending</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="d">
        <xsd:annotation>
          <xsd:documentation>Descending</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="aa">
        <xsd:annotation>
          <xsd:documentation>Alpha Ascending Sort Order</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ad">
        <xsd:annotation>
          <xsd:documentation>Alpha Descending Sort Order</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="na">
        <xsd:annotation>
          <xsd:documentation>Natural Ascending</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="nd">
        <xsd:annotation>
          <xsd:documentation>Natural Descending</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_MdxMemeberProp">
    <xsd:attribute name="n" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Member Unique Name Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="np" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Property Name Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_MdxKPI">
    <xsd:attribute name="n" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Member Unique Name Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="np" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>KPI Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="p" type="ST_MdxKPIProperty" use="required">
      <xsd:annotation>
        <xsd:documentation>KPI Property</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_MdxKPIProperty">
    <xsd:annotation>
      <xsd:documentation>MDX KPI Property</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="v">
        <xsd:annotation>
          <xsd:documentation>Value</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="g">
        <xsd:annotation>
          <xsd:documentation>Goal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="s">
        <xsd:annotation>
          <xsd:documentation>Status</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="t">
        <xsd:annotation>
          <xsd:documentation>Trend</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="w">
        <xsd:annotation>
          <xsd:documentation>Weight</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="m">
        <xsd:annotation>
          <xsd:documentation>Current Time Member</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_MetadataStringIndex">
    <xsd:attribute name="x" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Index Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="s" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>String is a Set</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_MetadataStrings">
    <xsd:sequence>
      <xsd:element name="s" type="CT_XStringElement" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>MDX Metadata String</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>MDX Metadata String Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>