xsd/sml/sml-workbook.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/main" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">

  <xsd:include schemaLocation="sml-baseTypes.xsd" />
  <xsd:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="../shared/shared-relationshipReference.xsd" />
  <xsd:element name="workbook" type="CT_Workbook">
    <xsd:annotation>
      <xsd:documentation>Workbook</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_Workbook">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:class name="Workbook"/>
			</xsd:appinfo>
		</xsd:annotation>  
    <xsd:sequence>
      <xsd:element name="fileVersion" type="CT_FileVersion" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>File Version</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fileSharing" type="CT_FileSharing" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>File Sharing</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="workbookPr" type="CT_WorkbookPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Workbook Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="workbookProtection" type="CT_WorkbookProtection" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Workbook Protection</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bookViews" type="CT_BookViews" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Workbook Views</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sheets" type="CT_Sheets" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Sheets</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="functionGroups" type="CT_FunctionGroups" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Function Groups</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="externalReferences" type="CT_ExternalReferences" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>External References</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="definedNames" type="CT_DefinedNames" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Defined Names</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="calcPr" type="CT_CalcPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Calculation Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oleSize" type="CT_OleSize" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>OLE Size</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customWorkbookViews" type="CT_CustomWorkbookViews" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Custom Workbook Views</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pivotCaches" type="CT_PivotCaches" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>PivotCaches</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="smartTagPr" type="CT_SmartTagPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Smart Tag Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="smartTagTypes" type="CT_SmartTagTypes" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Smart Tag Types</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="webPublishing" type="CT_WebPublishing" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Web Publishing Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fileRecoveryPr" type="CT_FileRecoveryPr" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>File Recovery Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="webPublishObjects" type="CT_WebPublishObjects" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Web Publish Objects</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Future Feature Data Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_FileVersion">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:class name="FileVersion"/>
			</xsd:appinfo>
		</xsd:annotation>
    <xsd:attribute name="appName" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Application Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lastEdited" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Last Edited Version</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lowestEdited" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Lowest Edited Version</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rupBuild" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Build Version</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="codeName" type="ST_Guid" use="optional">
      <xsd:annotation>
        <xsd:documentation>Code Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_BookViews">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:class name="BookViews"/>
			</xsd:appinfo>
		</xsd:annotation>  
    <xsd:sequence>
      <xsd:element name="workbookView" type="CT_BookView" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Workbook View</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_BookView">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="visibility" type="ST_Visibility" use="optional" default="visible">
      <xsd:annotation>
        <xsd:documentation>Visibility</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minimized" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Minimized</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showHorizontalScroll" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Horizontal Scroll</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showVerticalScroll" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Vertical Scroll</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showSheetTabs" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Sheet Tabs</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="xWindow" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>Upper Left Corner (X Coordinate)</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="yWindow" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>Upper Left Corner (Y Coordinate)</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="windowWidth" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Window Width</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="windowHeight" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Window Height</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="tabRatio" type="xsd:unsignedInt" use="optional" default="600">
      <xsd:annotation>
        <xsd:documentation>Sheet Tab Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="firstSheet" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>First Sheet</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="activeTab" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Active Sheet Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="autoFilterDateGrouping" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>AutoFilter Date Grouping</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_Visibility">
    <xsd:annotation>
      <xsd:documentation>Visibility Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="visible">
        <xsd:annotation>
          <xsd:documentation>Visible</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hidden">
        <xsd:annotation>
          <xsd:documentation>Hidden</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="veryHidden">
        <xsd:annotation>
          <xsd:documentation>Very Hidden</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_CustomWorkbookViews">
    <xsd:sequence>
      <xsd:element name="customWorkbookView" minOccurs="1" maxOccurs="unbounded" type="CT_CustomWorkbookView">
        <xsd:annotation>
          <xsd:documentation>Custom Workbook View</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_CustomWorkbookView">
    <xsd:sequence>
      <xsd:element name="extLst" minOccurs="0" type="CT_ExtensionList"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Custom View Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="guid" type="ST_Guid" use="required">
      <xsd:annotation>
        <xsd:documentation>Custom View GUID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="autoUpdate" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Auto Update</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="mergeInterval" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Merge Interval</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="changesSavedWin" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Changes Saved Win</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="onlySync" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Only Synch</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="personalView" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Personal View</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="includePrintSettings" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Include Print Settings</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="includeHiddenRowCol" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Include Hidden Rows &amp; Columns</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="maximized" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Maximized</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minimized" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Minimized</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showHorizontalScroll" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Horizontal Scroll</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showVerticalScroll" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Vertical Scroll</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showSheetTabs" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Sheet Tabs</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="xWindow" type="xsd:int" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Top Left Corner (X Coordinate)</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="yWindow" type="xsd:int" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Top Left Corner (Y Coordinate)</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="windowWidth" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Window Width</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="windowHeight" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Window Height</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="tabRatio" type="xsd:unsignedInt" use="optional" default="600">
      <xsd:annotation>
        <xsd:documentation>Sheet Tab Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="activeSheetId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Active Sheet in Book View</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showFormulaBar" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Formula Bar</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showStatusbar" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Status Bar</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showComments" type="ST_Comments" use="optional" default="commIndicator">
      <xsd:annotation>
        <xsd:documentation>Show Comments</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showObjects" type="ST_Objects" use="optional" default="all">
      <xsd:annotation>
        <xsd:documentation>Show Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_Comments">
    <xsd:annotation>
      <xsd:documentation>Comment Display Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="commNone">
        <xsd:annotation>
          <xsd:documentation>No Comments</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="commIndicator">
        <xsd:annotation>
          <xsd:documentation>Show Comment Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="commIndAndComment">
        <xsd:annotation>
          <xsd:documentation>Show Comment &amp; Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Objects">
    <xsd:annotation>
      <xsd:documentation>Object Display Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="all">
        <xsd:annotation>
          <xsd:documentation>All</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="placeholders">
        <xsd:annotation>
          <xsd:documentation>Show Placeholders</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>None</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_Sheets">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:class name="Sheets"/>
			</xsd:appinfo>
		</xsd:annotation>  
    <xsd:sequence>
      <xsd:element name="sheet" type="CT_Sheet" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Sheet Information</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Sheet">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:class name="Sheet"/>
			</xsd:appinfo>
		</xsd:annotation>  
    <xsd:attribute name="name" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sheetId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Tab Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="state" type="ST_SheetState" use="optional" default="visible">
      <xsd:annotation>
        <xsd:documentation>Visible State</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="r:id" use="required">
      <xsd:annotation>
        <xsd:documentation>Relationship Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_SheetState">
    <xsd:annotation>
      <xsd:documentation>Sheet Visibility Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="visible">
        <xsd:annotation>
          <xsd:documentation>Visible</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hidden">
        <xsd:annotation>
          <xsd:documentation>Hidden</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="veryHidden">
        <xsd:annotation>
          <xsd:documentation>Very Hidden</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_WorkbookPr">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:class name="WorkbookPr"/>
			</xsd:appinfo>
		</xsd:annotation>  
    <xsd:attribute name="date1904" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Date 1904</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showObjects" type="ST_Objects" use="optional" default="all">
      <xsd:annotation>
        <xsd:documentation>Show Objects</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showBorderUnselectedTables" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Border Unselected Table</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="filterPrivacy" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Filter Privacy</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="promptedSolutions" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Prompted Solutions</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showInkAnnotation" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Ink Annotations</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="backupFile" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Create Backup File</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="saveExternalLinkValues" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Save External Link Values</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="updateLinks" type="ST_UpdateLinks" use="optional" default="userSet">
      <xsd:annotation>
        <xsd:documentation>Update Links Behavior</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="codeName" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Code Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hidePivotFieldList" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Hide Pivot Field List</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showPivotChartFilter" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Show Pivot Chart Filter</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="allowRefreshQuery" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Allow Refresh Query</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="publishItems" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Publish Items</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="checkCompatibility" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Check Compatibility On Save</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="autoCompressPictures" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Auto Compress Pictures</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="refreshAllConnections" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Refresh all Connections on Open</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="defaultThemeVersion" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Default Theme Version</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_UpdateLinks">
    <xsd:annotation>
      <xsd:documentation>Update Links Behavior Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="userSet">
        <xsd:annotation>
          <xsd:documentation>User Set</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="never">
        <xsd:annotation>
          <xsd:documentation>Never Update Links</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="always">
        <xsd:annotation>
          <xsd:documentation>Always Update Links</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_SmartTagPr">
    <xsd:attribute name="embed" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Embed SmartTags</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="show" type="ST_SmartTagShow" use="optional" default="all">
      <xsd:annotation>
        <xsd:documentation>Show Smart Tags</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_SmartTagShow">
    <xsd:annotation>
      <xsd:documentation>Smart Tag Display Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="all">
        <xsd:annotation>
          <xsd:documentation>All</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>None</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="noIndicator">
        <xsd:annotation>
          <xsd:documentation>No Smart Tag Indicator</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_SmartTagTypes">
    <xsd:sequence>
      <xsd:element name="smartTagType" type="CT_SmartTagType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Smart Tag Type</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_SmartTagType">
    <xsd:attribute name="namespaceUri" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>SmartTag Namespace URI</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="url" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Smart Tag URL</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_FileRecoveryPr">
    <xsd:attribute name="autoRecover" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Auto Recover</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="crashSave" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Crash Save</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dataExtractLoad" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Data Extract Load</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="repairLoad" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Repair Load</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_CalcPr">
    <xsd:attribute name="calcId" type="xsd:unsignedInt">
      <xsd:annotation>
        <xsd:documentation>Calculation Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="calcMode" type="ST_CalcMode" use="optional" default="auto">
      <xsd:annotation>
        <xsd:documentation>Calculation Mode</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fullCalcOnLoad" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Full Calculation On Load</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="refMode" type="ST_RefMode" use="optional" default="A1">
      <xsd:annotation>
        <xsd:documentation>Reference Mode</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iterate" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Calculation Iteration</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iterateCount" type="xsd:unsignedInt" use="optional" default="100">
      <xsd:annotation>
        <xsd:documentation>Iteration Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iterateDelta" type="xsd:double" use="optional" default="0.001">
      <xsd:annotation>
        <xsd:documentation>Iterative Calculation Delta</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fullPrecision" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Full Precision Calculation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="calcCompleted" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Calc Completed</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="calcOnSave" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Calculate On Save</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="concurrentCalc" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Concurrent Calculations</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="concurrentManualCount" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Concurrent Thread Manual Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="forceFullCalc" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Force Full Calculation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_CalcMode">
    <xsd:annotation>
      <xsd:documentation>Calculation Mode</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="manual">
        <xsd:annotation>
          <xsd:documentation>Manual Calculation Mode</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="auto">
        <xsd:annotation>
          <xsd:documentation>Automatic</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="autoNoTable">
        <xsd:annotation>
          <xsd:documentation>Automatic Calculation (No Tables)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_RefMode">
    <xsd:annotation>
      <xsd:documentation>Reference Mode</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="A1">
        <xsd:annotation>
          <xsd:documentation>A1 Mode</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="R1C1">
        <xsd:annotation>
          <xsd:documentation>R1C1 Reference Mode</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_DefinedNames">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:class name="DefinedNames"/>
			</xsd:appinfo>
		</xsd:annotation>  
    <xsd:sequence>
      <xsd:element name="definedName" type="CT_DefinedName" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Defined Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_DefinedName">
    <xsd:simpleContent>
      <xsd:extension base="ST_Formula">
        <xsd:attribute name="name" type="ST_Xstring" use="required">
          <xsd:annotation>
            <xsd:documentation>Defined Name</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="comment" type="ST_Xstring" use="optional">
          <xsd:annotation>
            <xsd:documentation>Comment</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="customMenu" type="ST_Xstring" use="optional">
          <xsd:annotation>
            <xsd:documentation>Custom Menu Text</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="description" type="ST_Xstring" use="optional">
          <xsd:annotation>
            <xsd:documentation>Description</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="help" type="ST_Xstring" use="optional">
          <xsd:annotation>
            <xsd:documentation>Help</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="statusBar" type="ST_Xstring" use="optional">
          <xsd:annotation>
            <xsd:documentation>Status Bar</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="localSheetId" type="xsd:unsignedInt" use="optional">
          <xsd:annotation>
            <xsd:documentation>Local Name Sheet Id</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="hidden" type="xsd:boolean" use="optional" default="false">
          <xsd:annotation>
            <xsd:documentation>Hidden Name</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="function" type="xsd:boolean" use="optional" default="false">
          <xsd:annotation>
            <xsd:documentation>Function</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="vbProcedure" type="xsd:boolean" use="optional" default="false">
          <xsd:annotation>
            <xsd:documentation>Procedure</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="xlm" type="xsd:boolean" use="optional" default="false">
          <xsd:annotation>
            <xsd:documentation>External Function</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="functionGroupId" type="xsd:unsignedInt" use="optional">
          <xsd:annotation>
            <xsd:documentation>Function Group Id</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="shortcutKey" type="ST_Xstring" use="optional">
          <xsd:annotation>
            <xsd:documentation>Shortcut Key</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="publishToServer" type="xsd:boolean" use="optional" default="false">
          <xsd:annotation>
            <xsd:documentation>Publish To Server</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="workbookParameter" type="xsd:boolean" use="optional" default="false">
          <xsd:annotation>
            <xsd:documentation>Workbook Parameter (Server)</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CT_ExternalReferences">
    <xsd:sequence>
      <xsd:element name="externalReference" type="CT_ExternalReference" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>External Reference</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_ExternalReference">
    <xsd:attribute ref="r:id" use="required">
      <xsd:annotation>
        <xsd:documentation>Relationship Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_SheetBackgroundPicture">
    <xsd:attribute ref="r:id" use="required">
      <xsd:annotation>
        <xsd:documentation>Relationship Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_PivotCaches">
    <xsd:sequence>
      <xsd:element name="pivotCache" type="CT_PivotCache" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>PivotCache</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_PivotCache">
    <xsd:attribute name="cacheId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>PivotCache Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="r:id" use="required">
      <xsd:annotation>
        <xsd:documentation>Relationship Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_FileSharing">
    <xsd:attribute name="readOnlyRecommended" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Read Only Recommended</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="userName" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>User Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="reservationPassword" type="ST_UnsignedShortHex">
      <xsd:annotation>
        <xsd:documentation>Write Reservation Password</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_OleSize">
    <xsd:attribute name="ref" type="ST_Ref" use="required">
      <xsd:annotation>
        <xsd:documentation>Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_WorkbookProtection">
    <xsd:attribute name="workbookPassword" type="ST_UnsignedShortHex" use="optional">
      <xsd:annotation>
        <xsd:documentation>Workbook Password</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="revisionsPassword" type="ST_UnsignedShortHex" use="optional">
      <xsd:annotation>
        <xsd:documentation>Revisions Password</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lockStructure" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Lock Structure</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lockWindows" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Lock Windows</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lockRevision" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Lock Revisions</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_WebPublishing">
    <xsd:attribute name="css" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Use CSS</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="thicket" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Thicket</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="longFileNames" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Enable Long File Names</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="vml" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>VML in Browsers</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="allowPng" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Allow PNG</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="targetScreenSize" type="ST_TargetScreenSize" use="optional" default="800x600">
      <xsd:annotation>
        <xsd:documentation>Target Screen Size</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dpi" type="xsd:unsignedInt" use="optional" default="96">
      <xsd:annotation>
        <xsd:documentation>DPI</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="codePage" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Code Page</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_TargetScreenSize">
    <xsd:annotation>
      <xsd:documentation>Target Screen Size Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="544x376">
        <xsd:annotation>
          <xsd:documentation>544 x 376 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="640x480">
        <xsd:annotation>
          <xsd:documentation>640 x 480 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="720x512">
        <xsd:annotation>
          <xsd:documentation>720 x 512 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="800x600">
        <xsd:annotation>
          <xsd:documentation>800 x 600 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1024x768">
        <xsd:annotation>
          <xsd:documentation>1024 x 768 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1152x882">
        <xsd:annotation>
          <xsd:documentation>1152 x 882 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1152x900">
        <xsd:annotation>
          <xsd:documentation>1152 x 900 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1280x1024">
        <xsd:annotation>
          <xsd:documentation>1280 x 1024 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1600x1200">
        <xsd:annotation>
          <xsd:documentation>1600 x 1200 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1800x1440">
        <xsd:annotation>
          <xsd:documentation>1800 x 1440 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1920x1200">
        <xsd:annotation>
          <xsd:documentation>1920 x 1200 Resolution</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_FunctionGroups">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="functionGroup" type="CT_FunctionGroup" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Function Group</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="builtInGroupCount" type="xsd:unsignedInt" default="16" use="optional">
      <xsd:annotation>
        <xsd:documentation>Built-in Function Group Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_FunctionGroup">
    <xsd:attribute name="name" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_WebPublishObjects">
    <xsd:sequence>
      <xsd:element name="webPublishObject" type="CT_WebPublishObject" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Web Publishing Object</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_WebPublishObject">
    <xsd:attribute name="id" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="divId" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Div Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sourceObject" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Source Object</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="destinationFile" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Destination File</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="title" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Title</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="autoRepublish" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Auto Republish</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>