docx4j/xsd/dml-old/dml-stylesheet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://schemas.openxmlformats.org/drawingml/2006/main"
	elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.openxmlformats.org/drawingml/2006/main"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">

	<!--
		
		JBH 
					
		REVISION HISTORY
		
		20080228 - Initially, just describes the fonts bit in the theme part.  
		
		20080109 - redefine panose xsd:hexBinary as a xsd:string to workaround NPE in
		           HexBinaryAdapter.marshal in JAXB 2.0
		
		20080317 - map the non font bits, but just to  <xsd:any processContents="skip" maxOccurs="unbounded"
								minOccurs="0"/> 
		- see https://jaxb.dev.java.net/guide/Mapping_of__xs_any___.html   
		20080327 - that's not good enough, owing to a bug in JAXB 2.0, so map the rest properly
				
		jharrop@jharrop-490:~/workspace200711/docx4j-001/src/main/resources/schema/themePart$
		    sh ~/jaxb/jaxb-ri-20070917/bin/xjc.sh  dml-stylesheet.xsd  -d ../../../java/ -no-header  -target 2.0
		    		   		   
		20080718 - don't invoke the above directly, since we now handle drawing in wml.
		
				   Compiling package.xsd pulls in both:
				   - dml-stylesheet (213 classes)
				   - dml-wordprocessingDrawing (174 classes)
				   of which 145 are common to both,
				   giving a total of 242 classes.
				   
				   [Check that it actually got both Anchor and BaseStyles .. that would be the litmus test]
				   
20081027 - having got rid of package.xsd, org.docx4j.dml.BaseStyles is missing				   

 sh ~/jaxb-ri-20071219/bin/xjc.sh -classpath ~/workspace/docx4j/m2/org/jvnet/jaxb2_commons/ppp/parent-pointer-plugin/1.0/parent-pointer-plugin-1.0.jar -Xparent-pointer dml-stylesheet.xsd -d ../../src/main/java/  -no-header -target 2.0

regenerates it, but still missing

org/docx4j/dml/Anchor.java
org/docx4j/dml/Graphic.java
org/docx4j/dml/GraphicData.java
org/docx4j/dml/Inline.java
org/docx4j/dml/Pic.java

For now, get these from wml generated stuff.  But that is not good enough.  For example, there is other stuff Anchor needs :(

But ObjectFactory won't know how to construct them??  So copy that as well!
	-->
	
	<!-- 
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
    </xsd:documentation>
		<xsd:appinfo>
			<xsd:appinfo>
				<jaxb:globalBindings>
				</jaxb:globalBindings>
			</xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.docx4j.dml"/>
			</jaxb:schemaBindings>
		</xsd:appinfo>
  </xsd:annotation>
	 -->
	 
	<xsd:include schemaLocation="dml-baseStylesheet.xsd"/>
	<xsd:include schemaLocation="dml-styleDefaults.xsd"/>
	
	<xsd:complexType name="CT_EmptyElement"></xsd:complexType>
	<xsd:complexType name="CT_ColorMapping">
		<xsd:sequence>
			<xsd:element name="extLst" type="CT_OfficeArtExtensionList"
				minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="bg1" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Background 1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="tx1" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Text 1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="bg2" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Background 2</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="tx2" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Text 2</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="accent1" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Accent 1</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="accent2" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Accent 2</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="accent3" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Accent 3</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="accent4" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Accent 4</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="accent5" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Accent 5</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="accent6" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Accent 6</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hlink" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Hyperlink</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="folHlink" type="ST_ColorSchemeIndex" use="required">
			<xsd:annotation>
				<xsd:documentation>Followed Hyperlink</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CT_ColorMappingOverride">
		<xsd:sequence>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="masterClrMapping" type="CT_EmptyElement">
					<xsd:annotation>
						<xsd:documentation>Master Color
							Mapping</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="overrideClrMapping" type="CT_ColorMapping">
					<xsd:annotation>
						<xsd:documentation>Override Color
							Mapping</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CT_ColorSchemeAndMapping">
		<xsd:sequence>
			<xsd:element name="clrScheme" type="CT_ColorScheme" minOccurs="1"
				maxOccurs="1"/>
			<xsd:element name="clrMap" type="CT_ColorMapping" minOccurs="0"
				maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CT_ColorSchemeList">
		<xsd:sequence>
			<xsd:element name="extraClrScheme" type="CT_ColorSchemeAndMapping"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Extra Color Scheme</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CT_BaseStylesOverride">
		<xsd:sequence>
			<xsd:element name="clrScheme" type="CT_ColorScheme" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Color Scheme</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fontScheme"  minOccurs="0"
				maxOccurs="1"> <!--type="CT_FontScheme"-->
	<xsd:complexType> <!-- name="CT_FontScheme" in dml-baseStylesheet-->
		<xsd:sequence>
			<xsd:element name="majorFont" type="CT_FontCollection" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Major Font</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minorFont" type="CT_FontCollection" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Minor fonts</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extLst" type="CT_OfficeArtExtensionList"
				minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Name</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
				
				</xsd:element>
			<xsd:element name="fmtScheme" type="CT_StyleMatrix" minOccurs="0"
				maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CT_ClipboardStyleSheet">
		<xsd:sequence>
			<xsd:element name="themeElements" type="CT_BaseStyles" minOccurs="1"
				maxOccurs="1"/>
			<xsd:element name="clrMap" type="CT_ColorMapping" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Color Map</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="theme"> <!-- type="CT_OfficeStyleSheet"-->
		<xsd:annotation>
			<xsd:documentation>Theme</xsd:documentation>
		</xsd:annotation>
	<xsd:complexType> <!-- name="CT_OfficeStyleSheet"-->
		<xsd:sequence>
			<xsd:element name="themeElements" type="CT_BaseStyles" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Theme Elements</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="objectDefaults" type="CT_ObjectStyleDefaults"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Object Defaults</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extraClrSchemeLst" type="CT_ColorSchemeList"
				minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Extra Color Scheme List</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="custClrLst" type="CT_CustomColorList" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Custom Color List</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extLst" type="CT_OfficeArtExtensionList"
				minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="optional" default="">
			<xsd:annotation>
				<xsd:documentation>Name</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	</xsd:element>
	<xsd:element name="themeOverride" type="CT_BaseStylesOverride">
		<xsd:annotation>
			<xsd:documentation>Theme Override</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="themeManager" type="CT_EmptyElement">
		<xsd:annotation>
			<xsd:documentation>Theme Manager</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>