xsd/vml/vml-officedrawing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:schemas-microsoft-com:office:office" 
	xmlns="urn:schemas-microsoft-com:office:office" 
	xmlns:v="urn:schemas-microsoft-com:vml" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">

  <xsd:import namespace="urn:schemas-microsoft-com:vml" schemaLocation="vml-main.xsd" />
  
  <xsd:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" 
  schemaLocation="../shared/shared-relationshipReference.xsd" />
  
        <xsd:annotation>
                <xsd:appinfo>
                        <xsd:appinfo>
                                <jaxb:globalBindings/>
                        </xsd:appinfo>
                        <jaxb:schemaBindings>
                                <jaxb:package name="org.docx4j.vml.officedrawing"/>
                        </jaxb:schemaBindings>
                </xsd:appinfo>
        </xsd:annotation>
  
  
  <xsd:attribute name="bwmode" type="ST_BWMode" />
  <xsd:attribute name="bwpure" type="ST_BWMode" />
  <xsd:attribute name="bwnormal" type="ST_BWMode" />
  <xsd:attribute name="targetscreensize" type="ST_ScreenSize" />
  <xsd:attribute name="insetmode" type="ST_InsetMode" default="custom" />
  <xsd:attribute name="spt" type="xsd:float" />
  <xsd:attribute name="wrapcoords" type="xsd:string" />
  <xsd:attribute name="oned" type="ST_TrueFalse" />
  <xsd:attribute name="regroupid" type="xsd:integer" />
  <xsd:attribute name="doubleclicknotify" type="ST_TrueFalse" />
  <xsd:attribute name="connectortype" type="ST_ConnectorType" default="straight" />
  <xsd:attribute name="button" type="ST_TrueFalse" />
  <xsd:attribute name="userhidden" type="ST_TrueFalse" />
  <xsd:attribute name="forcedash" type="ST_TrueFalse" />
  <xsd:attribute name="oleicon" type="ST_TrueFalse" />
  <xsd:attribute name="ole" type="ST_TrueFalseBlank" />
  <xsd:attribute name="preferrelative" type="ST_TrueFalse" />
  <xsd:attribute name="cliptowrap" type="ST_TrueFalse" />
  <xsd:attribute name="clip" type="ST_TrueFalse" />
  <xsd:attribute name="bullet" type="ST_TrueFalse" />
  <xsd:attribute name="hr" type="ST_TrueFalse" />
  <xsd:attribute name="hrstd" type="ST_TrueFalse" />
  <xsd:attribute name="hrnoshade" type="ST_TrueFalse" />
  <xsd:attribute name="hrpct" type="xsd:float" />
  <xsd:attribute name="hralign" type="ST_HrAlign" default="left" />
  <xsd:attribute name="allowincell" type="ST_TrueFalse" />
  <xsd:attribute name="allowoverlap" type="ST_TrueFalse" />
  <xsd:attribute name="userdrawn" type="ST_TrueFalse" />
  <xsd:attribute name="bordertopcolor" type="xsd:string" />
  <xsd:attribute name="borderleftcolor" type="xsd:string" />
  <xsd:attribute name="borderbottomcolor" type="xsd:string" />
  <xsd:attribute name="borderrightcolor" type="xsd:string" />
  <xsd:attribute name="connecttype" type="ST_ConnectType" />
  <xsd:attribute name="connectlocs" type="xsd:string" />
  <xsd:attribute name="connectangles" type="xsd:string" />
  <xsd:attribute name="master" type="xsd:string" />
  <xsd:attribute name="extrusionok" type="ST_TrueFalse" />
  <xsd:attribute name="href" type="xsd:string" />
  <xsd:attribute name="althref" type="xsd:string" />
  <xsd:attribute name="title" type="xsd:string" />
  <xsd:attribute name="singleclick" type="ST_TrueFalse" />
  <xsd:attribute name="oleid" type="xsd:float" />
  <xsd:attribute name="detectmouseclick" type="ST_TrueFalse" />
  <xsd:attribute name="movie" type="xsd:float" />
  <xsd:attribute name="spid" type="xsd:string" />
  <xsd:attribute name="opacity2" type="xsd:string" />
  <xsd:attribute name="relid" type="ST_RelationshipId" />
  <xsd:attribute name="dgmlayout" type="xsd:integer" />
  <xsd:attribute name="dgmnodekind" type="xsd:integer" />
  <xsd:attribute name="dgmlayoutmru" type="xsd:integer" />
  <xsd:attribute name="gfxdata" type="xsd:base64Binary" />
  <xsd:attribute name="tableproperties" type="xsd:string" />
  <xsd:attribute name="tablelimits" type="xsd:string" />
  <xsd:element name="shapedefaults" type="CT_ShapeDefaults">
    <xsd:annotation>
      <xsd:documentation>New Shape Defaults</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="shapelayout" type="CT_ShapeLayout">
    <xsd:annotation>
      <xsd:documentation>Shape Layout Properties</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="signatureline" type="CT_SignatureLine">
    <xsd:annotation>
      <xsd:documentation>Digital Signature Line</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ink" type="CT_Ink">
    <xsd:annotation>
      <xsd:documentation>Ink</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="diagram" type="CT_Diagram">
    <xsd:annotation>
      <xsd:documentation>VML Diagram</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_ShapeDefaults">
    <xsd:all minOccurs="0">
      <xsd:element ref="v:fill" minOccurs="0" />
      <xsd:element ref="v:stroke" minOccurs="0" />
      <xsd:element ref="v:textbox" minOccurs="0" />
      <xsd:element ref="v:shadow" minOccurs="0" />
      <xsd:element ref="skew" minOccurs="0" />
      <xsd:element ref="extrusion" minOccurs="0" />
      <xsd:element ref="callout" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Callout</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element ref="lock" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Shape Protections</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="colormru" minOccurs="0" type="CT_ColorMru">
        <xsd:annotation>
          <xsd:documentation>Most Recently Used Colors</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="colormenu" minOccurs="0" type="CT_ColorMenu">
        <xsd:annotation>
          <xsd:documentation>UI Default Colors</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="spidmax" type="xsd:integer" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shape ID Optional Storage</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="style" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shape Styling Properties</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fill" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shape Fill Toggle</xsd:documentation>
        <xsd:appinfo>
                <jaxb:property name="fillToggle"/>
        </xsd:appinfo>        
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fillcolor" type="ST_ColorType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Default Fill Color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="stroke" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shape Stroke Toggle</xsd:documentation>
        <xsd:appinfo>
                <jaxb:property name="strokeToggle"/>
        </xsd:appinfo>        
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="strokecolor" type="ST_ColorType">
      <xsd:annotation>
        <xsd:documentation>Shape Stroke Color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="allowincell" form="qualified" type="ST_TrueFalse">
      <xsd:annotation>
        <xsd:documentation>Allow in Table Cell</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Ink">
    <xsd:sequence></xsd:sequence>
    <xsd:attribute name="i" type="xsd:base64Binary">
      <xsd:annotation>
        <xsd:documentation>Ink Data</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="annotation" type="ST_TrueFalse">
      <xsd:annotation>
        <xsd:documentation>Annotation Flag</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_SignatureLine">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="issignatureline" type="ST_TrueFalse">
      <xsd:annotation>
        <xsd:documentation>Signature Line Flag</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="id" type="ST_Guid">
      <xsd:annotation>
        <xsd:documentation>Unique ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="provid" type="ST_Guid">
      <xsd:annotation>
        <xsd:documentation>Signature Provider ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="signinginstructionsset" type="ST_TrueFalse">
      <xsd:annotation>
        <xsd:documentation>Use Signing Instructions Flag</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="allowcomments" type="ST_TrueFalse">
      <xsd:annotation>
        <xsd:documentation>User-specified Comments Flag</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showsigndate" type="ST_TrueFalse">
      <xsd:annotation>
        <xsd:documentation>Show Signed Date Flag</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="suggestedsigner" type="xsd:string" form="qualified">
      <xsd:annotation>
        <xsd:documentation>Suggested Signer Line 1</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="suggestedsigner2" type="xsd:string" form="qualified">
      <xsd:annotation>
        <xsd:documentation>Suggested Signer Line 2</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="suggestedsigneremail" type="xsd:string" form="qualified">
      <xsd:annotation>
        <xsd:documentation>Suggested Signer E-mail Address</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <!--  [2014 07 31] to conform with Word 2010 x64 behaviour, the 3 attributes below have been made namespace qualified! 
          see further,  https://github.com/plutext/docx4j/issues/121.
    -->
    <xsd:attribute name="signinginstructions" type="xsd:string"  form="qualified">
      <xsd:annotation>
        <xsd:documentation>Instructions for Signing</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="addlxml" type="xsd:string"  form="qualified">
      <xsd:annotation>
        <xsd:documentation>Additional Signature Information</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sigprovurl" type="xsd:string"  form="qualified">
      <xsd:annotation>
        <xsd:documentation>Signature Provider Download URL</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_ShapeLayout">
    <xsd:all>
      <xsd:element name="idmap" type="CT_IdMap" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Shape ID Map</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="regrouptable" type="CT_RegroupTable" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Shape Grouping History</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rules" type="CT_Rules" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Rule Set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
    <xsd:attributeGroup ref="v:AG_Ext" />
  </xsd:complexType>
  <xsd:complexType name="CT_IdMap">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="data" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shape IDs</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RegroupTable">
    <xsd:sequence>
      <xsd:element name="entry" type="CT_Entry" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Regroup Entry</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="v:AG_Ext" />
  </xsd:complexType>
  <xsd:complexType name="CT_Entry">
    <xsd:attribute name="new" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>New Group ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="old" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>Old Group ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Rules">
    <xsd:sequence>
      <xsd:element name="r" type="CT_R" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Rule</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="v:AG_Ext" />
  </xsd:complexType>
  <xsd:complexType name="CT_R">
    <xsd:sequence>
      <xsd:element name="proxy" type="CT_Proxy" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Shape Reference</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>Rule ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="ST_RType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rule Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="how" type="ST_How" use="optional">
      <xsd:annotation>
        <xsd:documentation>Alignment Rule Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="idref" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rule Shape Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Proxy">
    <xsd:attribute name="start" type="ST_TrueFalseBlank" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Start Point Connection Flag</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="end" type="ST_TrueFalseBlank" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>End Point Connection Flag</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="idref" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Proxy Shape Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="connectloc" type="xsd:int" use="optional">
      <xsd:annotation>
        <xsd:documentation>Connection Location</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Diagram">
    <xsd:sequence>
      <xsd:element name="relationtable" type="CT_RelationTable" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Diagram Relationship Table</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="dgmstyle" type="xsd:integer" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Style Options</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="autoformat" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Automatic Format</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="reverse" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Reverse Direction</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="autolayout" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Automatic Layout</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dgmscalex" type="xsd:integer" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Layout X Scale</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dgmscaley" type="xsd:integer" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Layout Y Scale</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dgmfontsize" type="xsd:integer" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Font Size</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="constrainbounds" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Layout Extents</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dgmbasetextscale" type="xsd:integer" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Base Font Size</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RelationTable">
    <xsd:sequence>
      <xsd:element name="rel" type="CT_Relation" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Diagram Relationship</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="v:AG_Ext" />
  </xsd:complexType>
  <xsd:complexType name="CT_Relation">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="idsrc" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Relationship Source Shape</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iddest" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Relationship Destination Shape</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="idcntr" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diagram Relationship Center Shape</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_ColorMru">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="colors" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Recent colors</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_ColorMenu">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="strokecolor" type="ST_ColorType">
      <xsd:annotation>
        <xsd:documentation>Default stroke color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fillcolor" type="ST_ColorType">
      <xsd:annotation>
        <xsd:documentation>Default fill color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="shadowcolor" type="ST_ColorType">
      <xsd:annotation>
        <xsd:documentation>Default shadow color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="extrusioncolor" type="ST_ColorType">
      <xsd:annotation>
        <xsd:documentation>Default extrusion color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:element name="skew" type="CT_Skew">
    <xsd:annotation>
      <xsd:documentation>Skew Transform</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="extrusion" type="CT_Extrusion">
    <xsd:annotation>
      <xsd:documentation>3D Extrusion</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="callout" type="CT_Callout" />
  <xsd:element name="lock" type="CT_Lock" />
  <xsd:element name="OLEObject" type="CT_OLEObject">
    <xsd:annotation>
      <xsd:documentation>Embedded OLE Object</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="complex" type="CT_Complex">
    <xsd:annotation>
      <xsd:documentation>Complex</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="left" type="CT_StrokeChild">
    <xsd:annotation>
      <xsd:documentation>Text Box Left Stroke</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="top" type="CT_StrokeChild">
    <xsd:annotation>
      <xsd:documentation>Text Box Top Stroke</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="right" type="CT_StrokeChild">
    <xsd:annotation>
      <xsd:documentation>Text Box Right Stroke</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="bottom" type="CT_StrokeChild">
    <xsd:annotation>
      <xsd:documentation>Text Box Bottom Stroke</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="column" type="CT_StrokeChild">
    <xsd:annotation>
      <xsd:documentation>Text Box Interior Stroke</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="clippath" type="CT_ClipPath">
    <xsd:annotation>
      <xsd:documentation>Shape Clipping Path</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="fill" type="CT_Fill">
    <xsd:annotation>
      <xsd:documentation>Shape Fill Extended Properties</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_Skew">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="id" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Skew ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Skew Toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="offset" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Skew Offset</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="origin" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Skew Origin</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="matrix" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Skew Perspective Matrix</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Extrusion">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion Toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="ST_ExtrusionType" default="parallel" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="render" type="ST_ExtrusionRender" default="solid" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion Render Mode</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="viewpointorigin" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion Viewpoint Origin</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="viewpoint" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion Viewpoint</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="plane" type="ST_ExtrusionPlane" default="XY" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion Direction</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="skewangle" type="xsd:float" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion Skew Angle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="skewamt" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion Skew</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="foredepth" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Forward Extrusion</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="backdepth" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Backward Extrusion Depth</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="orientation" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotation Axis</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="orientationangle" type="xsd:float" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotation Around Axis</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lockrotationcenter" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotation Toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="autorotationcenter" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Center of Rotation Toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rotationcenter" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotation Center</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rotationangle" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>X-Y Rotation Angle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="colormode" type="ST_ColorMode" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion Color Mode</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="color" type="ST_ColorType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Extrusion Color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="shininess" type="xsd:float" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shininess</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="specularity" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Specularity</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="diffusity" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Diffuse Reflection</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="metal" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Metallic Surface Toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="edge" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Simulated Bevel</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="facet" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Faceting Quality</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightface" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shape Face Lighting Toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="brightness" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Brightness</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightposition" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Primary Light Position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightlevel" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Primary Light Intensity</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightharsh" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Primary Light Harshness Toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightposition2" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Secondary Light Position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightlevel2" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Secondary Light Intensity</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lightharsh2" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Secondary Light Harshness Toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Callout">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="gap" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout gap</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="angle" type="ST_Angle" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout angle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dropauto" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout automatic drop toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="drop" type="ST_CalloutDrop" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout drop position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="distance" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout drop distance</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lengthspecified" type="ST_TrueFalse" default="f" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout length toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="length" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout length</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="accentbar" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout accent bar toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="textborder" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout text border toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minusx" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout flip x</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minusy" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Callout flip y</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Lock">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="position" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Position Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="selection" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Selection Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="grouping" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Grouping Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ungrouping" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Ungrouping Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rotation" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Rotation Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="cropping" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Cropping Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="verticies" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Vertices Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="adjusthandles" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Handles Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="text" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Text Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="aspectratio" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Aspect Ratio Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="shapetype" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>AutoShape Type Lock</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_OLEObject">
    <xsd:sequence>
      <xsd:element name="LinkType" type="ST_OLELinkType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Embedded Object Alternate Image Request</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LockedField" type="ST_TrueFalseBlank" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Embedded Object Cannot Be Refreshed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FieldCodes" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>WordprocessingML Field Switches</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="Type" type="ST_OLEType" use="optional">
      <xsd:annotation>
        <xsd:documentation>OLE Object Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ProgID" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>OLE Object Application</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ShapeID" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>OLE Object Shape</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="DrawAspect" type="ST_OLEDrawAspect" use="optional">
      <xsd:annotation>
        <xsd:documentation>OLE Object Representation</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ObjectID" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>OLE Object Unique ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="r:id" use="optional">
      <xsd:annotation>
        <xsd:documentation>Relationship</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="UpdateMode" type="ST_OLEUpdateMode" use="optional">
      <xsd:annotation>
        <xsd:documentation>OLE Update Mode</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Complex">
    <xsd:attributeGroup ref="v:AG_Ext" />
  </xsd:complexType>
  <xsd:complexType name="CT_StrokeChild">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Toggle</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="weight" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Weight</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="color" type="ST_ColorType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="color2" type="ST_ColorType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Alternate Pattern Color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="opacity" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Opacity</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="linestyle" type="v:ST_StrokeLineStyle" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Line Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="miterlimit" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Miter Joint Limit</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="joinstyle" type="v:ST_StrokeJoinStyle" use="optional">
      <xsd:annotation>
        <xsd:documentation>Line End Join Style)</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="endcap" type="v:ST_StrokeEndCap" use="optional">
      <xsd:annotation>
        <xsd:documentation>Line End Cap</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dashstyle" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Dash Pattern</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="insetpen" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Inset Border From Path</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="filltype" type="v:ST_FillType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Image Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="src" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Image Location</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="imageaspect" type="v:ST_ImageAspect" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Image Aspect Ratio</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="imagesize" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stroke Image Size</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="imagealignshape" type="ST_TrueFalse" use="optional">
      <xsd:annotation>
        <xsd:documentation>Stoke Image Alignment</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="startarrow" type="v:ST_StrokeArrowType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Line Start Arrowhead</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="startarrowwidth" type="v:ST_StrokeArrowWidth" use="optional">
      <xsd:annotation>
        <xsd:documentation>Line Start Arrowhead Width</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="startarrowlength" type="v:ST_StrokeArrowLength" use="optional">
      <xsd:annotation>
        <xsd:documentation>Line Start Arrowhead Length</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="endarrow" type="v:ST_StrokeArrowType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Line End Arrowhead</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="endarrowwidth" type="v:ST_StrokeArrowWidth" use="optional">
      <xsd:annotation>
        <xsd:documentation>Line End Arrowhead Width</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="endarrowlength" type="v:ST_StrokeArrowLength" use="optional">
      <xsd:annotation>
        <xsd:documentation>Line End Arrowhead Length</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="href">
      <xsd:annotation>
        <xsd:documentation>Original Image Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="althref">
      <xsd:annotation>
        <xsd:documentation>Alternate Image Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="title">
      <xsd:annotation>
        <xsd:documentation>Stroke Title</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="forcedash">
      <xsd:annotation>
        <xsd:documentation>Force Dashed Outline</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_ClipPath">
    <xsd:attribute name="v" type="xsd:string" use="required" form="qualified">
      <xsd:annotation>
        <xsd:documentation>Path Definition</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Fill">
    <xsd:attributeGroup ref="v:AG_Ext" />
    <xsd:attribute name="type" type="ST_FillType">
      <xsd:annotation>
        <xsd:documentation>Fill Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_RType">
    <xsd:annotation>
      <xsd:documentation>Rule Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="arc">
        <xsd:annotation>
          <xsd:documentation>Arc Rule</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="callout">
        <xsd:annotation>
          <xsd:documentation>Callout Rule</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="connector">
        <xsd:annotation>
          <xsd:documentation>Connector Rule</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="align">
        <xsd:annotation>
          <xsd:documentation>Alignment Rule</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_How">
    <xsd:annotation>
      <xsd:documentation>Alignment Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="top">
        <xsd:annotation>
          <xsd:documentation>Top Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="middle">
        <xsd:annotation>
          <xsd:documentation>Middle Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="bottom">
        <xsd:annotation>
          <xsd:documentation>Bottom Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="left">
        <xsd:annotation>
          <xsd:documentation>Left Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="center">
        <xsd:annotation>
          <xsd:documentation>Center Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="right">
        <xsd:annotation>
          <xsd:documentation>Right Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_BWMode">
    <xsd:annotation>
      <xsd:documentation>Black And White Modes</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="color">
        <xsd:annotation>
          <xsd:documentation>Color</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="auto">
        <xsd:annotation>
          <xsd:documentation>Automatic</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="grayScale">
        <xsd:annotation>
          <xsd:documentation>Grayscale</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lightGrayscale">
        <xsd:annotation>
          <xsd:documentation>Light grayscale</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="inverseGray">
        <xsd:annotation>
          <xsd:documentation>Inverse Grayscale</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="grayOutline">
        <xsd:annotation>
          <xsd:documentation>Gray Outlines</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="highContrast">
        <xsd:annotation>
          <xsd:documentation>Black And White</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="black">
        <xsd:annotation>
          <xsd:documentation>Black</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="white">
        <xsd:annotation>
          <xsd:documentation>White</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hide">
        <xsd:annotation>
          <xsd:documentation>Hide Object When Displayed in Black and White</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="undrawn">
        <xsd:annotation>
          <xsd:documentation>Do Not Show</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="blackTextAndLines">
        <xsd:annotation>
          <xsd:documentation>Black Text And Lines</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ScreenSize">
    <xsd:annotation>
      <xsd:documentation>Screen Sizes Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="544,376">
        <xsd:annotation>
          <xsd:documentation>544x376 pixels</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="640,480">
        <xsd:annotation>
          <xsd:documentation>640x480 pixels</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="720,512">
        <xsd:annotation>
          <xsd:documentation>720x512 pixels</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="800,600">
        <xsd:annotation>
          <xsd:documentation>800x600 pixels</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1024,768">
        <xsd:annotation>
          <xsd:documentation>1024x768 pixels</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1152,862">
        <xsd:annotation>
          <xsd:documentation>1152x862 pixels</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_InsetMode">
    <xsd:annotation>
      <xsd:documentation>Inset Margin Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="auto">
        <xsd:annotation>
          <xsd:documentation>Automatic Margins</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="custom">
        <xsd:annotation>
          <xsd:documentation>Custom Margins</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ColorMode">
    <xsd:annotation>
      <xsd:documentation>Extrusion Color Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="auto">
        <xsd:annotation>
          <xsd:documentation>Use Shape Fill Color</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="custom">
        <xsd:annotation>
          <xsd:documentation>Use Custom Color</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ColorType">
    <xsd:annotation>
      <xsd:documentation>Color Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_ExtrusionType">
    <xsd:annotation>
      <xsd:documentation>Extrusion Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="perspective">
        <xsd:annotation>
          <xsd:documentation>Perspective Projection</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="parallel">
        <xsd:annotation>
          <xsd:documentation>Parallel Projection</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ExtrusionRender">
    <xsd:annotation>
      <xsd:documentation>Extrusion Rendering Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="solid">
        <xsd:annotation>
          <xsd:documentation>Solid</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="wireFrame">
        <xsd:annotation>
          <xsd:documentation>Wireframe</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="boundingCube">
        <xsd:annotation>
          <xsd:documentation>Bounding Cube</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ExtrusionPlane">
    <xsd:annotation>
      <xsd:documentation>Extrusion Planes</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="XY">
        <xsd:annotation>
          <xsd:documentation>XY Plane</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ZX">
        <xsd:annotation>
          <xsd:documentation>ZX Plane</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="YZ">
        <xsd:annotation>
          <xsd:documentation>YZ Plane</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Angle">
    <xsd:annotation>
      <xsd:documentation>Callout Angles</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="any">
        <xsd:annotation>
          <xsd:documentation>Any Angle</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="30">
        <xsd:annotation>
          <xsd:documentation>30 degrees</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="45">
        <xsd:annotation>
          <xsd:documentation>45 degrees</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="60">
        <xsd:annotation>
          <xsd:documentation>60 degrees</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="90">
        <xsd:annotation>
          <xsd:documentation>90 degrees</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="auto">
        <xsd:annotation>
          <xsd:documentation>Automatic Angle</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_CalloutDrop">
    <xsd:annotation>
      <xsd:documentation>Callout Drop Location</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_CalloutPlacement">
    <xsd:annotation>
      <xsd:documentation>Callout Placement</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="top">
        <xsd:annotation>
          <xsd:documentation>Top placement</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="center">
        <xsd:annotation>
          <xsd:documentation>Center placement</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="bottom">
        <xsd:annotation>
          <xsd:documentation>Bottom placement</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="user">
        <xsd:annotation>
          <xsd:documentation>User-defined placement</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ConnectorType">
    <xsd:annotation>
      <xsd:documentation>Connector Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>No Connector</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="straight">
        <xsd:annotation>
          <xsd:documentation>Straight Connector</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="elbow">
        <xsd:annotation>
          <xsd:documentation>Elbow Connector</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="curved">
        <xsd:annotation>
          <xsd:documentation>Curved Connector</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_HrAlign">
    <xsd:annotation>
      <xsd:documentation>Alignment Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="left">
        <xsd:annotation>
          <xsd:documentation>Left Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="right">
        <xsd:annotation>
          <xsd:documentation>Right Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="center">
        <xsd:annotation>
          <xsd:documentation>Center Alignment</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ConnectType">
    <xsd:annotation>
      <xsd:documentation>Connection Locations Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>No</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="rect">
        <xsd:annotation>
          <xsd:documentation>Four Connections</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="segments">
        <xsd:annotation>
          <xsd:documentation>Edit Point Connections</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="custom">
        <xsd:annotation>
          <xsd:documentation>Custom Connections</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_OLELinkType">
    <xsd:annotation>
      <xsd:documentation>Embedded Object Alternate Image Request Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Picture">
        <xsd:annotation>
          <xsd:documentation>Other Image</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Bitmap">
        <xsd:annotation>
          <xsd:documentation>Bitmap Image</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="EnhancedMetaFile">
        <xsd:annotation>
          <xsd:documentation>Enhanced Metafile Image</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_OLEType">
    <xsd:annotation>
      <xsd:documentation>OLE Connection Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Embed">
        <xsd:annotation>
          <xsd:documentation>Embedded Object</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Link">
        <xsd:annotation>
          <xsd:documentation>Linked Object</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_OLEDrawAspect">
    <xsd:annotation>
      <xsd:documentation>OLE Object Representations</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Content">
        <xsd:annotation>
          <xsd:documentation>Snapshot</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Icon">
        <xsd:annotation>
          <xsd:documentation>Icon</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_OLEUpdateMode">
    <xsd:annotation>
      <xsd:documentation>OLE Update Method Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Always">
        <xsd:annotation>
          <xsd:documentation>Server Application Update</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="OnCall">
        <xsd:annotation>
          <xsd:documentation>User Update</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Guid">
    <xsd:annotation>
      <xsd:documentation>128-Bit GUID</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:pattern value="\{[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}\}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_RelationshipId">
    <xsd:annotation>
      <xsd:documentation>Explicit Relationship ID</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ST_TrueFalse">
    <xsd:annotation>
      <xsd:documentation>Boolean Value</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="t">
        <xsd:annotation>
          <xsd:documentation>True</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="f">
        <xsd:annotation>
          <xsd:documentation>False</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="true">
        <xsd:annotation>
          <xsd:documentation>True</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="false">
        <xsd:annotation>
          <xsd:documentation>False</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_TrueFalseBlank">
    <xsd:annotation>
      <xsd:documentation>Boolean Value with Blank [False] State</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="">
        <xsd:annotation>
          <xsd:documentation>Blank – Logical False</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="t">
        <xsd:annotation>
          <xsd:documentation>Logical True</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="f">
        <xsd:annotation>
          <xsd:documentation>Logical False</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="true">
        <xsd:annotation>
          <xsd:documentation>Logical True</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="false">
        <xsd:annotation>
          <xsd:documentation>Logical False</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_FillType">
    <xsd:annotation>
      <xsd:documentation>Shape Fill Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="gradientCenter">
        <xsd:annotation>
          <xsd:documentation>Centered Radial Gradient</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="solid">
        <xsd:annotation>
          <xsd:documentation>Solid Fill</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="pattern">
        <xsd:annotation>
          <xsd:documentation>Image Pattern</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="tile">
        <xsd:annotation>
          <xsd:documentation>Tiled Image</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="frame">
        <xsd:annotation>
          <xsd:documentation>Stretch Image to Fit</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gradientUnscaled">
        <xsd:annotation>
          <xsd:documentation>Unscaled Gradient</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gradientRadial">
        <xsd:annotation>
          <xsd:documentation>Radial Gradient</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gradient">
        <xsd:annotation>
          <xsd:documentation>Linear Gradient</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="background">
        <xsd:annotation>
          <xsd:documentation>Use Background Fill</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>