xsd/vml/vml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:schemas-microsoft-com:vml" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation">
  <xsd:import namespace="urn:schemas-microsoft-com:office:office" schemaLocation="vml-officedrawing.xsd" />
  <xsd:element name="shape" type="CT_Shape" />
  <xsd:complexType name="CT_Shape">
    <xsd:sequence>
      <xsd:any processContents="strict" namespace="##any" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="type" type="xsd:string" use="optional" />
    <xsd:attribute name="adj" type="xsd:string" use="optional" />
    <xsd:attribute name="path" type="xsd:string" use="optional" />
    <xsd:attribute name="href" type="xsd:string" use="optional" />
    <xsd:attribute name="target" type="xsd:string" use="optional" />
    <xsd:attribute name="class" type="xsd:string" use="optional" />
    <xsd:attribute name="title" type="xsd:string" use="optional" />
    <xsd:attribute name="alt" type="xsd:string" use="optional" />
    <xsd:attribute name="onmouseover" type="xsd:string" use="optional" />
    <xsd:attribute name="opacity" type="xsd:string" use="optional" />
    <xsd:attribute name="chromakey" type="xsd:string" use="optional" />
    <xsd:attribute name="stroked" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="strokecolor" type="ST_ColorType" use="optional" />
    <xsd:attribute name="strokeweight" type="xsd:string" use="optional" />
    <xsd:attribute name="filled" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="fillcolor" type="ST_ColorType" use="optional" />
    <xsd:attribute name="print" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="coordsize" type="xsd:string" use="optional" />
    <xsd:attribute name="coordorigin" type="xsd:string" use="optional" />
    <xsd:attribute name="style" type="xsd:string" use="optional" />
    <xsd:attribute name="wrapcoords" type="xsd:string" use="optional" />
    <xsd:attribute ref="o:spt" use="optional" />
    <xsd:attribute ref="o:wrapcoords" use="optional" />
    <xsd:attribute ref="o:oned" use="optional" />
    <xsd:attribute ref="o:regroupid" use="optional" />
    <xsd:attribute ref="o:doubleclicknotify" use="optional" />
    <xsd:attribute ref="o:ruleinitiator" use="optional" />
    <xsd:attribute ref="o:ruleproxy" use="optional" />
    <xsd:attribute ref="o:connectortype" use="optional" />
    <xsd:attribute ref="o:button" use="optional" />
    <xsd:attribute ref="o:userhidden" use="optional" />
    <xsd:attribute ref="o:bwmode" use="optional" />
    <xsd:attribute ref="o:bwpure" use="optional" />
    <xsd:attribute ref="o:bwnormal" use="optional" />
    <xsd:attribute ref="o:forcedash" use="optional" />
    <xsd:attribute ref="o:oleicon" use="optional" />
    <xsd:attribute ref="o:ole" use="optional" />
    <xsd:attribute ref="o:preferrelative" use="optional" />
    <xsd:attribute ref="o:bullet" use="optional" />
    <xsd:attribute ref="o:hr" use="optional" />
    <xsd:attribute ref="o:hrstd" use="optional" />
    <xsd:attribute ref="o:hrnoshade" use="optional" />
    <xsd:attribute ref="o:hrheight" use="optional" />
    <xsd:attribute ref="o:hrwidth" use="optional" />
    <xsd:attribute ref="o:hrpct" use="optional" />
    <xsd:attribute ref="o:hralign" use="optional" />
    <xsd:attribute ref="o:relativeposition" use="optional" />
    <xsd:attribute ref="o:allowincell" use="optional" />
    <xsd:attribute ref="o:allowoverlap" use="optional" />
    <xsd:attribute ref="o:userdrawn" use="optional" />
    <xsd:attribute ref="o:tableproperties" use="optional" />
    <xsd:attribute ref="o:tablelimits" use="optional" />
    <xsd:attribute ref="o:bordertopcolor" use="optional" />
    <xsd:attribute ref="o:borderleftcolor" use="optional" />
    <xsd:attribute ref="o:borderbottomcolor" use="optional" />
    <xsd:attribute ref="o:borderrightcolor" use="optional" />
    <xsd:attribute ref="o:spid" use="optional" />
    <xsd:attribute ref="o:insetmode" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="group" type="CT_Group" />
  <xsd:complexType name="CT_Group">
    <xsd:sequence>
      <xsd:any processContents="strict" namespace="##any" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="editas" type="xsd:string" use="optional" />
    <xsd:attribute name="href" type="xsd:string" use="optional" />
    <xsd:attribute name="target" type="xsd:string" use="optional" />
    <xsd:attribute name="class" type="xsd:string" use="optional" />
    <xsd:attribute name="title" type="xsd:string" use="optional" />
    <xsd:attribute name="alt" type="xsd:string" use="optional" />
    <xsd:attribute name="onmouseover" type="xsd:string" use="optional" />
    <xsd:attribute name="print" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="coordsize" type="xsd:string" use="optional" />
    <xsd:attribute name="coordorigin" type="xsd:string" use="optional" />
    <xsd:attribute name="style" type="xsd:string" use="optional" />
    <xsd:attribute ref="o:spid" use="optional" />
    <xsd:attribute ref="o:spt" use="optional" />
    <xsd:attribute ref="o:wrapcoords" use="optional" />
    <xsd:attribute ref="o:oned" use="optional" />
    <xsd:attribute ref="o:regroupid" use="optional" />
    <xsd:attribute ref="o:doubleclicknotify" use="optional" />
    <xsd:attribute ref="o:button" use="optional" />
    <xsd:attribute ref="o:userhidden" use="optional" />
    <xsd:attribute ref="o:forcedash" use="optional" />
    <xsd:attribute ref="o:bullet" use="optional" />
    <xsd:attribute ref="o:hr" use="optional" />
    <xsd:attribute ref="o:hrstd" use="optional" />
    <xsd:attribute ref="o:hrnoshade" use="optional" />
    <xsd:attribute ref="o:hrheight" use="optional" />
    <xsd:attribute ref="o:hrwidth" use="optional" />
    <xsd:attribute ref="o:hrpct" use="optional" />
    <xsd:attribute ref="o:hralign" use="optional" />
    <xsd:attribute ref="o:relativeposition" use="optional" />
    <xsd:attribute ref="o:allowincell" use="optional" />
    <xsd:attribute ref="o:allowoverlap" use="optional" />
    <xsd:attribute ref="o:userdrawn" use="optional" />
    <xsd:attribute ref="o:tableproperties" use="optional" />
    <xsd:attribute ref="o:tablelimits" use="optional" />
    <xsd:attribute ref="o:bordertopcolor" use="optional" />
    <xsd:attribute ref="o:borderleftcolor" use="optional" />
    <xsd:attribute ref="o:borderbottomcolor" use="optional" />
    <xsd:attribute ref="o:borderrightcolor" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="shapetype" type="CT_Shapetype" />
  <xsd:complexType name="CT_Shapetype">
    <xsd:sequence>
      <xsd:any processContents="strict" namespace="##any" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="adj" type="xsd:string" use="optional" />
    <xsd:attribute name="path" type="xsd:string" use="optional" />
    <xsd:attribute name="href" type="xsd:string" use="optional" />
    <xsd:attribute name="target" type="xsd:string" use="optional" />
    <xsd:attribute name="class" type="xsd:string" use="optional" />
    <xsd:attribute name="title" type="xsd:string" use="optional" />
    <xsd:attribute name="alt" type="xsd:string" use="optional" />
    <xsd:attribute name="onmouseover" type="xsd:string" use="optional" />
    <xsd:attribute name="print" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="coordsize" type="xsd:string" use="optional" />
    <xsd:attribute name="coordorigin" type="xsd:string" use="optional" />
    <xsd:attribute name="filled" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="stroked" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="fillcolor" type="xsd:string" use="optional" />
    <xsd:attribute name="strokecolor" type="xsd:string" use="optional" />
    <xsd:attribute name="style" type="xsd:string" use="optional" />
    <xsd:attribute ref="o:wrapcoords" use="optional" />
    <xsd:attribute ref="o:preferrelative" use="optional" />
    <xsd:attribute ref="o:spt" use="optional" />
    <xsd:attribute ref="o:oned" use="optional" />
    <xsd:attribute ref="o:regroupid" use="optional" />
    <xsd:attribute ref="o:doubleclicknotify" use="optional" />
    <xsd:attribute ref="o:button" use="optional" />
    <xsd:attribute ref="o:userhidden" use="optional" />
    <xsd:attribute ref="o:bullet" use="optional" />
    <xsd:attribute ref="o:hr" use="optional" />
    <xsd:attribute ref="o:hrstd" use="optional" />
    <xsd:attribute ref="o:hrnoshade" use="optional" />
    <xsd:attribute ref="o:hrheight" use="optional" />
    <xsd:attribute ref="o:hrwidth" use="optional" />
    <xsd:attribute ref="o:hrpct" use="optional" />
    <xsd:attribute ref="o:hralign" use="optional" />
    <xsd:attribute ref="o:relativeposition" use="optional" />
    <xsd:attribute ref="o:allowincell" use="optional" />
    <xsd:attribute ref="o:allowoverlap" use="optional" />
    <xsd:attribute ref="o:userdrawn" use="optional" />
    <xsd:attribute ref="o:tableproperties" use="optional" />
    <xsd:attribute ref="o:tablelimits" use="optional" />
    <xsd:attribute ref="o:bordertopcolor" use="optional" />
    <xsd:attribute ref="o:borderleftcolor" use="optional" />
    <xsd:attribute ref="o:borderbottomcolor" use="optional" />
    <xsd:attribute ref="o:borderrightcolor" use="optional" />
    <xsd:attribute ref="o:master" use="optional" />
    <xsd:attribute name="strokeweight" type="xsd:string" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="VMLFrame" type="CT_VMLFrame" />
  <xsd:complexType name="CT_VMLFrame">
    <xsd:sequence>
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="src" type="xsd:string" use="required" />
    <xsd:attribute name="clip" type="ST_TrueFalse" use="required" />
    <xsd:attribute name="origin" type="xsd:string" use="optional" />
    <xsd:attribute name="size" type="xsd:string" use="optional" />
    <xsd:attribute name="style" type="xsd:string" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="background" type="CT_Background" />
  <xsd:complexType name="CT_Background">
    <xsd:sequence>
      <xsd:element ref="fill" minOccurs="0" />
      <xsd:element ref="stroke" minOccurs="0" />
      <xsd:element ref="imagedata" minOccurs="0" />
      <xsd:element ref="shadow" minOccurs="0" />
      <xsd:element ref="textbox" minOccurs="0" />
      <xsd:element ref="textpath" minOccurs="0" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="fill" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="fillcolor" type="xsd:string" use="optional" />
    <xsd:attribute ref="o:bwmode" use="optional" />
    <xsd:attribute ref="o:bwpure" use="optional" />
    <xsd:attribute ref="o:bwnormal" use="optional" />
    <xsd:attribute ref="o:targetscreensize" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="path" type="CT_Path" />
  <xsd:complexType name="CT_Path">
    <xsd:sequence>
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="v" type="xsd:string" use="optional" />
    <xsd:attribute name="limo" type="xsd:string" use="optional" />
    <xsd:attribute name="textboxrect" type="xsd:string" use="optional" />
    <xsd:attribute name="fillok" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="strokeok" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="shadowok" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="arrowok" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="gradientshapeok" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="textpathok" type="ST_TrueFalse" use="optional" />
    <xsd:attribute ref="o:connecttype" use="optional" />
    <xsd:attribute ref="o:connectlocs" use="optional" />
    <xsd:attribute ref="o:connectangles" use="optional" />
    <xsd:attribute ref="o:extrusionok" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="formulas" type="CT_Formulas" />
  <xsd:complexType name="CT_Formulas">
    <xsd:sequence>
      <xsd:element name="f" type="CT_F" minOccurs="0" maxOccurs="unbounded" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:complexType name="CT_F">
    <xsd:attribute name="eqn" type="xsd:string" />
  </xsd:complexType>
  <xsd:element name="handles" type="CT_Handles" />
  <xsd:complexType name="CT_Handles">
    <xsd:sequence>
      <xsd:element name="h" type="CT_H" minOccurs="0" maxOccurs="unbounded" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:complexType name="CT_H">
    <xsd:attribute name="position" type="xsd:string" />
    <xsd:attribute name="polar" type="xsd:string" />
    <xsd:attribute name="map" type="xsd:string" />
    <xsd:attribute name="invx" type="ST_TrueFalse" />
    <xsd:attribute name="invy" type="ST_TrueFalse" />
    <xsd:attribute name="switch" type="ST_TrueFalse" />
    <xsd:attribute name="xrange" type="xsd:string" />
    <xsd:attribute name="yrange" type="xsd:string" />
    <xsd:attribute name="radiusrange" type="xsd:string" />
  </xsd:complexType>
  <xsd:element name="fill" type="CT_Fill" />
  <xsd:complexType name="CT_Fill">
    <xsd:sequence>
      <xsd:any processContents="strict" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="type" type="ST_FillType" use="optional" default="solid" />
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="color" type="xsd:string" use="optional" />
    <xsd:attribute name="opacity" type="xsd:string" use="optional" />
    <xsd:attribute name="color2" type="xsd:string" use="optional" />
    <xsd:attribute name="opacity2" type="xsd:string" use="optional" />
    <xsd:attribute name="src" type="xsd:string" use="optional" />
    <xsd:attribute name="href" type="xsd:string" use="optional" />
    <xsd:attribute name="althref" type="xsd:string" use="optional" />
    <xsd:attribute name="title" type="xsd:string" use="optional" />
    <xsd:attribute name="size" type="xsd:string" use="optional" />
    <xsd:attribute name="origin" type="xsd:string" use="optional" />
    <xsd:attribute name="position" type="xsd:string" use="optional" />
    <xsd:attribute name="aspect" type="xsd:string" use="optional" />
    <xsd:attribute name="colors" type="xsd:string" use="optional" />
    <xsd:attribute name="angle" type="xsd:decimal" use="optional" />
    <xsd:attribute name="focus" type="xsd:string" use="optional" />
    <xsd:attribute name="focussize" type="xsd:string" use="optional" />
    <xsd:attribute name="focusposition" type="xsd:string" use="optional" />
    <xsd:attribute name="method" type="ST_FillMethod" use="optional" />
    <xsd:attribute ref="o:detectmouseclick" use="optional" />
    <xsd:attribute ref="o:title" use="optional" />
    <xsd:attribute name="alignshape" use="optional" type="ST_TrueFalse" />
    <xsd:attribute ref="o:opacity2" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:simpleType name="ST_FillType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="solid" />
      <xsd:enumeration value="gradient" />
      <xsd:enumeration value="gradientRadial" />
      <xsd:enumeration value="tile" />
      <xsd:enumeration value="pattern" />
      <xsd:enumeration value="frame" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_FillMethod">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none" />
      <xsd:enumeration value="linear" />
      <xsd:enumeration value="sigma" />
      <xsd:enumeration value="any" />
      <xsd:enumeration value="linear sigma" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="stroke" type="CT_Stroke" />
  <xsd:complexType name="CT_Stroke">
    <xsd:sequence>
      <xsd:any processContents="strict" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="weight" type="xsd:string" use="optional" />
    <xsd:attribute name="color" type="xsd:string" use="optional" />
    <xsd:attribute name="opacity" type="xsd:string" use="optional" />
    <xsd:attribute name="linestyle" type="ST_StrokeLineStyle" use="optional" default="single" />
    <xsd:attribute name="miterlimit" type="xsd:decimal" use="optional" />
    <xsd:attribute name="joinstyle" type="ST_StrokeJoinStyle" use="optional" default="round" />
    <xsd:attribute name="endcap" type="ST_StrokeEndCap" use="optional" default="flat" />
    <xsd:attribute name="dashstyle" use="optional" type="xsd:string" default="solid" />
    <xsd:attribute name="filltype" type="ST_FillType" use="optional" default="solid" />
    <xsd:attribute name="src" type="xsd:string" use="optional" />
    <xsd:attribute name="imageaspect" type="ST_ImageAspect" use="optional" default="ignore" />
    <xsd:attribute name="imagesize" type="xsd:string" use="optional" default="auto" />
    <xsd:attribute name="imagealignshape" use="optional" type="ST_TrueFalse" />
    <xsd:attribute name="color2" type="xsd:string" use="optional" />
    <xsd:attribute name="startarrow" type="ST_ArrowType" use="optional" default="none" />
    <xsd:attribute name="startarrowwidth" type="ST_ArrowWidth" use="optional" default="medium" />
    <xsd:attribute name="startarrowlength" type="ST_StrokeArrowLength" use="optional" default="medium" />
    <xsd:attribute name="endarrow" type="ST_ArrowType" use="optional" />
    <xsd:attribute name="endarrowwidth" type="ST_ArrowWidth" use="optional" />
    <xsd:attribute name="endarrowlength" type="ST_StrokeArrowLength" use="optional" />
    <xsd:attribute ref="o:href" use="optional" />
    <xsd:attribute ref="o:althref" use="optional" />
    <xsd:attribute ref="o:title" use="optional" />
    <xsd:attribute ref="o:forcedash" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:simpleType name="ST_ImageAspect">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ignore" />
      <xsd:enumeration value="atMost" />
      <xsd:enumeration value="atLeast" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ArrowWidth">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="narrow" />
      <xsd:enumeration value="medium" />
      <xsd:enumeration value="wide" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ArrowType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none" />
      <xsd:enumeration value="block" />
      <xsd:enumeration value="classic" />
      <xsd:enumeration value="oval" />
      <xsd:enumeration value="diamond" />
      <xsd:enumeration value="open" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_StrokeLineStyle">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="single" />
      <xsd:enumeration value="thinThin" />
      <xsd:enumeration value="thinThick" />
      <xsd:enumeration value="thickThin" />
      <xsd:enumeration value="thickBetweenThin" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_StrokeJoinStyle">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="round" />
      <xsd:enumeration value="bevel" />
      <xsd:enumeration value="miter" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_StrokeArrowLength">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="short" />
      <xsd:enumeration value="medium" />
      <xsd:enumeration value="long" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_StrokeEndCap">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="flat" />
      <xsd:enumeration value="square" />
      <xsd:enumeration value="round" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="shadow" type="CT_Shadow" />
  <xsd:complexType name="CT_Shadow">
    <xsd:sequence>
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="type" type="ST_ShadowType" use="optional" default="single" />
    <xsd:attribute name="obscured" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="color" type="xsd:string" use="optional" />
    <xsd:attribute name="opacity" type="xsd:string" use="optional" />
    <xsd:attribute name="offset" type="xsd:string" use="optional" />
    <xsd:attribute name="color2" type="xsd:string" use="optional" />
    <xsd:attribute name="offset2" type="xsd:string" use="optional" />
    <xsd:attribute name="origin" type="xsd:string" use="optional" />
    <xsd:attribute name="matrix" type="xsd:string" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:simpleType name="ST_ShadowType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="single" />
      <xsd:enumeration value="double" />
      <xsd:enumeration value="emboss" />
      <xsd:enumeration value="perspective" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="textbox" type="CT_Textbox" />
  <xsd:complexType name="CT_Textbox">
    <xsd:sequence>
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="inset" type="xsd:string" use="optional" />
    <xsd:attribute name="style" use="optional" type="xsd:string" />
    <xsd:attribute ref="o:singleclick" use="optional" />
    <xsd:attribute ref="o:insetmode" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="textpath" type="CT_TextPath" />
  <xsd:complexType name="CT_TextPath">
    <xsd:sequence>
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="on" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="fitshape" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="fitpath" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="trim" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="xscale" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="string" type="xsd:string" use="optional" />
    <xsd:attribute name="style" type="xsd:string" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="imagedata" type="CT_ImageData" />
  <xsd:complexType name="CT_ImageData">
    <xsd:sequence>
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="optional" />
    <xsd:attribute name="src" type="xsd:string" use="optional" />
    <xsd:attribute name="cropleft" type="ST_Float" use="optional" />
    <xsd:attribute name="croptop" type="ST_Float" use="optional" />
    <xsd:attribute name="cropright" type="ST_Float" use="optional" />
    <xsd:attribute name="cropbottom" type="ST_Float" use="optional" />
    <xsd:attribute name="gain" type="ST_Float" use="optional" />
    <xsd:attribute name="blacklevel" type="ST_Float" use="optional" />
    <xsd:attribute name="gamma" type="xsd:decimal" use="optional" />
    <xsd:attribute name="chromakey" type="xsd:string" use="optional" />
    <xsd:attribute name="grayscale" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="bilevel" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="embosscolor" type="xsd:string" use="optional" />
    <xsd:attribute ref="o:href" use="optional" />
    <xsd:attribute ref="o:althref" use="optional" />
    <xsd:attribute ref="o:title" use="optional" />
    <xsd:attribute ref="o:oleid" use="optional" />
    <xsd:attribute ref="o:detectmouseclick" use="optional" />
    <xsd:attribute ref="o:movie" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:simpleType name="ST_Float">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="1{0-1}[0-9]{0-3}f" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="line" type="CT_Line" />
  <xsd:complexType name="CT_Line">
    <xsd:sequence>
      <xsd:element ref="path" minOccurs="0" />
      <xsd:element ref="formulas" minOccurs="0" />
      <xsd:element ref="handles" minOccurs="0" />
      <xsd:element ref="fill" minOccurs="0" />
      <xsd:element ref="stroke" minOccurs="0" />
      <xsd:element ref="imagedata" minOccurs="0" />
      <xsd:element ref="shadow" minOccurs="0" />
      <xsd:element ref="textbox" minOccurs="0" />
      <xsd:element ref="textpath" minOccurs="0" />
      <xsd:element name="Behavior" minOccurs="0" />
      <xsd:element name="Sequence" minOccurs="0" />
      <xsd:element name="Action" minOccurs="0" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="style" use="optional" type="xsd:string" />
    <xsd:attribute name="hidden" use="optional" type="xsd:string" />
    <xsd:attribute name="href" use="optional" type="xsd:string" />
    <xsd:attribute name="type" use="optional" type="xsd:string" />
    <xsd:attribute name="adj" use="optional" type="xsd:string" />
    <xsd:attribute name="path" use="optional" type="xsd:string" />
    <xsd:attribute name="spid" use="optional" type="xsd:string" />
    <xsd:attribute name="from" type="xsd:string" use="optional" />
    <xsd:attribute name="to" type="xsd:string" use="optional" />
    <xsd:attribute name="coordsize" type="xsd:string" use="optional" />
    <xsd:attribute ref="o:bwmode" use="optional" />
    <xsd:attribute ref="o:regroupid" use="optional" />
    <xsd:attribute ref="o:userdrawn" use="optional" />
    <xsd:attribute name="strokecolor" type="xsd:string" use="optional" />
    <xsd:attribute name="strokeweight" type="xsd:string" use="optional" />
    <xsd:attribute name="filled" type="ST_TrueFalse" use="optional" />
    <xsd:attribute name="fillcolor" type="xsd:string" use="optional" />
    <xsd:attribute name="stroked" use="optional" type="ST_TrueFalse" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="arc" type="CT_Arc" />
  <xsd:complexType name="CT_Arc">
    <xsd:sequence>
      <xsd:element ref="path" minOccurs="0" />
      <xsd:element ref="formulas" minOccurs="0" />
      <xsd:element ref="handles" minOccurs="0" />
      <xsd:element ref="fill" minOccurs="0" />
      <xsd:element ref="stroke" minOccurs="0" />
      <xsd:element ref="imagedata" minOccurs="0" />
      <xsd:element ref="shadow" minOccurs="0" />
      <xsd:element ref="textbox" minOccurs="0" />
      <xsd:element ref="textpath" minOccurs="0" />
      <xsd:element name="Behavior" minOccurs="0" />
      <xsd:element name="Sequence" minOccurs="0" />
      <xsd:element name="Action" minOccurs="0" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="startAngle" type="xsd:decimal" use="optional" />
    <xsd:attribute name="endAngle" type="xsd:decimal" use="optional" />
    <xsd:attribute name="hidden" use="optional" type="xsd:string" />
    <xsd:attribute name="href" use="optional" type="xsd:string" />
    <xsd:attribute name="type" use="optional" type="xsd:string" />
    <xsd:attribute name="adj" use="optional" type="xsd:string" />
    <xsd:attribute name="path" use="optional" type="xsd:string" />
    <xsd:attribute name="spid" use="optional" type="xsd:string" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="curve" type="CT_Curve" />
  <xsd:complexType name="CT_Curve">
    <xsd:sequence>
      <xsd:element ref="path" minOccurs="0" />
      <xsd:element ref="formulas" minOccurs="0" />
      <xsd:element ref="handles" minOccurs="0" />
      <xsd:element ref="fill" minOccurs="0" />
      <xsd:element ref="stroke" minOccurs="0" />
      <xsd:element ref="imagedata" minOccurs="0" />
      <xsd:element ref="shadow" minOccurs="0" />
      <xsd:element ref="textbox" minOccurs="0" />
      <xsd:element ref="textpath" minOccurs="0" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="from" type="xsd:string" use="optional" />
    <xsd:attribute name="control1" type="xsd:string" use="optional" />
    <xsd:attribute name="control2" type="xsd:string" use="optional" />
    <xsd:attribute name="to" type="xsd:string" use="optional" />
    <xsd:attribute name="hidden" use="optional" type="xsd:string" />
    <xsd:attribute name="type" use="optional" type="xsd:string" />
    <xsd:attribute name="adj" use="optional" type="xsd:string" />
    <xsd:attribute name="path" use="optional" type="xsd:string" />
    <xsd:attribute name="spid" use="optional" type="xsd:string" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="polyline" type="CT_PolyLine" />
  <xsd:complexType name="CT_PolyLine">
    <xsd:sequence>
      <xsd:element ref="path" minOccurs="0" />
      <xsd:element ref="formulas" minOccurs="0" />
      <xsd:element ref="handles" minOccurs="0" />
      <xsd:element ref="fill" minOccurs="0" />
      <xsd:element ref="stroke" minOccurs="0" />
      <xsd:element ref="imagedata" minOccurs="0" />
      <xsd:element ref="shadow" minOccurs="0" />
      <xsd:element ref="textbox" minOccurs="0" />
      <xsd:element ref="textpath" minOccurs="0" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="points" type="xsd:string" use="optional" />
    <xsd:attribute name="hidden" use="optional" type="xsd:string" />
    <xsd:attribute name="href" use="optional" type="xsd:string" />
    <xsd:attribute name="type" use="optional" type="xsd:string" />
    <xsd:attribute name="adj" use="optional" type="xsd:string" />
    <xsd:attribute name="path" use="optional" type="xsd:string" />
    <xsd:attribute name="spid" use="optional" type="xsd:string" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="rect" type="CT_Rect" />
  <xsd:complexType name="CT_Rect">
    <xsd:sequence>
      <xsd:element ref="path" minOccurs="0" />
      <xsd:element ref="formulas" minOccurs="0" />
      <xsd:element ref="handles" minOccurs="0" />
      <xsd:element ref="fill" minOccurs="0" />
      <xsd:element ref="stroke" minOccurs="0" />
      <xsd:element ref="imagedata" minOccurs="0" />
      <xsd:element ref="shadow" minOccurs="0" />
      <xsd:element ref="textbox" minOccurs="0" />
      <xsd:element ref="textpath" minOccurs="0" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="hidden" use="optional" type="xsd:string" />
    <xsd:attribute name="href" use="optional" type="xsd:string" />
    <xsd:attribute name="type" use="optional" type="xsd:string" />
    <xsd:attribute name="adj" use="optional" type="xsd:string" />
    <xsd:attribute name="path" use="optional" type="xsd:string" />
    <xsd:attribute name="spid" use="optional" type="xsd:string" />
    <xsd:attribute ref="o:bwmode" use="optional" />
    <xsd:attribute ref="o:spid" use="optional" />
    <xsd:attribute ref="o:regroupid" use="optional" />
    <xsd:attribute ref="o:doubleclicknotify" use="optional" />
    <xsd:attribute ref="o:userdrawn" use="optional" />
    <xsd:attribute name="style" use="optional" type="xsd:string" />
    <xsd:attribute name="stroked" use="optional" type="ST_TrueFalse" />
    <xsd:attribute name="strokecolor" use="optional" type="xsd:string" />
    <xsd:attribute name="strokeweight" use="optional" type="xsd:string" />
    <xsd:attribute name="fillcolor" use="optional" type="xsd:string" />
    <xsd:attribute name="filled" type="ST_TrueFalse" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="roundrect" type="CT_RoundRect" />
  <xsd:complexType name="CT_RoundRect">
    <xsd:sequence>
      <xsd:element ref="path" minOccurs="0" />
      <xsd:element ref="formulas" minOccurs="0" />
      <xsd:element ref="handles" minOccurs="0" />
      <xsd:element ref="fill" minOccurs="0" />
      <xsd:element ref="stroke" minOccurs="0" />
      <xsd:element ref="imagedata" minOccurs="0" />
      <xsd:element ref="shadow" minOccurs="0" />
      <xsd:element ref="textbox" minOccurs="0" />
      <xsd:element ref="textpath" minOccurs="0" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="style" type="xsd:string" use="optional" />
    <xsd:attribute name="fillcolor" type="xsd:string" use="optional" />
    <xsd:attribute name="strokecolor" type="xsd:string" use="optional" />
    <xsd:attribute name="arcsize" type="xsd:string" use="optional" />
    <xsd:attribute name="hidden" use="optional" type="xsd:string" />
    <xsd:attribute name="href" use="optional" type="xsd:string" />
    <xsd:attribute name="type" use="optional" type="xsd:string" />
    <xsd:attribute name="adj" use="optional" type="xsd:string" />
    <xsd:attribute name="path" use="optional" type="xsd:string" />
    <xsd:attribute name="spid" use="optional" type="xsd:string" />
    <xsd:attribute name="strokeweight" use="optional" type="xsd:string" />
    <xsd:attribute name="filled" use="optional" type="ST_TrueFalse" />
    <xsd:attribute name="stroked" use="optional" type="ST_TrueFalse" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="oval" type="CT_Oval" />
  <xsd:complexType name="CT_Oval">
    <xsd:sequence>
      <xsd:element ref="path" minOccurs="0" />
      <xsd:element ref="formulas" minOccurs="0" />
      <xsd:element ref="handles" minOccurs="0" />
      <xsd:element ref="fill" minOccurs="0" />
      <xsd:element ref="stroke" minOccurs="0" />
      <xsd:element ref="imagedata" minOccurs="0" />
      <xsd:element ref="shadow" minOccurs="0" />
      <xsd:element ref="textbox" minOccurs="0" />
      <xsd:element ref="textpath" minOccurs="0" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="startAngle" type="xsd:string" use="optional" />
    <xsd:attribute name="endAngle" type="xsd:string" use="optional" />
    <xsd:attribute name="hidden" use="optional" type="xsd:string" />
    <xsd:attribute name="href" use="optional" type="xsd:string" />
    <xsd:attribute name="type" use="optional" type="xsd:string" />
    <xsd:attribute name="adj" use="optional" type="xsd:string" />
    <xsd:attribute name="path" use="optional" type="xsd:string" />
    <xsd:attribute name="spid" use="optional" type="xsd:string" />
    <xsd:attribute name="strokeweight" use="optional" type="xsd:string" />
    <xsd:attribute name="stroked" use="optional" type="ST_TrueFalse" />
    <xsd:attribute ref="o:userdrawn" use="optional" />
    <xsd:attribute name="style" use="optional" type="xsd:string" />
    <xsd:attribute name="fillcolor" use="optional" type="xsd:string" />
    <xsd:attribute name="strokecolor" use="optional" type="xsd:string" />
    <xsd:attribute name="filled" use="optional" type="ST_TrueFalse" />
    <xsd:attribute ref="o:regroupid" use="optional" />
    <xsd:attribute ref="o:bwmode" use="optional" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:element name="image" type="CT_Image" />
  <xsd:complexType name="CT_Image">
    <xsd:sequence>
      <xsd:element ref="path" minOccurs="0" />
      <xsd:element ref="formulas" minOccurs="0" />
      <xsd:element ref="handles" minOccurs="0" />
      <xsd:element ref="fill" minOccurs="0" />
      <xsd:element ref="stroke" minOccurs="0" />
      <xsd:element ref="imagedata" minOccurs="0" />
      <xsd:element ref="shadow" minOccurs="0" />
      <xsd:element ref="textbox" minOccurs="0" />
      <xsd:element ref="textpath" minOccurs="0" />
      <xsd:any processContents="strict" namespace="##other" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required" />
    <xsd:attribute name="src" type="xsd:string" use="optional" />
    <xsd:attribute name="cropleft" type="xsd:string" use="optional" />
    <xsd:attribute name="croptop" type="xsd:string" use="optional" />
    <xsd:attribute name="cropright" type="xsd:string" use="optional" />
    <xsd:attribute name="cropbottom" type="xsd:string" use="optional" />
    <xsd:attribute name="gain" type="xsd:string" use="optional" />
    <xsd:attribute name="blacklevel" type="xsd:string" use="optional" />
    <xsd:attribute name="gamma" type="xsd:string" use="optional" />
    <xsd:attribute name="chromakey" type="xsd:string" use="optional" />
    <xsd:attribute name="grayscale" type="xsd:string" use="optional" />
    <xsd:attribute name="bilevel" type="xsd:string" use="optional" />
    <xsd:attribute name="hidden" use="optional" type="xsd:string" />
    <xsd:attribute name="type" use="optional" type="xsd:string" />
    <xsd:attribute name="adj" use="optional" type="xsd:string" />
    <xsd:attribute name="path" use="optional" type="xsd:string" />
    <xsd:attribute name="spid" use="optional" type="xsd:string" />
    <xsd:anyAttribute namespace="##other" processContents="strict" />
  </xsd:complexType>
  <xsd:simpleType name="ST_TrueFalse">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="t" />
      <xsd:enumeration value="f" />
      <xsd:enumeration value="" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attribute name="ext" type="ST_Ext" default="view" />
  <xsd:simpleType name="ST_Ext">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="view" />
      <xsd:enumeration value="edit" />
      <xsd:enumeration value="backwardCompatible" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_ColorType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
</xsd:schema>