docx4j/xsd/dml/dml-wordprocessingDrawing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://schemas.openxmlformats.org/drawingml/2006/wordprocessingDrawing"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/main"
	xmlns="http://schemas.openxmlformats.org/drawingml/2006/wordprocessingDrawing"
	xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">

<!-- 

<xsd:schema
	targetNamespace="http://schemas.openxmlformats.org/drawingml/2006/3/wordprocessingDrawing"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:a="http://schemas.openxmlformats.org/drawingml/2006/3/main"
	xmlns="http://schemas.openxmlformats.org/drawingml/2006/3/wordprocessingDrawing"
	xmlns:odoc="http://schemas.microsoft.com/office/internal/2005/internalDocumentation"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">


 -->	

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
    </xsd:documentation>
		<xsd:appinfo>
			<xsd:appinfo>
				<jaxb:globalBindings>
				</jaxb:globalBindings>
			</xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="org.docx4j.dml"/>
			</jaxb:schemaBindings>
		</xsd:appinfo>
  </xsd:annotation>

	<xsd:import schemaLocation="wordprocessingDrawing_import_Main.xsd" 
		namespace="http://schemas.openxmlformats.org/drawingml/2006/main" />
		
	<xsd:complexType name="CT_EffectExtent">
		<xsd:attribute name="l" type="a:ST_Coordinate" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Left Wrapping Extent Location
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="t" type="a:ST_Coordinate" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Top Wrapping Extent Location
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="r" type="a:ST_Coordinate" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Right Wrapping Extent Location
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="b" type="a:ST_Coordinate" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Bottom Wrapping Extent Location
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CT_Inline">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:class name="inline"/>
			</xsd:appinfo>
		</xsd:annotation>		
		<xsd:sequence>
			<xsd:element name="extent" type="a:CT_PositiveSize2D">
				<xsd:annotation>
					<xsd:documentation>
						Drawing Object Size
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="effectExtent" type="CT_EffectExtent"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Inline Wrapping Extent
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="docPr" type="a:CT_NonVisualDrawingProps"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Drawing Object Non-Visual Properties
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cNvGraphicFramePr"
				type="a:CT_NonVisualGraphicFrameProperties" minOccurs="0"
				maxOccurs="1" />
			<xsd:element ref="a:graphic" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ST_WrapDistance">
		<xsd:annotation>
			<xsd:documentation>Distance From Text</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt" />
	</xsd:simpleType>
	<xsd:simpleType name="ST_WrapText">
		<xsd:annotation>
			<xsd:documentation>
				Text Wrapping Location
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="bothSides">
				<xsd:annotation>
					<xsd:documentation>Both Sides</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="left">
				<xsd:annotation>
					<xsd:documentation>
						Left Side Only
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="right">
				<xsd:annotation>
					<xsd:documentation>
						Right Side Only
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="largest">
				<xsd:annotation>
					<xsd:documentation>
						Largest Side Only
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CT_WrapPath">
		<xsd:sequence>
			<xsd:element name="start" type="a:CT_Point2D" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Wrapping Polygon Start
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lineTo" type="a:CT_Point2D" minOccurs="2"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Wrapping Polygon Line
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="edited" type="xsd:boolean" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="CT_WrapNone" />
	<xsd:complexType name="CT_WrapSquare">
		<xsd:sequence>
			<xsd:element name="effectExtent" type="CT_EffectExtent"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Square Wrapping Extent
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="wrapText" type="ST_WrapText"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Text Wrapping Location
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="distT" type="ST_WrapDistance"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Distance From Text (Top)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="distB" type="ST_WrapDistance"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Distance From Text (Bottom)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="distL" type="ST_WrapDistance"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Distance From Text (Left)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="distR" type="ST_WrapDistance"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Distance From Text (Right)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CT_WrapTight">
		<xsd:sequence>
			<xsd:element name="wrapPolygon" type="CT_WrapPath"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Tight Wrapping Extents Polygon
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="wrapText" type="ST_WrapText"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Text Wrapping Location
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="distL" type="ST_WrapDistance"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Distance From Test (Left Side)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="distR" type="ST_WrapDistance"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Distance From Text (Right)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CT_WrapThrough">
		<xsd:sequence>
			<xsd:element name="wrapPolygon" type="CT_WrapPath"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Through Wrapping Polygon
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="wrapText" type="ST_WrapText"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Text Wrapping Location
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="distL" type="ST_WrapDistance"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Distance From Text (Left)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="distR" type="ST_WrapDistance"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Distance From Text (Right Side)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CT_WrapTopBottom">
		<xsd:sequence>
			<xsd:element name="effectExtent" type="CT_EffectExtent"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Wrapping Boundaries
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="distT" type="ST_WrapDistance"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Distance From Text (Top)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="distB" type="ST_WrapDistance"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Distance From Text (Bottom)
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:group name="EG_WrapType">
		<xsd:annotation>
			<xsd:documentation>
				Group choice of wrapping type.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="wrapNone" type="CT_WrapNone"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							No Text Wrapping
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="wrapSquare" type="CT_WrapSquare"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Square Wrapping
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="wrapTight" type="CT_WrapTight"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Tight Wrapping
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="wrapThrough" type="CT_WrapThrough"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Through Wrapping
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="wrapTopAndBottom"
					type="CT_WrapTopBottom" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Top and Bottom Wrapping
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:group>
	<xsd:simpleType name="ST_PositionOffset">
		<xsd:restriction base="xsd:int" />
	</xsd:simpleType>
	<xsd:simpleType name="ST_PositionOffsetBeta1">
		<xsd:annotation>
			<xsd:documentation>
				Position Offset Definition
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt" />
	</xsd:simpleType>
	<xsd:simpleType name="ST_AlignH">
		<xsd:annotation>
			<xsd:documentation>
				Horizonal Alignment Definition
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="left">
				<xsd:annotation>
					<xsd:documentation>Left</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="right">
				<xsd:annotation>
					<xsd:documentation>Right Side</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="center">
				<xsd:annotation>
					<xsd:documentation>Center</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="inside">
				<xsd:annotation>
					<xsd:documentation>Inside</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="outside">
				<xsd:annotation>
					<xsd:documentation>Outside</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ST_RelFromH">
		<xsd:annotation>
			<xsd:documentation>
				Horizontal Relative Positioning
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="margin">
				<xsd:annotation>
					<xsd:documentation>Page Margin</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="page">
				<xsd:annotation>
					<xsd:documentation>Page Edge</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="column">
				<xsd:annotation>
					<xsd:documentation>Column</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="character">
				<xsd:annotation>
					<xsd:documentation>Character</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="leftMargin" />
			<xsd:enumeration value="rightMargin" />
			<xsd:enumeration value="insideMargin" />
			<xsd:enumeration value="outsideMargin" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CT_PosH">
		<xsd:sequence>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="align" type="ST_AlignH" minOccurs="1"
					maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Horizontal Alignment Base
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="offset" type="ST_PositionOffsetBeta1"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Horizontal Position Offset
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="posOffset" type="ST_PositionOffset"
					minOccurs="1" maxOccurs="1" />
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="relativeFrom" type="ST_RelFromH"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Horizontal Position Relative Base
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="ST_AlignV">
		<xsd:annotation>
			<xsd:documentation>
				Vertical Alignment Definition
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="top">
				<xsd:annotation>
					<xsd:documentation>Top</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="bottom">
				<xsd:annotation>
					<xsd:documentation>Bottom</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="center">
				<xsd:annotation>
					<xsd:documentation>Center</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="inside">
				<xsd:annotation>
					<xsd:documentation>Inside</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="outside">
				<xsd:annotation>
					<xsd:documentation>Outside</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ST_RelFromV">
		<xsd:annotation>
			<xsd:documentation>
				Vertical Relative Positioning
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="margin">
				<xsd:annotation>
					<xsd:documentation>Page Margin</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="page">
				<xsd:annotation>
					<xsd:documentation>Page Edge</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="paragraph">
				<xsd:annotation>
					<xsd:documentation>Paragraph</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="line">
				<xsd:annotation>
					<xsd:documentation>Line</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="topMargin" />
			<xsd:enumeration value="bottomMargin" />
			<xsd:enumeration value="insideMargin" />
			<xsd:enumeration value="outsideMargin" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CT_PosV">
		<xsd:sequence>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="align" type="ST_AlignV" minOccurs="1"
					maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Vertical Alignment Base
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="offset" type="ST_PositionOffsetBeta1"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Vertical Position Offset
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="posOffset" type="ST_PositionOffset"
					minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							Vertical Position Offset
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="relativeFrom" type="ST_RelFromV"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Vertical Position Relative Base
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CT_Anchor">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:class name="anchor"/>
			</xsd:appinfo>
		</xsd:annotation>	
	
		<xsd:sequence>
			<xsd:element name="simplePos" type="a:CT_Point2D">
				<xsd:annotation>
					<xsd:documentation>
						Simple Positioning
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="positionH" type="CT_PosH">
				<xsd:annotation>
					<xsd:documentation>
						Horizontal Positioning
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="positionV" type="CT_PosV">
				<xsd:annotation>
					<xsd:documentation>
						Vertical Positioning
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extent" type="a:CT_PositiveSize2D">
				<xsd:annotation>
					<xsd:documentation>
						Inline Drawing Object Extents
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="effectExtent" type="CT_EffectExtent"
				minOccurs="0" />
			<xsd:group ref="EG_WrapType" />
			<xsd:element name="docPr" type="a:CT_NonVisualDrawingProps"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Drawing Object Non-Visual Properties
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cNvGraphicFramePr"
				type="a:CT_NonVisualGraphicFrameProperties" minOccurs="0"
				maxOccurs="1" />
			<xsd:element ref="a:graphic" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="simplePos" type="xsd:boolean">
			<xsd:annotation>
				<xsd:documentation>Page Positioning</xsd:documentation>
				<xsd:appinfo>
					<!--  Avoid collision with element name above -->
					<jaxb:property name="simplePosAttr" />
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="relativeHeight" type="xsd:unsignedInt"
			use="required">
			<xsd:annotation>
				<xsd:documentation>Relative Z-Order</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="behindDoc" type="xsd:boolean"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Behind Document Text
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="locked" type="xsd:boolean"
			use="required">
			<xsd:annotation>
				<xsd:documentation>Lock Anchor</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="layoutInCell" type="xsd:boolean"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Layout In Table Cell
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hidden" type="xsd:boolean"
			use="optional">
			<xsd:annotation>
				<xsd:documentation>Hidden</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="allowOverlap" type="xsd:boolean"
			use="required">
			<xsd:annotation>
				<xsd:documentation>
					Allow Object Overlap
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="inline" type="CT_Inline">
		<xsd:annotation>
			<xsd:documentation>
				Inline DrawingML Object
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="anchor" type="CT_Anchor">
		<xsd:annotation>
			<xsd:documentation>
				Anchor for Floating DrawingML Object
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>