xsd/docProps/shared-documentPropertiesCustom.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
	targetNamespace="http://schemas.openxmlformats.org/officeDocument/2006/custom-properties"
	xmlns="http://schemas.openxmlformats.org/officeDocument/2006/custom-properties"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"
	blockDefault="#all" elementFormDefault="qualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">
	
	<!-- 
	****************************************************************
	***                                                          ***
	***                      customProperties                  ***
	***                                                          ***
	****************************************************************
	
	::::::::::::::
	docProps/custom.xml
	::::::::::::::
	
	<?xml version="1.0" encoding="UTF-8"?>
	
	<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/custom-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
	<property fmtid="{D5CDD505-2E9C-101B-9397-08002B2CF9AE}" pid="2" name="transformSequenceNumber">
	<vt:lpwstr>5</vt:lpwstr>
	</property>
	<property fmtid="{D5CDD505-2E9C-101B-9397-08002B2CF9AE}" pid="3" name="Grouping">
	<vt:lpwstr>EachBlock</vt:lpwstr>
	</property>
	<property fmtid="{D5CDD505-2E9C-101B-9397-08002B2CF9AE}" pid="4" name="CheckinMessageEnabled">
	<vt:lpwstr>false</vt:lpwstr>
	</property>
	</Properties>
		
			
  To generate the classes from /src/main/resources$ 	
		
	 sh ~/jaxb/jaxb-ri-20070917/bin/xjc.sh  THIS.xsd -d ../java/ -no-header  -target 2.0
		
	
	-->
	
	<xsd:import
		namespace="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"
		schemaLocation="shared-documentPropertiesVariantTypes.xsd"/>
	
	<xsd:annotation>
		<xsd:appinfo>
			<xsd:appinfo>
				<jaxb:globalBindings>
				</jaxb:globalBindings>
			</xsd:appinfo>
			<jaxb:schemaBindings>
				<!-- can be overridden on the command line with -p -->
				<!-- A schema scope covers all the schema elements in the
				*target namespace* of a schema.  [JAXB 2.1 Spec 7.4.1]
				
				Since all the relevant bits of wordml are in a
				single namespace, this means we can't put for
				example the table elements in a table package. -->
				<jaxb:package name="org.docx4j.docProps.custom"/>
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>
	
	
	<xsd:element name="Properties">
		<xsd:annotation>
			<xsd:documentation>Custom File Properties</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="property" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Custom File
							Property</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:choice minOccurs="1" maxOccurs="1">
							<xsd:element ref="vt:vector">
								<xsd:annotation>
									<xsd:documentation>
										Vector</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:array">
								<xsd:annotation>
									<xsd:documentation>Array</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:blob">
								<xsd:annotation>
									<xsd:documentation>Binary
										Blob</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:oblob">
								<xsd:annotation>
									<xsd:documentation>Binary Blob
										Object</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:empty">
								<xsd:annotation>
									<xsd:documentation>Empty</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:null">
								<xsd:annotation>
									<xsd:documentation>Null</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:i1">
								<xsd:annotation>
									<xsd:documentation>1-Byte Signed
										Integer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:i2">
								<xsd:annotation>
									<xsd:documentation>2-Byte Signed
										Integer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:i4">
								<xsd:annotation>
									<xsd:documentation>4-Byte Signed
										Integer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:i8">
								<xsd:annotation>
									<xsd:documentation>8-Byte Signed
										Integer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:int">
								<xsd:annotation>
									<xsd:documentation>
										Integer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:ui1">
								<xsd:annotation>
									<xsd:documentation>1-Byte Unsigned
										Integer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:ui2">
								<xsd:annotation>
									<xsd:documentation>2-Byte Unsigned
										Integer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:ui4">
								<xsd:annotation>
									<xsd:documentation>4-Byte Unsigned
										Integer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:ui8">
								<xsd:annotation>
									<xsd:documentation>8-Byte Unsigned
										Integer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:uint">
								<xsd:annotation>
									<xsd:documentation>Unsigned
										Integer</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:r4">
								<xsd:annotation>
									<xsd:documentation>4-Byte Real
										Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:r8">
								<xsd:annotation>
									<xsd:documentation>8-Byte Real
										Number</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:decimal">
								<xsd:annotation>
									<xsd:documentation>
										Decimal</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:lpstr">
								<xsd:annotation>
									<xsd:documentation>LPSTR</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:lpwstr">
								<xsd:annotation>
									<xsd:documentation>
										LPWSTR</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:bstr">
								<xsd:annotation>
									<xsd:documentation>Basic
										String</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:date">
								<xsd:annotation>
									<xsd:documentation>Date and
										Time</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:filetime">
								<xsd:annotation>
									<xsd:documentation>File
										Time</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:bool">
								<xsd:annotation>
									<xsd:documentation>
										Boolean</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:cy">
								<xsd:annotation>
									<xsd:documentation>
										Currency</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:error">
								<xsd:annotation>
									<xsd:documentation>Error Status
										Code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:stream">
								<xsd:annotation>
									<xsd:documentation>Binary
										Stream</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:ostream">
								<xsd:annotation>
									<xsd:documentation>Binary Stream
										Object</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:storage">
								<xsd:annotation>
									<xsd:documentation>Binary
										Storage</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:ostorage">
								<xsd:annotation>
									<xsd:documentation>Binary Storage
										Object</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:vstream">
								<xsd:annotation>
									<xsd:documentation>Binary Versioned
										Stream</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:clsid">
								<xsd:annotation>
									<xsd:documentation>Class
										ID</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="vt:cf">
								<xsd:annotation>
									<xsd:documentation>Clipboard
										Data</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
						<xsd:attribute name="fmtid" use="required"
							type="vt:ST_Clsid">
							<xsd:annotation>
								<xsd:documentation>Format ID</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="pid" use="required" type="xsd:int">
							<xsd:annotation>
								<xsd:documentation>Property
									ID</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="name" use="optional"
							type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Custom File Property
									Name</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="linkTarget" use="optional"
							type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Bookmark Link
									Target</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>