docx4j/xsd/sml/sml-autoFilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/main" elementFormDefault="qualified" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">

  <xsd:include schemaLocation="sml-baseTypes.xsd" />
  <xsd:include schemaLocation="sml-styles.xsd" />
  <xsd:complexType name="CT_AutoFilter">
    <xsd:sequence>
      <xsd:element name="filterColumn" minOccurs="0" maxOccurs="unbounded" type="CT_FilterColumn">
        <xsd:annotation>
          <xsd:documentation>AutoFilter Column</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sortState" minOccurs="0" maxOccurs="1" type="CT_SortState">
        <xsd:annotation>
          <xsd:documentation>Sort State for Auto Filter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ref" type="ST_Ref">
      <xsd:annotation>
        <xsd:documentation>Cell or Range Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_FilterColumn">
    <xsd:choice minOccurs="0" maxOccurs="1">
      <xsd:element name="filters" type="CT_Filters" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Filter Criteria</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="top10" type="CT_Top10" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Top 10</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="customFilters" type="CT_CustomFilters" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Custom Filters</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dynamicFilter" type="CT_DynamicFilter" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Dynamic Filter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="colorFilter" type="CT_ColorFilter" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Color Filter Criteria</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="iconFilter" minOccurs="0" maxOccurs="1" type="CT_IconFilter">
        <xsd:annotation>
          <xsd:documentation>Icon Filter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:choice>
    <xsd:attribute name="colId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Filter Column Data</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hiddenButton" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Hidden AutoFilter Button</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showButton" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Show Filter Button</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Filters">
    <xsd:sequence>
      <xsd:element name="filter" type="CT_Filter" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Filter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dateGroupItem" type="CT_DateGroupItem" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Date Grouping</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="blank" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Filter by Blank</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="calendarType" type="ST_CalendarType" use="optional" default="none">
      <xsd:annotation>
        <xsd:documentation>Calendar Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Filter">
    <xsd:attribute name="val" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Filter Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_CustomFilters">
    <xsd:sequence>
      <xsd:element name="customFilter" type="CT_CustomFilter" minOccurs="1" maxOccurs="2">
        <xsd:annotation>
          <xsd:documentation>Custom Filter Criteria</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="and" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>And</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_CustomFilter">
    <xsd:attribute name="operator" type="ST_FilterOperator" default="equal" use="optional">
      <xsd:annotation>
        <xsd:documentation>Filter Comparison Operator</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="val" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Top or Bottom Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Top10">
    <xsd:attribute name="top" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Top</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="percent" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Filter by Percent</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="val" type="xsd:double" use="required">
      <xsd:annotation>
        <xsd:documentation>Top or Bottom Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="filterVal" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>Filter Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_ColorFilter">
    <xsd:attribute name="dxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Differential Format Record Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="cellColor" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Filter By Cell Color</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_IconFilter">
    <xsd:attribute name="iconSet" type="ST_IconSetType" use="required">
      <xsd:annotation>
        <xsd:documentation>Icon Set</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iconId" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Icon Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_FilterOperator">
    <xsd:annotation>
      <xsd:documentation>Filter Operator</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="equal">
        <xsd:annotation>
          <xsd:documentation>Equal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lessThan">
        <xsd:annotation>
          <xsd:documentation>Less Than</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lessThanOrEqual">
        <xsd:annotation>
          <xsd:documentation>Less Than Or Equal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="notEqual">
        <xsd:annotation>
          <xsd:documentation>Not Equal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="greaterThanOrEqual">
        <xsd:annotation>
          <xsd:documentation>Greater Than Or Equal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="greaterThan">
        <xsd:annotation>
          <xsd:documentation>Greater Than</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_DynamicFilter">
    <xsd:attribute name="type" type="ST_DynamicFilterType" use="required">
      <xsd:annotation>
        <xsd:documentation>Dynamic filter type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="val" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="maxVal" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>Max Value</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_DynamicFilterType">
    <xsd:annotation>
      <xsd:documentation>Dynamic Filter</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="null">
        <xsd:annotation>
          <xsd:documentation>Null</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="aboveAverage">
        <xsd:annotation>
          <xsd:documentation>Above Average</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="belowAverage">
        <xsd:annotation>
          <xsd:documentation>Below Average</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="tomorrow">
        <xsd:annotation>
          <xsd:documentation>Tomorrow</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="today">
        <xsd:annotation>
          <xsd:documentation>Today</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="yesterday">
        <xsd:annotation>
          <xsd:documentation>Yesterday</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="nextWeek">
        <xsd:annotation>
          <xsd:documentation>Next Week</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thisWeek">
        <xsd:annotation>
          <xsd:documentation>This Week</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lastWeek">
        <xsd:annotation>
          <xsd:documentation>Last Week</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="nextMonth">
        <xsd:annotation>
          <xsd:documentation>Next Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thisMonth">
        <xsd:annotation>
          <xsd:documentation>This Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lastMonth">
        <xsd:annotation>
          <xsd:documentation>Last Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="nextQuarter">
        <xsd:annotation>
          <xsd:documentation>Next Quarter</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thisQuarter">
        <xsd:annotation>
          <xsd:documentation>This Quarter</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lastQuarter">
        <xsd:annotation>
          <xsd:documentation>Last Quarter</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="nextYear">
        <xsd:annotation>
          <xsd:documentation>Next Year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thisYear">
        <xsd:annotation>
          <xsd:documentation>This Year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="lastYear">
        <xsd:annotation>
          <xsd:documentation>Last Year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="yearToDate">
        <xsd:annotation>
          <xsd:documentation>Year To Date</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Q1">
        <xsd:annotation>
          <xsd:documentation>1st Quarter</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Q2">
        <xsd:annotation>
          <xsd:documentation>2nd Quarter</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Q3">
        <xsd:annotation>
          <xsd:documentation>3rd Quarter</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Q4">
        <xsd:annotation>
          <xsd:documentation>4th Quarter</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M1">
        <xsd:annotation>
          <xsd:documentation>1st Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M2">
        <xsd:annotation>
          <xsd:documentation>2nd Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M3">
        <xsd:annotation>
          <xsd:documentation>3rd Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M4">
        <xsd:annotation>
          <xsd:documentation>4th Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M5">
        <xsd:annotation>
          <xsd:documentation>5th Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M6">
        <xsd:annotation>
          <xsd:documentation>6th Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M7">
        <xsd:annotation>
          <xsd:documentation>7th Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M8">
        <xsd:annotation>
          <xsd:documentation>8th Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M9">
        <xsd:annotation>
          <xsd:documentation>9th Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M10">
        <xsd:annotation>
          <xsd:documentation>10th Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M11">
        <xsd:annotation>
          <xsd:documentation>11th Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M12">
        <xsd:annotation>
          <xsd:documentation>12th Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_IconSetType">
    <xsd:annotation>
      <xsd:documentation>Icon Set Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="3Arrows">
        <xsd:annotation>
          <xsd:documentation>3 Arrows</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3ArrowsGray">
        <xsd:annotation>
          <xsd:documentation>3 Arrows  (Gray)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3Flags">
        <xsd:annotation>
          <xsd:documentation>3 Flags</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3TrafficLights1">
        <xsd:annotation>
          <xsd:documentation>3 Traffic Lights</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3TrafficLights2">
        <xsd:annotation>
          <xsd:documentation>3 Traffic Lights Black</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3Signs">
        <xsd:annotation>
          <xsd:documentation>3 Signs</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3Symbols">
        <xsd:annotation>
          <xsd:documentation>3 Symbols Circled</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3Symbols2">
        <xsd:annotation>
          <xsd:documentation>3 Symbols</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4Arrows">
        <xsd:annotation>
          <xsd:documentation>4 Arrows</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4ArrowsGray">
        <xsd:annotation>
          <xsd:documentation>4 Arrows (Gray)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4RedToBlack">
        <xsd:annotation>
          <xsd:documentation>4 Red To Black</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4Rating">
        <xsd:annotation>
          <xsd:documentation>4 Ratings</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4TrafficLights">
        <xsd:annotation>
          <xsd:documentation>4 Traffic Lights</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5Arrows">
        <xsd:annotation>
          <xsd:documentation>5 Arrows</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5ArrowsGray">
        <xsd:annotation>
          <xsd:documentation>5 Arrows (Gray)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5Rating">
        <xsd:annotation>
          <xsd:documentation>5 Ratings Icon Set</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5Quarters">
        <xsd:annotation>
          <xsd:documentation>5 Quarters</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_SortState">
    <xsd:sequence>
      <xsd:element name="sortCondition" minOccurs="0" maxOccurs="64" type="CT_SortCondition">
        <xsd:annotation>
          <xsd:documentation>Sort Condition</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="columnSort" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Sort by Columns</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="caseSensitive" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Case Sensitive</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sortMethod" type="ST_SortMethod" use="optional" default="none">
      <xsd:annotation>
        <xsd:documentation>Sort Method</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ref" type="ST_Ref" use="required">
      <xsd:annotation>
        <xsd:documentation>Sort Range</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_SortCondition">
    <xsd:attribute name="descending" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Descending</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sortBy" type="ST_SortBy" use="optional" default="value">
      <xsd:annotation>
        <xsd:documentation>Sort By</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ref" type="ST_Ref" use="required">
      <xsd:annotation>
        <xsd:documentation>Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="customList" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Custom List</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iconSet" type="ST_IconSetType" use="optional" default="3Arrows">
      <xsd:annotation>
        <xsd:documentation>Icon Set</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iconId" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Icon Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_SortBy">
    <xsd:annotation>
      <xsd:documentation>Sort By</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="value">
        <xsd:annotation>
          <xsd:documentation>Value</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="cellColor">
        <xsd:annotation>
          <xsd:documentation>Sort by Cell Color</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="fontColor">
        <xsd:annotation>
          <xsd:documentation>Sort by Font Color</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="icon">
        <xsd:annotation>
          <xsd:documentation>Sort by Icon</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_SortMethod">
    <xsd:annotation>
      <xsd:documentation>Sort Method</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="stroke">
        <xsd:annotation>
          <xsd:documentation>Sort by Stroke</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="pinYin">
        <xsd:annotation>
          <xsd:documentation>PinYin Sort</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>None</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_CalendarType">
    <xsd:annotation>
      <xsd:documentation>Calendar Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>No Calendar Type</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gregorian">
        <xsd:annotation>
          <xsd:documentation>Gregorian</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gregorianUs">
        <xsd:annotation>
          <xsd:documentation>Gregorian (U.S.) Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="japan">
        <xsd:annotation>
          <xsd:documentation>Japanese Emperor Era Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="taiwan">
        <xsd:annotation>
          <xsd:documentation>Taiwan Era Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="korea">
        <xsd:annotation>
          <xsd:documentation>Korean Tangun Era Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hijri">
        <xsd:annotation>
          <xsd:documentation>Hijri (Arabic Lunar) Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="thai">
        <xsd:annotation>
          <xsd:documentation>Thai Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hebrew">
        <xsd:annotation>
          <xsd:documentation>Hebrew (Lunar) Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gregorianMeFrench">
        <xsd:annotation>
          <xsd:documentation>Gregorian Middle East French Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gregorianArabic">
        <xsd:annotation>
          <xsd:documentation>Gregorian Arabic Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gregorianXlitEnglish">
        <xsd:annotation>
          <xsd:documentation>Gregorian Transliterated English Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gregorianXlitFrench">
        <xsd:annotation>
          <xsd:documentation>Gregorian Transliterated French Calendar</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_DateGroupItem">
    <xsd:attribute name="year" type="xsd:unsignedShort" use="required">
      <xsd:annotation>
        <xsd:documentation>Year</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="month" type="xsd:unsignedShort" use="optional">
      <xsd:annotation>
        <xsd:documentation>Month</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="day" type="xsd:unsignedShort" use="optional">
      <xsd:annotation>
        <xsd:documentation>Day</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hour" type="xsd:unsignedShort" use="optional">
      <xsd:annotation>
        <xsd:documentation>Hour</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minute" type="xsd:unsignedShort" use="optional">
      <xsd:annotation>
        <xsd:documentation>Minute</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="second" type="xsd:unsignedShort" use="optional">
      <xsd:annotation>
        <xsd:documentation>Second</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dateTimeGrouping" type="ST_DateTimeGrouping" use="required">
      <xsd:annotation>
        <xsd:documentation>Date Time Grouping</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_DateTimeGrouping">
    <xsd:annotation>
      <xsd:documentation>Date Time Grouping</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="year">
        <xsd:annotation>
          <xsd:documentation>Group by Year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="month">
        <xsd:annotation>
          <xsd:documentation>Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="day">
        <xsd:annotation>
          <xsd:documentation>Day</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hour">
        <xsd:annotation>
          <xsd:documentation>Group by Hour</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="minute">
        <xsd:annotation>
          <xsd:documentation>Group by Minute</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="second">
        <xsd:annotation>
          <xsd:documentation>Second</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>