docx4j/xsd/sml/sml-externalConnections.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/main" elementFormDefault="qualified" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">

  <xsd:include schemaLocation="sml-baseTypes.xsd" />
  <xsd:include schemaLocation="sml-pivotTable.xsd" />
  <xsd:element name="connections" type="CT_Connections">
    <xsd:annotation>
      <xsd:documentation>Connections</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_Connections">
    <xsd:sequence>
      <xsd:element name="connection" minOccurs="1" maxOccurs="unbounded" type="CT_Connection">
        <xsd:annotation>
          <xsd:documentation>Connection</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CT_Connection">
    <xsd:sequence>
      <xsd:element name="dbPr" minOccurs="0" maxOccurs="1" type="CT_DbPr">
        <xsd:annotation>
          <xsd:documentation>ODBC &amp; OLE DB Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="olapPr" minOccurs="0" maxOccurs="1" type="CT_OlapPr">
        <xsd:annotation>
          <xsd:documentation>OLAP Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="webPr" minOccurs="0" maxOccurs="1" type="CT_WebPr">
        <xsd:annotation>
          <xsd:documentation>Web Query Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="textPr" minOccurs="0" maxOccurs="1" type="CT_TextPr">
        <xsd:annotation>
          <xsd:documentation>Text Import Settings</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="parameters" minOccurs="0" maxOccurs="1" type="CT_Parameters">
        <xsd:annotation>
          <xsd:documentation>Query Parameters</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" minOccurs="0" maxOccurs="1" type="CT_ExtensionList">
        <xsd:annotation>
          <xsd:documentation>Future Feature Data Storage</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" use="required" type="xsd:unsignedInt">
      <xsd:annotation>
        <xsd:documentation>Connection Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sourceFile" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Source Database File</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="odcFile" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Connection File</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="keepAlive" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Keep Connection Open</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="interval" use="optional" type="xsd:unsignedInt" default="0">
      <xsd:annotation>
        <xsd:documentation>Automatic Refresh Interval</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Connection Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="description" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Connection Description</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" use="optional" type="xsd:unsignedInt">
      <xsd:annotation>
        <xsd:documentation>Database Source Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="reconnectionMethod" use="optional" type="xsd:unsignedInt" default="1">
      <xsd:annotation>
        <xsd:documentation>Reconnection Method</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="refreshedVersion" use="required" type="xsd:unsignedByte">
      <xsd:annotation>
        <xsd:documentation>Last Refresh Version</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minRefreshableVersion" use="optional" type="xsd:unsignedByte" default="0">
      <xsd:annotation>
        <xsd:documentation>Minimum Version Required for Refresh</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="savePassword" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Save Password</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="new" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>New Connection</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="deleted" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Deleted Connection</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="onlyUseConnectionFile" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Only Use Connection File</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="background" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Background Refresh</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="refreshOnLoad" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Refresh on Open</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="saveData" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Save Data</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="credentials" use="optional" type="ST_CredMethod" default="integrated">
      <xsd:annotation>
        <xsd:documentation>Reconnection Method</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="singleSignOnId" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>SSO Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_CredMethod">
    <xsd:annotation>
      <xsd:documentation>Credentials Method</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="integrated">
        <xsd:annotation>
          <xsd:documentation>Integrated Authentication</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>No Credentials</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="stored">
        <xsd:annotation>
          <xsd:documentation>Stored Credentials</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="prompt">
        <xsd:annotation>
          <xsd:documentation>Prompt Credentials</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_DbPr">
    <xsd:attribute name="connection" use="required" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Connection String</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="command" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Command Text</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serverCommand" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Command Text</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="commandType" use="optional" type="xsd:unsignedInt" default="2">
      <xsd:annotation>
        <xsd:documentation>OLE DB Command Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_OlapPr">
    <xsd:attribute name="local" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Local Cube</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="localConnection" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Local Cube Connection</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="localRefresh" use="optional" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>Local Refresh</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sendLocale" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Send Locale to OLAP</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rowDrillCount" use="optional" type="xsd:unsignedInt">
      <xsd:annotation>
        <xsd:documentation>Drill Through Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serverFill" use="optional" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>OLAP Fill Formatting</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serverNumberFormat" use="optional" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>OLAP Number Format</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serverFont" use="optional" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>OLAP Server Font</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="serverFontColor" use="optional" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>OLAP Font Formatting</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_WebPr">
    <xsd:sequence>
      <xsd:element name="tables" minOccurs="0" maxOccurs="1" type="CT_Tables">
        <xsd:annotation>
          <xsd:documentation>Tables</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="xml" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>XML Source</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sourceData" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Import XML Source Data</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="parsePre" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Parse PRE</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="consecutive" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Consecutive Delimiters</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="firstRow" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Use First Row</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="xl97" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Created in Excel 97</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="textDates" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Dates as Text</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="xl2000" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Refreshed in Excel 2000</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="url" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>URL</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="post" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Web Post</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="htmlTables" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>HTML Tables Only</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="htmlFormat" use="optional" type="ST_HtmlFmt" default="none">
      <xsd:annotation>
        <xsd:documentation>HTML Formatting Handling</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="editPage" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Edit Query URL</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_HtmlFmt">
    <xsd:annotation>
      <xsd:documentation>HTML Formatting Handling</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>No Formatting</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="rtf">
        <xsd:annotation>
          <xsd:documentation>Honor Rich Text</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="all">
        <xsd:annotation>
          <xsd:documentation>All</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_Parameters">
    <xsd:sequence>
      <xsd:element name="parameter" minOccurs="1" maxOccurs="unbounded" type="CT_Parameter">
        <xsd:annotation>
          <xsd:documentation>Parameter Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" use="optional" type="xsd:unsignedInt">
      <xsd:annotation>
        <xsd:documentation>Parameter Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Parameter">
    <xsd:attribute name="name" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Parameter Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sqlType" use="optional" type="xsd:int" default="0">
      <xsd:annotation>
        <xsd:documentation>SQL Data Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="parameterType" use="optional" type="ST_ParameterType" default="prompt">
      <xsd:annotation>
        <xsd:documentation>Parameter Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="refreshOnChange" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Refresh on Change</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="prompt" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Parameter Prompt String</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="boolean" use="optional" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Boolean</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="double" use="optional" type="xsd:double">
      <xsd:annotation>
        <xsd:documentation>Double</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="integer" use="optional" type="xsd:int">
      <xsd:annotation>
        <xsd:documentation>Integer</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="string" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>String</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="cell" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Cell Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_ParameterType">
    <xsd:annotation>
      <xsd:documentation>Parameter Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="prompt">
        <xsd:annotation>
          <xsd:documentation>Prompt on Refresh</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="value">
        <xsd:annotation>
          <xsd:documentation>Value</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="cell">
        <xsd:annotation>
          <xsd:documentation>Parameter From Cell</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_Tables">
    <xsd:choice minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="m" type="CT_TableMissing">
        <xsd:annotation>
          <xsd:documentation>No Value</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="s" type="CT_XStringElement">
        <xsd:annotation>
          <xsd:documentation>Character Value</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="x" type="CT_Index">
        <xsd:annotation>
          <xsd:documentation>Index</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="count" use="optional" type="xsd:unsignedInt">
      <xsd:annotation>
        <xsd:documentation>Count of Tables</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_TableMissing"></xsd:complexType>
  <xsd:complexType name="CT_TextPr">
    <xsd:sequence>
      <xsd:element name="textFields" minOccurs="0" maxOccurs="1" type="CT_TextFields">
        <xsd:annotation>
          <xsd:documentation>Fields</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="prompt" use="optional" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>Prompt for File Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fileType" use="optional" type="ST_FileType" default="win">
      <xsd:annotation>
        <xsd:documentation>File Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="codePage" use="optional" type="xsd:unsignedInt" default="1252">
      <xsd:annotation>
        <xsd:documentation>Code Page</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="firstRow" use="optional" type="xsd:unsignedInt" default="1">
      <xsd:annotation>
        <xsd:documentation>First Row</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sourceFile" use="optional" type="ST_Xstring" default="">
      <xsd:annotation>
        <xsd:documentation>Source File Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="delimited" use="optional" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>Delimited File</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="decimal" use="optional" type="ST_Xstring" default=".">
      <xsd:annotation>
        <xsd:documentation>Decimal Separator</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="thousands" use="optional" type="ST_Xstring" default=",">
      <xsd:annotation>
        <xsd:documentation>Thousands Separator</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="tab" use="optional" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>Tab as Delimiter</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="space" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Space is Delimiter</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="comma" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Comma is Delimiter</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="semicolon" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Semicolon is Delimiter</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="consecutive" use="optional" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Consecutive Delimiters</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="qualifier" use="optional" type="ST_Qualifier" default="doubleQuote">
      <xsd:annotation>
        <xsd:documentation>Qualifier</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="delimiter" use="optional" type="ST_Xstring">
      <xsd:annotation>
        <xsd:documentation>Custom Delimiter</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_FileType">
    <xsd:annotation>
      <xsd:documentation>File Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="mac">
        <xsd:annotation>
          <xsd:documentation>Macintosh</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="win">
        <xsd:annotation>
          <xsd:documentation>Windows (ANSI)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dos">
        <xsd:annotation>
          <xsd:documentation>DOS</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_Qualifier">
    <xsd:annotation>
      <xsd:documentation>Qualifier</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="doubleQuote">
        <xsd:annotation>
          <xsd:documentation>Double Quote</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="singleQuote">
        <xsd:annotation>
          <xsd:documentation>Single Quote</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>No Text Qualifier</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_TextFields">
    <xsd:sequence>
      <xsd:element name="textField" minOccurs="1" maxOccurs="unbounded" type="CT_TextField">
        <xsd:annotation>
          <xsd:documentation>Text Import Field Settings</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" use="optional" type="xsd:unsignedInt" default="1">
      <xsd:annotation>
        <xsd:documentation>Count of Fields</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_TextField">
    <xsd:attribute name="type" use="optional" type="ST_ExternalConnectionType" default="general">
      <xsd:annotation>
        <xsd:documentation>Field Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="position" use="optional" type="xsd:unsignedInt" default="0">
      <xsd:annotation>
        <xsd:documentation>Position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_ExternalConnectionType">
    <xsd:annotation>
      <xsd:documentation>Text Field Datatype</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="general">
        <xsd:annotation>
          <xsd:documentation>General</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="text">
        <xsd:annotation>
          <xsd:documentation>Text</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MDY">
        <xsd:annotation>
          <xsd:documentation>Month Day Year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DMY">
        <xsd:annotation>
          <xsd:documentation>Day Month Year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="YMD">
        <xsd:annotation>
          <xsd:documentation>Year Month Day</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MYD">
        <xsd:annotation>
          <xsd:documentation>Month Day Year</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DYM">
        <xsd:annotation>
          <xsd:documentation>Day Year Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="YDM">
        <xsd:annotation>
          <xsd:documentation>Year Day Month</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="skip">
        <xsd:annotation>
          <xsd:documentation>Skip Field</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="EMD">
        <xsd:annotation>
          <xsd:documentation>East Asian Year Month Day</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>