docx4j/xsd/sml/sml-sharedWorkbookRevisions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/main" elementFormDefault="qualified" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">

  <xsd:import namespace="http://schemas.openxmlformats.org/officeDocument/2006/relationships" schemaLocation="../shared/shared-relationshipReference.xsd" />
  <xsd:include schemaLocation="sml-baseTypes.xsd" />
  <xsd:include schemaLocation="sml-sheet.xsd" />
  <xsd:include schemaLocation="sml-styles.xsd" />
  <xsd:element name="headers" type="CT_RevisionHeaders">
    <xsd:annotation>
      <xsd:documentation>Revision Headers</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="revisions" type="CT_Revisions">
    <xsd:annotation>
      <xsd:documentation>Revisions</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_RevisionHeaders">
    <xsd:sequence>
      <xsd:element name="header" type="CT_RevisionHeader" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Header</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="guid" type="ST_Guid" use="required">
      <xsd:annotation>
        <xsd:documentation>Last Revision GUID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lastGuid" type="ST_Guid" use="optional">
      <xsd:annotation>
        <xsd:documentation>Last GUID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="shared" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>Shared Workbook</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="diskRevisions" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Disk Revisions</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="history" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>History</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="trackRevisions" type="xsd:boolean" default="true">
      <xsd:annotation>
        <xsd:documentation>Track Revisions</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="exclusive" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Exclusive Mode</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="revisionId" type="xsd:unsignedInt" default="0">
      <xsd:annotation>
        <xsd:documentation>Revision Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="version" type="xsd:int" default="1">
      <xsd:annotation>
        <xsd:documentation>Version</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="keepChangeHistory" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Keep Change History</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="protected" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Protected</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="preserveHistory" type="xsd:unsignedInt" default="30">
      <xsd:annotation>
        <xsd:documentation>Preserve History</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Revisions">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="rrc" type="CT_RevisionRowColumn" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Row Column Insert Delete</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rm" type="CT_RevisionMove" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Cell Move</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rcv" type="CT_RevisionCustomView" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Custom View</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rsnm" type="CT_RevisionSheetRename" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Sheet Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ris" type="CT_RevisionInsertSheet" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Insert Sheet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rcc" type="CT_RevisionCellChange" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Cell Change</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rfmt" type="CT_RevisionFormatting" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Format</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="raf" type="CT_RevisionAutoFormatting" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision AutoFormat</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rdn" type="CT_RevisionDefinedName" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Defined Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rcmt" type="CT_RevisionComment" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Cell Comment</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rqt" type="CT_RevisionQueryTableField" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Query Table</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rcft" type="CT_RevisionConflict" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Merge Conflict</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:attributeGroup name="AG_RevData">
    <xsd:attribute name="rId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Revision Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ua" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Revision From Rejection</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ra" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Revision Undo Rejected</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:complexType name="CT_RevisionHeader">
    <xsd:sequence>
      <xsd:element name="sheetIdMap" minOccurs="1" maxOccurs="1" type="CT_SheetIdMap">
        <xsd:annotation>
          <xsd:documentation>Sheet Id Map</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="reviewedList" minOccurs="0" maxOccurs="1" type="CT_ReviewedRevisions">
        <xsd:annotation>
          <xsd:documentation>Reviewed List</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" minOccurs="0" type="CT_ExtensionList"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="guid" type="ST_Guid" use="required">
      <xsd:annotation>
        <xsd:documentation>GUID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dateTime" type="xsd:dateTime" use="required">
      <xsd:annotation>
        <xsd:documentation>Date Time</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="maxSheetId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Last Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="userName" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>User Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute ref="r:id" use="required">
      <xsd:annotation>
        <xsd:documentation>Relationship ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minRId" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Minimum Revision Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="maxRId" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Max Revision Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_SheetIdMap">
    <xsd:sequence>
      <xsd:element name="sheetId" type="CT_SheetId" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Sheet Id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Sheet Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_SheetId">
    <xsd:attribute name="val" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_ReviewedRevisions">
    <xsd:sequence>
      <xsd:element name="reviewed" type="CT_Reviewed" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Reviewed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Reviewed Revisions Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_Reviewed">
    <xsd:attribute name="rId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>revision Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_UndoInfo">
    <xsd:attribute name="index" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="exp" type="ST_FormulaExpression" use="required">
      <xsd:annotation>
        <xsd:documentation>Expression</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ref3D" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Reference 3D</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="array" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Array Entered</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="v" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Value Needed</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="nf" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Defined Name Formula</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="cs" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Cross Sheet Move</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dr" type="ST_RefA" use="required">
      <xsd:annotation>
        <xsd:documentation>Range</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dn" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Defined Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="r" type="ST_CellRef" use="optional">
      <xsd:annotation>
        <xsd:documentation>Cell Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sId" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionRowColumn">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="undo" type="CT_UndoInfo" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Undo</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rcc" type="CT_RevisionCellChange" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revised Row Column</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rfmt" type="CT_RevisionFormatting" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Format</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
    <xsd:attributeGroup ref="AG_RevData" />
    <xsd:attribute name="sId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="eol" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>End Of List</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ref" type="ST_Ref" use="required">
      <xsd:annotation>
        <xsd:documentation>Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="action" type="ST_rwColActionType" use="required">
      <xsd:annotation>
        <xsd:documentation>User Action</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="edge" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Edge Deleted</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionMove">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="undo" type="CT_UndoInfo" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Undo</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rcc" type="CT_RevisionCellChange" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Cell Change</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rfmt" type="CT_RevisionFormatting" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Revision Format</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
    <xsd:attributeGroup ref="AG_RevData" />
    <xsd:attribute name="sheetId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="source" type="ST_Ref" use="required">
      <xsd:annotation>
        <xsd:documentation>Source</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="destination" type="ST_Ref" use="required">
      <xsd:annotation>
        <xsd:documentation>Destination</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sourceSheetId" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Source Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionCustomView">
    <xsd:attribute name="guid" type="ST_Guid" use="required">
      <xsd:annotation>
        <xsd:documentation>GUID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="action" type="ST_RevisionAction" use="required">
      <xsd:annotation>
        <xsd:documentation>User Action</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionSheetRename">
    <xsd:sequence>
      <xsd:element name="extLst" minOccurs="0" type="CT_ExtensionList"></xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="AG_RevData" />
    <xsd:attribute name="sheetId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldName" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Old Sheet Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="newName" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>New Sheet Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionInsertSheet">
    <xsd:attributeGroup ref="AG_RevData" />
    <xsd:attribute name="sheetId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sheetPosition" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Position</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionCellChange">
    <xsd:sequence>
      <xsd:element name="oc" type="CT_Cell" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Old Cell Data</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nc" type="CT_Cell" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>New Cell Data</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="odxf" type="CT_Dxf" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Old Formatting Information</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ndxf" type="CT_Dxf" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>New Formatting Information</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" minOccurs="0" type="CT_ExtensionList"></xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="AG_RevData" />
    <xsd:attribute name="sId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="odxf" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Old Formatting</xsd:documentation>
				<xsd:appinfo>
					<jaxb:property name="odxfQ"/>
				</xsd:appinfo>        
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="xfDxf" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Row Column Formatting Change</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="s" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Style Revision</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dxf" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Formatting</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="numFmtId" type="ST_NumFmtId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Number Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="quotePrefix" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Quote Prefix</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldQuotePrefix" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Old Quote Prefix</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ph" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Phonetic Text</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldPh" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Old Phonetic Text</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="endOfListFormulaUpdate" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>End of List  Formula Update</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionFormatting">
    <xsd:sequence>
      <xsd:element name="dxf" type="CT_Dxf" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Formatting</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" minOccurs="0" type="CT_ExtensionList"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="sheetId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="xfDxf" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Row or Column Formatting Change</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="s" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sqref" type="ST_Sqref" use="required">
      <xsd:annotation>
        <xsd:documentation>Sequence Of References</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="start" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Start index</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="length" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Length</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionAutoFormatting">
    <xsd:attribute name="sheetId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attributeGroup ref="AG_AutoFormat" />
    <xsd:attribute name="ref" type="ST_Ref" use="required">
      <xsd:annotation>
        <xsd:documentation>Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionComment">
    <xsd:attribute name="sheetId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="cell" type="ST_CellRef" use="required">
      <xsd:annotation>
        <xsd:documentation>Cell</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="guid" type="ST_Guid" use="required">
      <xsd:annotation>
        <xsd:documentation>GUID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="action" type="ST_RevisionAction" default="add">
      <xsd:annotation>
        <xsd:documentation>User Action</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="alwaysShow" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Always Show Comment</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="old" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Old Comment</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hiddenRow" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Comment In Hidden Row</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hiddenColumn" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Hidden Column</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="author" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Author</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldLength" type="xsd:unsignedInt" default="0">
      <xsd:annotation>
        <xsd:documentation>Original Comment Length</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="newLength" type="xsd:unsignedInt" default="0">
      <xsd:annotation>
        <xsd:documentation>New Comment Length</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionDefinedName">
    <xsd:sequence>
      <xsd:element name="formula" type="ST_Formula" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Formula</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="oldFormula" type="ST_Formula" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Old Formula</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" minOccurs="0" type="CT_ExtensionList"></xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="AG_RevData" />
    <xsd:attribute name="localSheetId" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Local Name Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="customView" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Custom View</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="function" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Function</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldFunction" type="xsd:boolean" default="false">
      <xsd:annotation>
        <xsd:documentation>Old Function</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="functionGroupId" type="xsd:unsignedByte" use="optional">
      <xsd:annotation>
        <xsd:documentation>Function Group Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldFunctionGroupId" type="xsd:unsignedByte" use="optional">
      <xsd:annotation>
        <xsd:documentation>Old Function Group Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="shortcutKey" type="xsd:unsignedByte" use="optional">
      <xsd:annotation>
        <xsd:documentation>Shortcut Key</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldShortcutKey" type="xsd:unsignedByte" use="optional">
      <xsd:annotation>
        <xsd:documentation>Old Short Cut Key</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hidden" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Named Range Hidden</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldHidden" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Old Hidden</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="customMenu" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>New Custom Menu</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldCustomMenu" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Old Custom Menu Text</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="description" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Description</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldDescription" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Old Description</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="help" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>New Help Topic</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldHelp" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Old Help Topic</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="statusBar" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Status Bar</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldStatusBar" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Old Status Bar</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="comment" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name Comment</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="oldComment" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Old Name Comment</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionConflict">
    <xsd:attributeGroup ref="AG_RevData" />
    <xsd:attribute name="sheetId" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_RevisionQueryTableField">
    <xsd:attribute name="sheetId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Sheet Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ref" type="ST_Ref" use="required">
      <xsd:annotation>
        <xsd:documentation>QueryTable Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fieldId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Field Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_rwColActionType">
    <xsd:annotation>
      <xsd:documentation>Row Column Action Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="insertRow">
        <xsd:annotation>
          <xsd:documentation>Insert Row</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="deleteRow">
        <xsd:annotation>
          <xsd:documentation>Delete Row</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="insertCol">
        <xsd:annotation>
          <xsd:documentation>Column Insert</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="deleteCol">
        <xsd:annotation>
          <xsd:documentation>Delete Column</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_RevisionAction">
    <xsd:annotation>
      <xsd:documentation>Revision Action Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="add">
        <xsd:annotation>
          <xsd:documentation>Add</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="delete">
        <xsd:annotation>
          <xsd:documentation>Delete</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ST_FormulaExpression">
    <xsd:annotation>
      <xsd:documentation>Formula Expression Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ref">
        <xsd:annotation>
          <xsd:documentation>Reference</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="refError">
        <xsd:annotation>
          <xsd:documentation>Reference Is Error</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="area">
        <xsd:annotation>
          <xsd:documentation>Area</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="areaError">
        <xsd:annotation>
          <xsd:documentation>Area Error</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="computedArea">
        <xsd:annotation>
          <xsd:documentation>Computed Area</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>