docx4j/xsd/sml/sml-table.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://schemas.openxmlformats.org/spreadsheetml/2006/main" elementFormDefault="qualified" xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="2.1">

  <xsd:include schemaLocation="sml-baseTypes.xsd" />
  <xsd:include schemaLocation="sml-styles.xsd" />
  <xsd:include schemaLocation="sml-autoFilter.xsd" />
  <xsd:include schemaLocation="sml-sheet.xsd" />
  <xsd:element name="table" type="CT_Table">
    <xsd:annotation>
      <xsd:documentation>Table</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CT_Table">
    <xsd:sequence>
      <xsd:element name="autoFilter" type="CT_AutoFilter" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Table AutoFilter</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sortState" type="CT_SortState" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Sort State</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tableColumns" type="CT_TableColumns" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Table Columns</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tableStyleInfo" type="CT_TableStyleInfo" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Table Style</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Future Feature Data Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Table Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="displayName" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Table Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="comment" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Table Comment</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ref" type="ST_Ref" use="required">
      <xsd:annotation>
        <xsd:documentation>Reference</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="tableType" type="ST_TableType" use="optional" default="worksheet">
      <xsd:annotation>
        <xsd:documentation>Table Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="headerRowCount" type="xsd:unsignedInt" use="optional" default="1">
      <xsd:annotation>
        <xsd:documentation>Header Row Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="insertRow" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Insert Row Showing</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="insertRowShift" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Insert Row Shift</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalsRowCount" type="xsd:unsignedInt" use="optional" default="0">
      <xsd:annotation>
        <xsd:documentation>Totals Row Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalsRowShown" type="xsd:boolean" use="optional" default="true">
      <xsd:annotation>
        <xsd:documentation>Totals Row Shown</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="published" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Published</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="headerRowDxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Header Row Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dataDxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Data Area Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalsRowDxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Totals Row Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="headerRowBorderDxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Header Row Border Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="tableBorderDxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Table Border Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalsRowBorderDxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Totals Row Border Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="headerRowCellStyle" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Header Row Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dataCellStyle" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Data Style Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalsRowCellStyle" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Totals Row Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="connectionId" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Connection ID</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_TableType">
    <xsd:annotation>
      <xsd:documentation>Table Type</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="worksheet">
        <xsd:annotation>
          <xsd:documentation>Worksheet</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="xml">
        <xsd:annotation>
          <xsd:documentation>XML</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="queryTable">
        <xsd:annotation>
          <xsd:documentation>Query Table</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_TableStyleInfo">
    <xsd:attribute name="name" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Style Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showFirstColumn" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Show First Column</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showLastColumn" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Show Last Column</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showRowStripes" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Show Row Stripes</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="showColumnStripes" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Show Column Stripes</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_TableColumns">
    <xsd:sequence>
      <xsd:element name="tableColumn" type="CT_TableColumn" minOccurs="1" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Table Column</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="count" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Column Count</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_TableColumn">
    <xsd:sequence>
      <xsd:element name="calculatedColumnFormula" type="CT_TableFormula" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Calculated Column Formula</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totalsRowFormula" type="CT_TableFormula" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Totals Row Formula</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="xmlColumnPr" type="CT_XmlColumnPr" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>XML Column Properties</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Future Feature Data Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>Table Field Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="uniqueName" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Unique Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="name" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>Column name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalsRowFunction" type="ST_TotalsRowFunction" use="optional" default="none">
      <xsd:annotation>
        <xsd:documentation>Totals Row Function</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalsRowLabel" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Totals Row Label</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="queryTableFieldId" type="xsd:unsignedInt" use="optional">
      <xsd:annotation>
        <xsd:documentation>Query Table Field Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="headerRowDxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Header Row Cell Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dataDxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Data &amp; Insert Row Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalsRowDxfId" type="ST_DxfId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Totals Row Format Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="headerRowCellStyle" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Header Row Cell Style</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="dataCellStyle" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Data Area Style Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="totalsRowCellStyle" type="ST_Xstring" use="optional">
      <xsd:annotation>
        <xsd:documentation>Totals Row Style Name</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="CT_TableFormula">
    <xsd:simpleContent>
      <xsd:extension base="ST_Formula">
        <xsd:attribute name="array" type="xsd:boolean" default="false">
          <xsd:annotation>
            <xsd:documentation>Array</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ST_TotalsRowFunction">
    <xsd:annotation>
      <xsd:documentation>Totals Row Function Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none">
        <xsd:annotation>
          <xsd:documentation>None</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="sum">
        <xsd:annotation>
          <xsd:documentation>Sum</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="min">
        <xsd:annotation>
          <xsd:documentation>Minimum</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="max">
        <xsd:annotation>
          <xsd:documentation>Maximum</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="average">
        <xsd:annotation>
          <xsd:documentation>Average</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="count">
        <xsd:annotation>
          <xsd:documentation>Non Empty Cell Count</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="countNums">
        <xsd:annotation>
          <xsd:documentation>Count Numbers</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="stdDev">
        <xsd:annotation>
          <xsd:documentation>StdDev</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="var">
        <xsd:annotation>
          <xsd:documentation>Var</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="custom">
        <xsd:annotation>
          <xsd:documentation>Custom Formula</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CT_XmlColumnPr">
    <xsd:sequence>
      <xsd:element name="extLst" type="CT_ExtensionList" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Future Feature Data Storage Area</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="mapId" type="xsd:unsignedInt" use="required">
      <xsd:annotation>
        <xsd:documentation>XML Map Id</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="xpath" type="ST_Xstring" use="required">
      <xsd:annotation>
        <xsd:documentation>XPath</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="denormalized" type="xsd:boolean" use="optional" default="false">
      <xsd:annotation>
        <xsd:documentation>Denormalized</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="xmlDataType" type="ST_XmlDataType" use="required">
      <xsd:annotation>
        <xsd:documentation>XML Data Type</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:simpleType name="ST_XmlDataType">
    <xsd:annotation>
      <xsd:documentation>XML Data Types</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="string">
        <xsd:annotation>
          <xsd:documentation>String</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="normalizedString">
        <xsd:annotation>
          <xsd:documentation>Normalized String</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="token">
        <xsd:annotation>
          <xsd:documentation>Token</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="byte">
        <xsd:annotation>
          <xsd:documentation>Byte</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unsignedByte">
        <xsd:annotation>
          <xsd:documentation>Unsigned Byte</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="base64Binary">
        <xsd:annotation>
          <xsd:documentation>Base 64 Encoded Binary</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="hexBinary">
        <xsd:annotation>
          <xsd:documentation>Hex Binary</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="integer">
        <xsd:annotation>
          <xsd:documentation>Integer</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="positiveInteger">
        <xsd:annotation>
          <xsd:documentation>Positive Integer</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="negativeInteger">
        <xsd:annotation>
          <xsd:documentation>Negative Integer</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="nonPositiveInteger">
        <xsd:annotation>
          <xsd:documentation>Non Positive Integer</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="nonNegativeInteger">
        <xsd:annotation>
          <xsd:documentation>Non Negative Integer</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="int">
        <xsd:annotation>
          <xsd:documentation>Integer</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unsignedInt">
        <xsd:annotation>
          <xsd:documentation>Unsigned Integer</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="long">
        <xsd:annotation>
          <xsd:documentation>Long</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unsignedLong">
        <xsd:annotation>
          <xsd:documentation>Unsigned Long</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="short">
        <xsd:annotation>
          <xsd:documentation>Short</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unsignedShort">
        <xsd:annotation>
          <xsd:documentation>Unsigned Short</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="decimal">
        <xsd:annotation>
          <xsd:documentation>Decimal</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="float">
        <xsd:annotation>
          <xsd:documentation>Float</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="double">
        <xsd:annotation>
          <xsd:documentation>Double</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="boolean">
        <xsd:annotation>
          <xsd:documentation>Boolean</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="time">
        <xsd:annotation>
          <xsd:documentation>Time</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="dateTime">
        <xsd:annotation>
          <xsd:documentation>Date Time</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="duration">
        <xsd:annotation>
          <xsd:documentation>Duration</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="date">
        <xsd:annotation>
          <xsd:documentation>Date</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gMonth">
        <xsd:annotation>
          <xsd:documentation>gMonth</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gYear">
        <xsd:annotation>
          <xsd:documentation>gYear</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gYearMonth">
        <xsd:annotation>
          <xsd:documentation>gYearMonth</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gDay">
        <xsd:annotation>
          <xsd:documentation>gDay</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="gMonthDay">
        <xsd:annotation>
          <xsd:documentation>gMonthDays</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Name">
        <xsd:annotation>
          <xsd:documentation>Name</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="QName">
        <xsd:annotation>
          <xsd:documentation>Qname</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NCName">
        <xsd:annotation>
          <xsd:documentation>NCName</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="anyURI">
        <xsd:annotation>
          <xsd:documentation>Any URI</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="language">
        <xsd:annotation>
          <xsd:documentation>Language</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ID">
        <xsd:annotation>
          <xsd:documentation>ID</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="IDREF">
        <xsd:annotation>
          <xsd:documentation>IDREF</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="IDREFS">
        <xsd:annotation>
          <xsd:documentation>IDREFS</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ENTITY">
        <xsd:annotation>
          <xsd:documentation>ENTITY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ENTITIES">
        <xsd:annotation>
          <xsd:documentation>ENTITIES</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NOTATION">
        <xsd:annotation>
          <xsd:documentation>Notation</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NMTOKEN">
        <xsd:annotation>
          <xsd:documentation>NMTOKEN</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NMTOKENS">
        <xsd:annotation>
          <xsd:documentation>NMTOKENS</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="anyType">
        <xsd:annotation>
          <xsd:documentation>Any Type</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>